<div
      data-same-height-display-contents
      style="--jc:start"
      class="grL15mDyOx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6Sd-hk-Tw"}' data-id="g6Sd-hk-Tw" id="g6Sd-hk-Tw" data-same-height-subgrid-container class="g6Sd-hk-Tw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr] gp_sticky-elm" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#242424;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pl:var(--g-s-m);--pb:var(--g-s-xl);--pr:var(--g-s-m);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghA50FBpOr gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gzbZ77H_iH"}' data-id="gzbZ77H_iH" id="gzbZ77H_iH" data-same-height-subgrid-container class="gzbZ77H_iH gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--pt:var(--g-s-xl);--pl:var(--g-s-m);--pb:var(--g-s-xl);--pr:var(--g-s-m);--cg:auto;--gtc:minmax(0, 12fr);--w:200px;--w-tablet:200px;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gypTydvmDp gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBczLnEuBG"
        class="gBczLnEuBG"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533420"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--c:#212121;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBczLnEuBG_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    <div gp-el-wrapper  class="ge1gNY-VFu ">
      
    
    <div class="gp-flex" >
    <div
      data-id="ge1gNY-VFu"
       style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-s)"
        >
        
    <li
      data-index="0" data-id="g_9hywXPMm"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-ge1gNY-VFu"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="g1bky-Tarz gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gCmxI3cU7f" class="gp-leading-[0] gCmxI3cU7f" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gCmxI3cU7f" class="icon-wrapper gp-inline-flex gp-overflow-hidden gCmxI3cU7f " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#354EB5">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gVu7CLDJH_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gyN2O0IjNF"
        class="gyN2O0IjNF"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533421"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyN2O0IjNF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gWMmZO1_WY"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-ge1gNY-VFu"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="gIVR5t-sI3 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="geO2fS1PZm" class="gp-leading-[0] geO2fS1PZm" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="geO2fS1PZm" class="icon-wrapper gp-inline-flex gp-overflow-hidden geO2fS1PZm " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#354EB5">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gyHYlYZWGx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1UWftNZQL"
        class="g1UWftNZQL"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533422"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1UWftNZQL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gtsMI5K9Oi"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-ge1gNY-VFu"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="gXoK44tWE0 gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gaTg-UaEYU" class="gp-leading-[0] gaTg-UaEYU" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gaTg-UaEYU" class="icon-wrapper gp-inline-flex gp-overflow-hidden gaTg-UaEYU " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#354EB5">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gU_Ux12SJf gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7kcvh_1yy"
        class="g7kcvh_1yy"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533423"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7kcvh_1yy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="3" data-id="gF4hDyERxF"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-ge1gNY-VFu"
      style="--cg:var(--g-s-s)"
    >
    <div
      data-same-height-display-contents
      
      class="ger9QxmXmy gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gphcF-OISM" class="gp-leading-[0] gphcF-OISM" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gphcF-OISM" class="icon-wrapper gp-inline-flex gp-overflow-hidden gphcF-OISM " style="--bs:none;--bw:0px;--bc:transparent;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--focus-bblr:20px;--focus-bbrr:20px;--focus-btlr:20px;--focus-btrr:20px;-undefined-bblr:20px;-undefined-bbrr:20px;-undefined-btlr:20px;-undefined-btrr:20px;--bg:#354EB5">
      
        <div >
          <span style="--c:#ffffff;--t:rotate(0deg);--w:20px;--h:20px;--minw:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M351.04 159.04a24 24 0 0 1 34.24 33.6l-127.68 159.68a24 24 0 0 1 -34.56 0.64L138.368 268.288a24 24 0 1 1 33.92 -33.92l67.008 66.976 111.136 -141.6a8.544 8.544 0 0 1 0.64 -0.704z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gsWK3IjoVV gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gGvpqyPAdQ"
        class="gGvpqyPAdQ"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533424"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1 gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#757575;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggGvpqyPAdQ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    <div
       data-id="gJHOqFTUdM" class="gJHOqFTUdM !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-m);--mb-mobile:32px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--aspect:1/1">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gJHOqFTUdM" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/d5dc567f5a7e4abf9d7c6e2a794385d9.mp4" poster data-poster
      style="--aspect:1/1"
      class="gp-w-full"
      
      loop
      muted
      autoplay
      playsinline
      src="https://cdn.shopify.com/videos/c/o/v/d5dc567f5a7e4abf9d7c6e2a794385d9.mp4"
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","selectedTab":"products","target":"_self","title":"Heup- en gewrichtssnacks"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left" >
        <style>[data-id="gYlZB925AW"].gp-button-base::before, [data-id="gYlZB925AW-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="gYlZB925AW"]:hover::before, [data-id="gYlZB925AW-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gYlZB925AW" dataId="gYlZB925AW" data-state="idle" aria-label="<p>BESTEL NU MET 50% KORTING</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:16px;--pb-mobile:16px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--shadow:-0.06980962574913391px 3.999390780625565px 8px 0px rgba(0, 0, 0, 0.25);--bgi:;--hvr-bgi:;--hvr-bg:#246B60;--bg:#17443D;--size:19px;--lh:130%;--fs:normal;--weight:700;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px"
          class="gYlZB925AW gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-bg-3 undefined"
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--size:19px;--lh:130%;--fs:normal;--weight:700;--ls:normal;--size-tablet:19px;--lh-tablet:130%;--size-mobile:17px;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggYlZB925AW_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRMLDA6IOx"
        class="gRMLDA6IOx"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763768533427"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRMLDA6IOx_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>