{% comment %}Force bag icon for testing - remove this later{% endcomment %}
{% liquid
  assign cart_icon_type = 'bag'
%}

{% comment %}
Original logic - commented out for testing
assign cart_icon_type = 'cart'
assign header_section = sections['header']
if header_section and header_section.settings.cart_icon_type != blank
  assign cart_icon_type = header_section.settings.cart_icon_type
elsif settings.cart_icon_type != blank
  assign cart_icon_type = settings.cart_icon_type
endif
{% endcomment %}

{% comment %}Debug: cart_icon_type = {{ cart_icon_type }}, cart state = {{ cart.item_count }}{% endcomment %}

{% comment %}ALWAYS show bag icon for now - testing{% endcomment %}
<span class="svg-wrapper">
  <svg class="cart-bag-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgb(var(--color-drawer-text))" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
    <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <path d="M16 10a4 4 0 0 1-8 0"></path>
  </svg>
</span>

{% comment %}
Original conditional logic - commented out for testing
{% if cart_icon_type == 'bag' %}
  <span class="svg-wrapper">
    <svg class="cart-bag-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="rgb(var(--color-drawer-text))" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
      <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <path d="M16 10a4 4 0 0 1-8 0"></path>
    </svg>
  </span>
{% else %}
{% if cart == empty %}
  <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
{% else %}
  <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
{% endif %}
{% endif %}
{% endcomment %}

<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <div class="cart-count-bubble">
    {%- if cart.item_count < 100 -%}
      <span aria-hidden="true">{{ cart.item_count }}</span>
    {%- endif -%}
    <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
  </div>
{%- endif -%}

<style>
  /* Specific styling for cart bag icon */
  .cart-bag-icon {
    fill: none !important;
    height: 27px !important;
    width: 27px !important;
    stroke: rgb(var(--color-drawer-text)) !important;
  }

  .cart-bag-icon path,
  .cart-bag-icon line {
    fill: none !important;
    stroke: rgb(var(--color-drawer-text)) !important;
  }

  /* Override any icon classes that might interfere */
  svg.cart-bag-icon.icon,
  svg.cart-bag-icon.icon-cart-empty,
  svg.cart-bag-icon.icon-cart-empty-custom {
    fill: none !important;
    height: 27px !important;
    width: 27px !important;
    stroke: rgb(var(--color-drawer-text)) !important;
  }

  svg.cart-bag-icon.icon path,
  svg.cart-bag-icon.icon-cart-empty path,
  svg.cart-bag-icon.icon-cart-empty-custom path,
  svg.cart-bag-icon.icon line,
  svg.cart-bag-icon.icon-cart-empty line,
  svg.cart-bag-icon.icon-cart-empty-custom line {
    fill: none !important;
    stroke: rgb(var(--color-drawer-text)) !important;
  }
</style>
