
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595054199025238962.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-595054199025238962.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-595054199025238962.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-595054199025238962.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595054199025238962.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595054199025238962.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-595054199025238962.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595054199025238962.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595054199025238962.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595054199025238962.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595054199025238962.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-595054199025238962.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-595054199025238962.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595054199025238962.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-595054199025238962.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-595054199025238962.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-595054199025238962.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-595054199025238962.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595054199025238962.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595054199025238962.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-595054199025238962.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595054199025238962.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-595054199025238962.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595054199025238962.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-595054199025238962.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595054199025238962.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-595054199025238962.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595054199025238962.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595054199025238962.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595054199025238962.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595054199025238962.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595054199025238962.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595054199025238962.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595054199025238962.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595054199025238962.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-595054199025238962.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-595054199025238962.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-595054199025238962.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-595054199025238962.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595054199025238962.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595054199025238962.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-595054199025238962.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-595054199025238962.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-595054199025238962.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595054199025238962.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595054199025238962.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595054199025238962.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595054199025238962.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595054199025238962.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595054199025238962.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595054199025238962.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595054199025238962.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-595054199025238962.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595054199025238962.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-595054199025238962.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595054199025238962.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-595054199025238962.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-595054199025238962.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595054199025238962.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595054199025238962.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-595054199025238962.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-595054199025238962.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-595054199025238962.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-595054199025238962.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-595054199025238962.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-595054199025238962.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-595054199025238962.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-595054199025238962.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-595054199025238962.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-595054199025238962.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-595054199025238962.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595054199025238962.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-595054199025238962.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595054199025238962.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-595054199025238962.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595054199025238962.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-595054199025238962.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-595054199025238962.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595054199025238962.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595054199025238962.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595054199025238962.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595054199025238962.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-595054199025238962.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-595054199025238962.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-595054199025238962.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-595054199025238962 .gp-relative{position:relative}.gps-595054199025238962 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595054199025238962 .gp-mb-0{margin-bottom:0}.gps-595054199025238962 .gp-inline-block{display:inline-block}.gps-595054199025238962 .gp-flex{display:flex}.gps-595054199025238962 .gp-inline-flex{display:inline-flex}.gps-595054199025238962 .gp-grid{display:grid}.gps-595054199025238962 .gp-contents{display:contents}.gps-595054199025238962 .\!gp-hidden{display:none!important}.gps-595054199025238962 .gp-hidden{display:none}.gps-595054199025238962 .gp-h-auto{height:auto}.gps-595054199025238962 .gp-h-full{height:100%}.gps-595054199025238962 .gp-w-full{width:100%}.gps-595054199025238962 .gp-max-w-full{max-width:100%}.gps-595054199025238962 .gp-flex-none{flex:none}.gps-595054199025238962 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595054199025238962 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-595054199025238962 .gp-flex-col{flex-direction:column}.gps-595054199025238962 .gp-items-center{align-items:center}.gps-595054199025238962 .gp-justify-center{justify-content:center}.gps-595054199025238962 .gp-overflow-hidden{overflow:hidden}.gps-595054199025238962 .gp-break-words{overflow-wrap:break-word}.gps-595054199025238962 .gp-text-center{text-align:center}.gps-595054199025238962 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-595054199025238962 .gp-no-underline{text-decoration-line:none}.gps-595054199025238962 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595054199025238962 .gp-duration-200{transition-duration:.2s}.gps-595054199025238962 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595054199025238962 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-595054199025238962 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-595054199025238962 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-595054199025238962 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-595054199025238962 .tablet\:\!gp-hidden{display:none!important}.gps-595054199025238962 .tablet\:gp-hidden{display:none}.gps-595054199025238962 .tablet\:gp-h-auto{height:auto}.gps-595054199025238962 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-595054199025238962 .mobile\:\!gp-hidden{display:none!important}.gps-595054199025238962 .mobile\:gp-hidden{display:none}.gps-595054199025238962 .mobile\:gp-h-auto{height:auto}.gps-595054199025238962 .mobile\:gp-flex-none{flex:none}}.gps-595054199025238962 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-595054199025238962 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Abyssinica SIL';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/abyssinicasil/v9/oY1H8ezOqK7iI3rK_45WKoc8J6UZ.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFBF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-mN0Tz9nS"}' data-id="g-mN0Tz9nS" id="g-mN0Tz9nS" data-same-height-subgrid-container class="g-mN0Tz9nS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:0px;--pt:0px;--pl:0px;--pb:24px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:auto;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFBF7;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gD2_J49zOT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFF4E6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gs7_ESzbSp"}' data-id="gs7_ESzbSp" id="gs7_ESzbSp" data-same-height-subgrid-container class="gs7_ESzbSp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#D1D1D1;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:80px;--pt:12px;--pl:20px;--pb:12px;--pr:20px;--mb-mobile:21px;--pt-mobile:12px;--pl-mobile:20px;--pb-mobile:12px;--pr-mobile:20px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--w-mobile:100%;--bgc:#FFF4E6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g2_Gz5pZeo gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"goRXvarUlJ"}' data-id="goRXvarUlJ" id="goRXvarUlJ" data-same-height-subgrid-container class="goRXvarUlJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUl8dfZTUs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXezrIWVgl"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346937 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXezrIWVgl"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588234442166764118-9d97421c-1855-4f4d-b59c-09aad9188baa.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588234442166764118-9d97421c-1855-4f4d-b59c-09aad9188baa.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_588234442166764118-9d97421c-1855-4f4d-b59c-09aad9188baa.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_588234442166764118-9d97421c-1855-4f4d-b59c-09aad9188baa.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g1hlMrIbtl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gDRuZuK978"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346938 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gDRuZuK978"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Green_Modern_Veterinary_Clinic_Logo_3.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Green_Modern_Veterinary_Clinic_Logo_3.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Green_Modern_Veterinary_Clinic_Logo_3.svg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTEzMSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjEzMSIgZmlsbD0idXJsKCNnLTYwMC0xMzEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Green_Modern_Veterinary_Clinic_Logo_3.svg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80%;--w-tablet:80%;--w-mobile:80%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:transparent;--bblr:0px;--btrr:0px;--bbrr:0px;--btlr:0px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAw7vagfy_"}' data-id="gAw7vagfy_" id="gAw7vagfy_" data-same-height-subgrid-container class="gAw7vagfy_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:20px;--pb-tablet:24px;--pr-tablet:20px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBNFSoxMXF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUL1RomBhz"
        class="gUL1RomBhz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUL1RomBhz_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"giBtZYIam3"}' data-id="giBtZYIam3" id="giBtZYIam3" data-same-height-subgrid-container class="giBtZYIam3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#D1D1D1;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--pt:16px;--pl:16px;--pb:16px;--pr:16px;--mb-mobile:21px;--pt-mobile:10px;--pl-mobile:14px;--pb-mobile:10px;--pr-mobile:0px;--mb-tablet:24px;--pt-tablet:16px;--pl-tablet:16px;--pb-tablet:16px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gSEqGtHT3Q gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g-NttbSvpo"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1768792346939 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-NttbSvpo"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}" srcset="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}" srcset="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}" data-src="{{ "Gemini_Generated_Image_ksy67vksy67vksy6.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:auto;--objf:cover;--w:50px;--w-tablet:50px;--w-mobile:40px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--radiusType:rounded"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g-NttbSvpo">
        .g-NttbSvpo {

}
.g-NttbSvpo > figure > img {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="grsIObqhQ5 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVgtlyd3pj"
        class="gVgtlyd3pj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVgtlyd3pj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gVgtlyd3pj">
        .gVgtlyd3pj {

}
.gVgtlyd3pj p {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8fsvCDyW6"
        class="g8fsvCDyW6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8fsvCDyW6_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gX3O_JYRA_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346940 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gX3O_JYRA_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}" srcset="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}" srcset="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}" data-src="{{ "Voor_2_7fd62606-b310-4a32-ae7e-f3a9ea4a0b57.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gX3O_JYRA_">
        .gX3O_JYRA_ {

}
.gX3O_JYRA_ > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8hhyBopSD"
        class="g8hhyBopSD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8hhyBopSD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8hhyBopSD">
        .g8hhyBopSD {

}
.g8hhyBopSD p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gMLJj3sW97"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346941 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMLJj3sW97"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}" srcset="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}" srcset="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}" data-src="{{ "imgi_7_gempages_524124171878269860-e883310c-8ea5-4a34-84be-3f7790485543.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gMLJj3sW97">
        .gMLJj3sW97 {

}
.gMLJj3sW97 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY0JmB8qSm"
        class="gY0JmB8qSm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY0JmB8qSm_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPTwSVyY5h"
        class="gPTwSVyY5h"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPTwSVyY5h_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPTwSVyY5h">
        .gPTwSVyY5h {

}
.gPTwSVyY5h p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gtNgVe1wuO"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346941 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gtNgVe1wuO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Voor_4.gif" | file_url }}" srcset="{{ "Voor_4.gif" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Voor_4.gif" | file_url }}" srcset="{{ "Voor_4.gif" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Voor_4.gif" | file_url }}" data-src="{{ "Voor_4.gif" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gtNgVe1wuO">
        .gtNgVe1wuO {

}
.gtNgVe1wuO > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO5NQmIxhB"
        class="gO5NQmIxhB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO5NQmIxhB_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkWgbbNceF"
        class="gkWgbbNceF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkWgbbNceF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gkWgbbNceF">
        .gkWgbbNceF {

}
.gkWgbbNceF p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g_7td3mKVp"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346942 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_7td3mKVp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}" srcset="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}" srcset="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}" data-src="{{ "Voor_4_4d8dfcc1-5da7-4460-a857-dfd34846af72.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g_7td3mKVp">
        .g_7td3mKVp {

}
.g_7td3mKVp > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gehTdwfRtB"
        class="gehTdwfRtB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggehTdwfRtB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcmTPSK9B1"
        class="gcmTPSK9B1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcmTPSK9B1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gcmTPSK9B1">
        .gcmTPSK9B1 {

}
.gcmTPSK9B1 p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gObphAOwxP"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346943 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gObphAOwxP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}" srcset="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}" srcset="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}" data-src="{{ "Gemini_Generated_Image_g3rld6g3rld6g3rl.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gObphAOwxP">
        .gObphAOwxP {

}
.gObphAOwxP > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9eWPRXQa2"
        class="g9eWPRXQa2"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9eWPRXQa2_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkFvLFc1UH"
        class="gkFvLFc1UH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkFvLFc1UH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gkFvLFc1UH">
        .gkFvLFc1UH {

}
.gkFvLFc1UH p {

}
      </style>
    
    <div
      role="presentation"
      data-id="goXraqB99s"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346943 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto goXraqB99s"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}" srcset="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}" srcset="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}" data-src="{{ "Voor_3_b97874f3-9b3a-472b-98e2-39fc305901ad.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-goXraqB99s">
        .goXraqB99s {

}
.goXraqB99s > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbFCeF9ZoY"
        class="gbFCeF9ZoY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbFCeF9ZoY_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNH16ptHpP"
        class="gNH16ptHpP"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNH16ptHpP_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gNH16ptHpP">
        .gNH16ptHpP {

}
.gNH16ptHpP p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gri5n7AXLi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:12px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346944 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gri5n7AXLi"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}" srcset="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}" srcset="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}" data-src="{{ "gempages_588234442166764118-ab596140-8e6d-429b-b598-e7faf3b71dd7.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gri5n7AXLi">
        .gri5n7AXLi {

}
.gri5n7AXLi > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gVONXXacRT"
        class="gVONXXacRT"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggVONXXacRT_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge9a5KSnbH"
        class="ge9a5KSnbH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge9a5KSnbH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ge9a5KSnbH">
        .ge9a5KSnbH {

}
.ge9a5KSnbH p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0bLDOF9RR"
        class="g0bLDOF9RR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#EAEDFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-tablet:0px;--bbrr-tablet:0px;--btlr-tablet:0px;--btrr-tablet:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Abyssinica-SIL, 'Abyssinica SIL'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#E6E6E6;--bgc-tablet:#E6E6E6;--bgc-mobile:#E6E6E6;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0bLDOF9RR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0bLDOF9RR">
        .g0bLDOF9RR {

}
.g0bLDOF9RR p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gsWssoOhX7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792346945 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsWssoOhX7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}" srcset="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}" srcset="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}" data-src="{{ "gempages_588234442166764118-8044b4d5-2f3e-40ef-9381-edbad271161e.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gsWssoOhX7">
        .gsWssoOhX7 {

}
.gsWssoOhX7 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzIaxK6sQB"
        class="gzIaxK6sQB"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzIaxK6sQB_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqEnvHAemj"
        class="gqEnvHAemj"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqEnvHAemj_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqEnvHAemj">
        .gqEnvHAemj {

}
.gqEnvHAemj p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2vl3sarfA"
        class="g2vl3sarfA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2vl3sarfA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvYNtH2P0e"
        class="gvYNtH2P0e"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvYNtH2P0e_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gvYNtH2P0e">
        .gvYNtH2P0e {

}
.gvYNtH2P0e p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:left" >
        <style>[data-id="gSYySgtbsv"].gp-button-base::before, [data-id="gSYySgtbsv-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gSYySgtbsv"]:hover::before, [data-id="gSYySgtbsv-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gSYySgtbsv" dataId="gSYySgtbsv" data-state="idle" aria-label="<p><span style='font-size:16px;'><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#03970D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%"
          class="gSYySgtbsv gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggSYySgtbsv_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-595054199025238962 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=595054198941287346&sectionId=595054199025238962)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUL1RomBhz_text","label":"ggUL1RomBhz_text","default":"Dierenarts onthult: \"De achterhand van je Duitse Herder is een anatomische tijdbom. Tenzij je dit doet...\""},{"type":"html","id":"ggVgtlyd3pj_text","label":"ggVgtlyd3pj_text","default":"<p><strong>19 januari 2026 - geschreven door Dr. Bakker</strong></p>"},{"type":"html","id":"gg8fsvCDyW6_text","label":"gg8fsvCDyW6_text","default":"De farmaceutische industrie ziet de Duitse Herder graag als vaste klant voor dure operaties en levenslange pijnstillers. Maar volgens specialisten is er nu een manier om de kwetsbare achterhand van je Herder te beschermen en zelfs te herstellen – zonder medische ingreep."},{"type":"html","id":"gg8hhyBopSD_text","label":"gg8hhyBopSD_text","default":"<p>Veel eigenaren van Duitse Herders denken dat het slepen met de achterpoten, het lastig opstaan of het 'zwalken' gewoon bij het ras hoort. Dat het de prijs is die je betaalt voor die mooie, aflopende ruglijn. <strong>Maar dat klopt niet.</strong><br>&nbsp;</p><p>Een Nederlands team dierenartsen, samen met het Nederlandse bedrijf Petcura, heeft een oplossing ontwikkeld die specifiek inspeelt op de zware belasting van Herder-gewrichten. En dierenartsen zijn onder de indruk.</p>"},{"type":"html","id":"ggY0JmB8qSm_text","label":"ggY0JmB8qSm_text","default":"1. Pak de 'ontwerpfout' aan bij de bron – niet alleen de pijn"},{"type":"html","id":"ggPTwSVyY5h_text","label":"ggPTwSVyY5h_text","default":"<p>De meeste producten (zoals gewone glucosamine) werken als een pleister: ze verlichten de pijn een beetje. Maar bij een Duitse Herder is het probleem mechanisch: de heupkom staat onder een onnatuurlijke hoek.<br>&nbsp;</p><p><a href=\"https://petcura.nl/products/gewrichtssnacks\"><span style=\"color:#477ADB;\"><strong><u>Petcura</u></strong></span></a> pakt dit anders aan. In plaats van verdoven, <strong>smeert</strong> het de gewrichten van binnenuit. Het herstelt het 'kussentje' tussen de botten dat bij Herders zo snel wegslijt. Hierdoor stopt het schuren van bot-op-bot.</p>"},{"type":"html","id":"ggO5NQmIxhB_text","label":"ggO5NQmIxhB_text","default":"2. Veilig voor de gevoelige Herder-maag"},{"type":"html","id":"ggkWgbbNceF_text","label":"ggkWgbbNceF_text","default":"<p>Duitse Herders staan bekend om hun gevoelige spijsvertering. Veel conventionele medicijnen, zoals zware pijnstillers (NSAID's) of Librela injecties, kunnen maagproblemen of lusteloosheid veroorzaken. <a href=\"https://petcura.nl/products/gewrichtssnacks\"><span style=\"color:#477ADB;\"><strong><u>Petcura</u></strong></span></a> gebruikt een natuurlijke formule die koud geperst is. Dit is mild voor de maag, maar krachtig voor de heupen. Geen chemicaliën, geen risico's.</p>"},{"type":"html","id":"ggehTdwfRtB_text","label":"ggehTdwfRtB_text","default":"3. Je Herder beweegt weer als vanouds"},{"type":"html","id":"ggcmTPSK9B1_text","label":"ggcmTPSK9B1_text","default":"<p>Stel je voor dat je Herder niet meer eerst moet 'opstarten' als hij uit zijn mand komt. Dat hij niet meer aarzelt bij de kofferbak van de auto, maar er weer soepel inspringt. <a href=\"https://petcura.nl/products/gewrichtssnacks\"><span style=\"color:#477ADB;\"><strong><u>Petcura</u></strong></span></a> helpt hem de kracht in de achterhand terug te krijgen, zodat hij weer die trotse, actieve werkhond kan zijn die hij in zijn hoofd nog steeds is.</p>"},{"type":"html","id":"gg9eWPRXQa2_text","label":"gg9eWPRXQa2_text","default":"4. Snelle resultaten in slechts enkele weken."},{"type":"html","id":"ggkFvLFc1UH_text","label":"ggkFvLFc1UH_text","default":"<p>Je hoeft geen maanden te wachten tot er iets gebeurt. Veel baasjes melden dat ze in de eerste paar weken al een significante verandering zien.&nbsp;</p>"},{"type":"html","id":"ggbFCeF9ZoY_text","label":"ggbFCeF9ZoY_text","default":"5. Je Herder zal het geweldig vinden."},{"type":"html","id":"ggNH16ptHpP_text","label":"ggNH16ptHpP_text","default":"<p>Geen ingewikkelde tabletten of bittere druppels – <a href=\"https://petcura.nl/products/gewrichtssnacks\"><span style=\"color:#477ADB;\"><strong><u>Petcura</u></strong></span></a> is een heerlijke snack waar honden dol op zijn. Makkelijk te geven, zonder stress – je hond zal er elke dag naar uitkijken.</p>"},{"type":"html","id":"ggVONXXacRT_text","label":"ggVONXXacRT_text","default":"De Wetenschap: Waarom dit wél werkt bij die lastige Herder-heupen"},{"type":"html","id":"gge9a5KSnbH_text","label":"gge9a5KSnbH_text","default":"<p>Samen met specialisten is onderzocht waarom normale supplementen falen bij grote honden. Het probleem? <strong>Maagzuur.</strong> De essentiële stof voor gewrichtsmering (Hyaluronzuur) wordt normaal gesproken vernietigd door het sterke maagzuur van de hond voordat het de heupen bereikt.</p><p>&nbsp;</p><p>Petcura is de eerste die een formule heeft ontwikkeld die deze barrière doorbreekt. Hierdoor komt de smering daadwerkelijk aan op de plek waar de 'ontwerpfout' van de Herder zit: diep in het heupgewricht.</p>"},{"type":"html","id":"gg0bLDOF9RR_text","label":"gg0bLDOF9RR_text","default":"<p><strong>\"Het heeft bijna twee jaar geduurd om onze unieke snack te perfectioneren. Maar toen was het eindelijk zover – de rest is geschiedenis. En dat geldt ook voor de reisweigerachtigheid van je hond.\"</strong></p>"},{"type":"html","id":"ggzIaxK6sQB_text","label":"ggzIaxK6sQB_text","default":"Het verhaal van Max (10 jaar) – \"Ik dacht dat zijn achterpoten op waren\""},{"type":"html","id":"ggqEnvHAemj_text","label":"ggqEnvHAemj_text","default":"<p><i>\"Mijn Duitse Herder Max is 10. Het laatste jaar zag ik zijn achterkant steeds verder inzakken. Hij sleepte met zijn nagels over de tegels en piepte zachtjes als hij moest gaan liggen. Ik dacht echt: dit is het begin van het einde.\"</i><br>&nbsp;</p><p><i>\"Ik bestelde Petcura, eerlijk gezegd zonder al te veel hoop. Het kwam na twee dagen binnen. Ik gaf hem de eerste chew en hij at het direct op.\"</i><br>&nbsp;</p><p>\"Ik verwachtte geen wonderen. Maar wat er na vier dagen gebeurde, was bizar. Ik zag hem in de tuin lopen en dacht: 'Hé, hij tilt zijn poten weer op'. Het was geen dramatisch verschil, maar hij liep niet meer te sloffen. Na twee weken was het onmiskenbaar. Hij kwam mij weer begroeten bij de deur met die oude energie. Het voelde alsof ik de klok een paar jaar had teruggedraaid.\"</p>"},{"type":"html","id":"gg2vl3sarfA_text","label":"gg2vl3sarfA_text","default":"Werkt het ook voor jouw Herder?"},{"type":"html","id":"ggvYNtH2P0e_text","label":"ggvYNtH2P0e_text","default":"<p>We kunnen de bouw van je hond niet veranderen.</p><p>&nbsp;</p><p>Maar we kunnen de slijtage wel stoppen.</p><p>Petcura biedt een <strong>90-dagen-resultaat-of-geld-terug-garantie</strong>. Dit is uniek in de hondenwereld. Het werkt simpel: Zie je geen verbetering in het lopen, opstaan of rennen van je Herder? Dan krijg je je geld terug. Je mag de pot zelfs helemaal opmaken.</p>"},{"type":"html","id":"ggSYySgtbsv_label","label":"ggSYySgtbsv_label","default":"<p><span style=\"font-size:16px;\"><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}