
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595595689258386018.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-595595689258386018.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-595595689258386018.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595595689258386018.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595595689258386018.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595595689258386018.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595595689258386018.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595595689258386018.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595595689258386018.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595595689258386018.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595595689258386018.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595595689258386018.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595595689258386018.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595595689258386018.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595595689258386018.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-595595689258386018.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-595595689258386018.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595595689258386018.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595595689258386018.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595595689258386018.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595595689258386018.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595595689258386018.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-595595689258386018.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595595689258386018.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595595689258386018.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595595689258386018.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595595689258386018.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595595689258386018.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-595595689258386018.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595595689258386018.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595595689258386018.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595595689258386018.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-595595689258386018.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-595595689258386018.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-595595689258386018.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-595595689258386018.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595595689258386018.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595595689258386018.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-595595689258386018.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-595595689258386018.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-595595689258386018.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-595595689258386018.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595595689258386018.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595595689258386018.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595595689258386018.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595595689258386018.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595595689258386018.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595595689258386018.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595595689258386018.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595595689258386018.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-595595689258386018.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595595689258386018.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-595595689258386018.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-595595689258386018.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595595689258386018.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-595595689258386018.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-595595689258386018.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-595595689258386018.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595595689258386018.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595595689258386018.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-595595689258386018.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-595595689258386018.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-595595689258386018.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-595595689258386018.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-595595689258386018.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-595595689258386018.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-595595689258386018.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-595595689258386018.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595595689258386018.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595595689258386018.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-595595689258386018.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595595689258386018.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-595595689258386018.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-595595689258386018.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-595595689258386018.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595595689258386018.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595595689258386018.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595595689258386018.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595595689258386018.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-595595689258386018.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-595595689258386018.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-595595689258386018 .gp-relative{position:relative}.gps-595595689258386018 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595595689258386018 .gp-mb-0{margin-bottom:0}.gps-595595689258386018 .gp-inline-block{display:inline-block}.gps-595595689258386018 .gp-flex{display:flex}.gps-595595689258386018 .gp-grid{display:grid}.gps-595595689258386018 .gp-contents{display:contents}.gps-595595689258386018 .\!gp-hidden{display:none!important}.gps-595595689258386018 .gp-hidden{display:none}.gps-595595689258386018 .gp-h-auto{height:auto}.gps-595595689258386018 .gp-h-full{height:100%}.gps-595595689258386018 .gp-w-full{width:100%}.gps-595595689258386018 .gp-max-w-full{max-width:100%}.gps-595595689258386018 .gp-flex-none{flex:none}.gps-595595689258386018 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595595689258386018 .gp-flex-col{flex-direction:column}.gps-595595689258386018 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595595689258386018 .gp-duration-200{transition-duration:.2s}.gps-595595689258386018 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-595595689258386018 .tablet\:\!gp-hidden{display:none!important}.gps-595595689258386018 .tablet\:gp-hidden{display:none}.gps-595595689258386018 .tablet\:gp-h-auto{height:auto}.gps-595595689258386018 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-595595689258386018 .mobile\:\!gp-hidden{display:none!important}.gps-595595689258386018 .mobile\:gp-hidden{display:none}.gps-595595689258386018 .mobile\:gp-h-auto{height:auto}.gps-595595689258386018 .mobile\:gp-flex-none{flex:none}}.gps-595595689258386018 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gg8fZ58jvG"}' data-id="gg8fZ58jvG" id="gg8fZ58jvG" data-same-height-subgrid-container class="gg8fZ58jvG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:16px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfDh55vxfk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7iL7kYNq0"
        class="g7iL7kYNq0"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:24px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:1200px;--w-tablet:1200px;--w-mobile:1200px;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7iL7kYNq0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5ci6umhTl"
        class="g5ci6umhTl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:14px;--mb-mobile:16px;--mb-tablet:14px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--weight:bold;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5ci6umhTl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNK80BzSVF"
        class="gNK80BzSVF"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:8px;--mb-mobile:16px;--mb-tablet:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNK80BzSVF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaJKsiWbsm"
        class="gaJKsiWbsm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:59px;--mb-mobile:16px;--mb-tablet:44px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaJKsiWbsm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqY5oMV_64"
        class="gqY5oMV_64"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:25px;--mt-mobile:0px;--mb-mobile:16px;--mt-tablet:0px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:23px;--size-tablet:23px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#DC3545;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqY5oMV_64_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gqY5oMV_64">
        .gqY5oMV_64 {

}
.gqY5oMV_64 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLnjPJAlqk"
        class="gLnjPJAlqk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:61px;--mb-mobile:16px;--pl-mobile:25px;--mb-tablet:34px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLnjPJAlqk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:46px;--mb-mobile:16px;--mb-tablet:34px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gc2_o_L25p gp-custom-code">
      <div>
    <div style="padding-left:24px;padding-right:24px;border:2px dashed rgb(199, 186, 0);background-color:rgb(255, 246, 202);display:flex;font-weight:700;padding-bottom:8px;padding-top:8px;align-items:center;box-sizing:border-box;">
    <i style="margin-right:16px;font-family:'Font Awesome 5 Free';font-weight:900;font-size:34.4px;-webkit-font-smoothing:antialiased;display:block;font-style:normal;font-variant:normal;text-rendering: auto;line-height:34.4px;box-sizing:border-box;"></i>
    <p style="line-height:24.08px;font-size:17.2px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;">
        Als artritis of gewrichtspijn niet dringend wordt behandeld, kan dit leiden
        tot dierenartsrekeningen van tienduizenden euro's!
    </p>
</div>
    </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gAjyMWFh6e"
        class="gAjyMWFh6e"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:23px;--size-tablet:23px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#303030;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggAjyMWFh6e_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gAjyMWFh6e">
        .gAjyMWFh6e {

}
.gAjyMWFh6e p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gXkm8DCC0T"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml-mobile:0px;--mb-mobile:16px;--mr-mobile:0px;--mb-tablet:31px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769565235724 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXkm8DCC0T"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_588234442166764118-bea9abbe-15b1-400b-b583-077619add32b.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_588234442166764118-bea9abbe-15b1-400b-b583-077619add32b.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "gempages_588234442166764118-bea9abbe-15b1-400b-b583-077619add32b.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_588234442166764118-bea9abbe-15b1-400b-b583-077619add32b.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:575%;--w-mobile:575%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsLtjxg4Ne"
        class="gsLtjxg4Ne"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsLtjxg4Ne_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gYFqQl9FFY"
        class="gYFqQl9FFY"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggYFqQl9FFY_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-595595689258386018 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=594565286103876530&sectionId=595595689258386018)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7iL7kYNq0_text","label":"gg7iL7kYNq0_text","default":"<p>Maandag 28 januari, 2026</p>"},{"type":"html","id":"gg5ci6umhTl_text","label":"gg5ci6umhTl_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:#086B8D;font-size:40px;\">E</span><span style=\"background-color:rgb(255,255,255);color:rgb(48,48,48);font-size:18px;\">én op vijf volwassen honden in Nederland lijdt aan artritis of gewrichtspijn. Veel eigenaren weten niet eens dat hun geliefde viervoeter pijn heeft totdat het te laat is. Gelukkig zijn er enkele duidelijke tekenen dat het niet goed gaat met je hond en dat hij mogelijk gewrichtspijn of artritis heeft.</span></p>"},{"type":"html","id":"ggNK80BzSVF_text","label":"ggNK80BzSVF_text","default":"<p>Gelukkig zijn er enkele duidelijke tekenen dat het niet goed gaat met je hond en dat hij mogelijk gewrichtspijn of artritis heeft.</p>"},{"type":"html","id":"ggaJKsiWbsm_text","label":"ggaJKsiWbsm_text","default":"<p>Als je echter niet weet op welke symptomen je moet letten, blijven ze vaak onopgemerkt en kunnen ze de levenskwaliteit van je hond negatief beïnvloeden. Daarom moet elke hondenbezitter goed op de volgende symptomen letten!</p>"},{"type":"html","id":"ggqY5oMV_64_text","label":"ggqY5oMV_64_text","default":"<p>De belangrijkste tekenen dat je hond pijn heeft, zijn:</p>"},{"type":"html","id":"ggLnjPJAlqk_text","label":"ggLnjPJAlqk_text","default":"<p>● &nbsp;Overmatig likken van poten of gewrichten</p><p>● &nbsp;Niet op willen staan of springen</p><p>● &nbsp;Moeite met het vinden van een plek om te slapen of te rusten</p>"},{"type":"html","id":"ggAjyMWFh6e_text","label":"ggAjyMWFh6e_text","default":"<p>Deze nieuwe kauwsnacks zijn perfect voor honden die geen tabletten of capsules eten!</p>"},{"type":"html","id":"ggsLtjxg4Ne_text","label":"ggsLtjxg4Ne_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(48,48,48);font-size:17.2px;\">Zodra je één van deze symptomen opmerkt, is het belangrijk om zo snel mogelijk in actie te komen! Hoe eerder je hond </span><a href=\"https://petcura.nl/products/gewrichtssnacks\"><span style=\"color:#0A6B8D;font-size:17.2px;\"><strong>de juiste hulp</strong></span></a><span style=\"font-size:17.2px;\"><strong> </strong></span><span style=\"background-color:rgb(255,255,255);color:rgb(48,48,48);font-size:17.2px;\">krijgt, hoe sneller hij terugkeert naar zijn oude, gelukkige en pijnvrije leven!</span></p>"},{"type":"html","id":"ggYFqQl9FFY_text","label":"ggYFqQl9FFY_text","default":"<p>Het grootste probleem voor de meeste eigenaren is echter dat veel honden met gewrichtsproblemen hun medicatie niet graag in tabletvorm nemen. Dit wordt vaak gevolgd door moeizame pogingen om de gewrichtstabletten te mengen met het voer van de hond. Sommige honden sorteren de tabletten echter netjes en krijgen dus niet het medicijn dat ze nodig hebben voor hun gewrichtsproblemen. Daarom heeft PetCura <a href=\"https://aanbod.anicare.eu/nl-joint-care-shop-fb.php?dt=OwFUBeOdeEOzDbEYfIljTBibGWQ&amp;s1=&amp;s2=019ad64b-1cd5-7c5c-9b46-71e39df1d07a&amp;fbclid=\"><strong>een gezond, smakelijk en effectief kauwproduct ontwikkeld</strong></a>, het perfecte alternatief voor klassieke gewrichtstabletten. Het heeft zelfs meer dan twee keer de hoeveelheid werkzame stoffen in vergelijking met conventionele gewrichtstabletten.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}