
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604709825699775457.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604709825699775457.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604709825699775457.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604709825699775457.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604709825699775457.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604709825699775457.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604709825699775457.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604709825699775457.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604709825699775457.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604709825699775457.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604709825699775457.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604709825699775457.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604709825699775457.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604709825699775457.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604709825699775457.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604709825699775457.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604709825699775457.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604709825699775457.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604709825699775457.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604709825699775457.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604709825699775457.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604709825699775457.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604709825699775457.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604709825699775457.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604709825699775457.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604709825699775457.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-604709825699775457.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604709825699775457.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604709825699775457.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604709825699775457.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-604709825699775457.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604709825699775457.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604709825699775457.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604709825699775457.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604709825699775457.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604709825699775457.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604709825699775457.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604709825699775457.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604709825699775457.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604709825699775457.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604709825699775457.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604709825699775457.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604709825699775457.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604709825699775457.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604709825699775457.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604709825699775457.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604709825699775457.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604709825699775457.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604709825699775457.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604709825699775457.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-604709825699775457.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604709825699775457.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-604709825699775457.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-604709825699775457.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604709825699775457.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-604709825699775457.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604709825699775457.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-604709825699775457.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604709825699775457.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-604709825699775457.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604709825699775457.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604709825699775457.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604709825699775457.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604709825699775457.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604709825699775457.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604709825699775457.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604709825699775457.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604709825699775457.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-604709825699775457.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-604709825699775457.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604709825699775457.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604709825699775457.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604709825699775457.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604709825699775457.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-604709825699775457.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604709825699775457.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604709825699775457.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604709825699775457.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604709825699775457.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604709825699775457.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604709825699775457.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604709825699775457.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604709825699775457.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604709825699775457.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604709825699775457.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-604709825699775457.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-604709825699775457 .gp-relative{position:relative}.gps-604709825699775457 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604709825699775457 .gp-mb-0{margin-bottom:0}.gps-604709825699775457 .gp-inline-block{display:inline-block}.gps-604709825699775457 .gp-flex{display:flex}.gps-604709825699775457 .gp-inline-flex{display:inline-flex}.gps-604709825699775457 .gp-grid{display:grid}.gps-604709825699775457 .\!gp-hidden{display:none!important}.gps-604709825699775457 .gp-hidden{display:none}.gps-604709825699775457 .gp-h-auto{height:auto}.gps-604709825699775457 .gp-h-full{height:100%}.gps-604709825699775457 .gp-w-full{width:100%}.gps-604709825699775457 .gp-max-w-full{max-width:100%}.gps-604709825699775457 .gp-flex-none{flex:none}.gps-604709825699775457 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604709825699775457 .gp-flex-col{flex-direction:column}.gps-604709825699775457 .gp-items-center{align-items:center}.gps-604709825699775457 .gp-justify-center{justify-content:center}.gps-604709825699775457 .gp-overflow-hidden{overflow:hidden}.gps-604709825699775457 .gp-break-words{overflow-wrap:break-word}.gps-604709825699775457 .gp-text-center{text-align:center}.gps-604709825699775457 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-604709825699775457 .gp-no-underline{text-decoration-line:none}.gps-604709825699775457 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604709825699775457 .gp-duration-200{transition-duration:.2s}.gps-604709825699775457 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604709825699775457 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604709825699775457 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604709825699775457 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604709825699775457 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604709825699775457 .tablet\:\!gp-hidden{display:none!important}.gps-604709825699775457 .tablet\:gp-hidden{display:none}.gps-604709825699775457 .tablet\:gp-h-auto{height:auto}.gps-604709825699775457 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-604709825699775457 .mobile\:\!gp-hidden{display:none!important}.gps-604709825699775457 .mobile\:gp-hidden{display:none}.gps-604709825699775457 .mobile\:gp-h-auto{height:auto}.gps-604709825699775457 .mobile\:gp-flex-none{flex:none}}.gps-604709825699775457 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604709825699775457 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYaammT.ttf) format('truetype');
}


@font-face {
  font-family: 'Asul';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asul/v22/VuJ-dNjKxYr46fM.ttf) format('truetype');
}
@font-face {
  font-family: 'Asul';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/asul/v22/VuJxdNjKxYr40U8qeKY.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"gJnTsSerjN"}' data-id="gJnTsSerjN" id="gJnTsSerjN" data-same-height-subgrid-container class="gJnTsSerjN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:15px;--pb-mobile:30px;--pr-mobile:15px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gEBH6BbT-C gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gVQqxPZqcC"}' data-id="gVQqxPZqcC" id="gVQqxPZqcC" data-same-height-subgrid-container class="gVQqxPZqcC gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:24px;--cg-tablet:24px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o:1"
      class="goD2D5NQnn gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gZ-TtgzOUz"
      style="--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:24px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1769974435104 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gZ-TtgzOUz"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1024" height="1024" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png" | file_url }}" data-src="{{ "Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png" | file_url }}" data-srcset="{{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: '768x' }} 768w, {{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: '1024x' }} 1024w, {{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: 'master' }} 1440w"
      id=""
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start;--o:0"
      class="g9eXVAN9f7 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gUKThbdGis"
      style="--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:24px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1769974435104 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gUKThbdGis"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1024" height="1024" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDI0LTEwMjQiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMjQiIGhlaWdodD0iMTAyNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyNCIgaGVpZ2h0PSIxMDI0IiBmaWxsPSJ1cmwoI2ctMTAyNC0xMDI0KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAyNCIgdG89IjEwMjQiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png" | file_url }}" data-src="{{ "Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png" | file_url }}" data-srcset="{{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: '768x' }} 768w, {{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: '1024x' }} 1024w, {{ 'Whisk_7ce2d008874be40a3bd49846305bd3c4eg.png' | file_img_url: 'master' }} 1440w"
      id=""
      style="--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1024/1024;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvmpED_QzS"
        class="gvmpED_QzS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--mb-tablet:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-heading, heading);--size:32px;--size-tablet:32px;--size-mobile:24px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--weight:bold;--c:#282828;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvmpED_QzS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUMdsUrNjC"
        class="gUMdsUrNjC"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:0px;--mb:24px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:0px;--mb-mobile:24px;--pt-mobile:8px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:0px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--weight:400;--size:24px;--size-tablet:18px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--c:#282828;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUMdsUrNjC_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://petcura.nl/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:15px;--pr-mobile:15px;--ta:center" >
        <style>[data-id="gve-UYaIUZ"].gp-button-base::before, [data-id="gve-UYaIUZ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gve-UYaIUZ"]:hover::before, [data-id="gve-UYaIUZ-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gve-UYaIUZ" dataId="gve-UYaIUZ" data-state="idle" aria-label="<p>Ontdek de oplossing</p>"
          
          href="https://petcura.nl/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#028901;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gve-UYaIUZ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggve-UYaIUZ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-604709825699775457 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604709825615496161&sectionId=604709825699775457)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggvmpED_QzS_text","label":"ggvmpED_QzS_text","default":"De oplossing voor artrose bij honden"},{"type":"html","id":"ggUMdsUrNjC_text","label":"ggUMdsUrNjC_text","default":"<p>Natuurlijk waren wij eerst ook sceptisch over de Gewrichtssnacks oplossing van PetCura. Achteraf bleek dat helemaal niet nodig te zijn. De werking is namelijk heel simpel:</p><p>&nbsp;</p><p>Ten eerste komen de werkzame stoffen via het bloed bij Ollie's gewrichten en ondersteunen daar het kraakbeen en de gewrichtsfunctie.</p><p>&nbsp;</p><p>Daarnaast bevat het product ingrediënten die de natuurlijke gewrichtsvloeistof (synoviaalvocht) ondersteunen. Meer synoviaalvocht betekent betere smering van de gewrichten en dat artrose en stijfheid verminderen.</p><p>&nbsp;</p><p>Verder zorgt het product ook voor een betere algehele gezondheid door ontstekingsremmende ingrediënten. Dit helpt Ollie's mobiliteit, maakt zijn bewegingen soepeler en vermindert ontstekingen.</p><p>&nbsp;</p><p>Het belangrijkste ingrediënt in het product is glucosamine, dat de gewrichtsfunctie ondersteunt dankzij natuurlijke eigenschappen. Minder gewrichtsproblemen betekent meer bewegingsvrijheid. Daarnaast bevat het MSM, dat rijk is aan ontstekingsremmende stoffen, en hyaluronzuur, dat de gewrichtsvloeistof ondersteunt.</p><p>&nbsp;</p><p>Kortom, dit gewrichtsproduct helpt Ollie aan soepele gewrichten door kraakbeen en gewrichtsvloeistof te ondersteunen, door middel van bloedcirculatie, gewrichtsgezondheid en ontstekingsremmende eigenschappen. Nu kan Ollie weer zonder moeite lekker rennen voor een knuffel.</p>"},{"type":"html","id":"ggve-UYaIUZ_label","label":"ggve-UYaIUZ_label","default":"<p>Ontdek de oplossing</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}