
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615153656668553943.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-615153656668553943.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-615153656668553943.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615153656668553943.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615153656668553943.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615153656668553943.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615153656668553943.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615153656668553943.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615153656668553943.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615153656668553943.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615153656668553943.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615153656668553943.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615153656668553943.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615153656668553943.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615153656668553943.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615153656668553943.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-615153656668553943.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615153656668553943.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615153656668553943.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615153656668553943.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615153656668553943.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615153656668553943.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615153656668553943.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615153656668553943.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615153656668553943.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615153656668553943.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615153656668553943.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615153656668553943.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615153656668553943.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615153656668553943.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615153656668553943.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615153656668553943.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615153656668553943.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615153656668553943.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615153656668553943.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615153656668553943.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-615153656668553943.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615153656668553943.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-615153656668553943.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-615153656668553943.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615153656668553943.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615153656668553943.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615153656668553943.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615153656668553943.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615153656668553943.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615153656668553943.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615153656668553943.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615153656668553943.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615153656668553943.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615153656668553943.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615153656668553943.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615153656668553943.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-615153656668553943.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-615153656668553943.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615153656668553943.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615153656668553943.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615153656668553943.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-615153656668553943.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-615153656668553943.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-615153656668553943.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-615153656668553943.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615153656668553943.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615153656668553943.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615153656668553943.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615153656668553943.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-615153656668553943.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-615153656668553943.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615153656668553943.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615153656668553943.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615153656668553943.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615153656668553943.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-615153656668553943.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-615153656668553943.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-615153656668553943.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615153656668553943.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615153656668553943.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615153656668553943.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615153656668553943.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615153656668553943.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-615153656668553943 .gp-relative{position:relative}.gps-615153656668553943 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615153656668553943 .gp-mb-0{margin-bottom:0}.gps-615153656668553943 .gp-inline-block{display:inline-block}.gps-615153656668553943 .gp-flex{display:flex}.gps-615153656668553943 .gp-inline-flex{display:inline-flex}.gps-615153656668553943 .gp-grid{display:grid}.gps-615153656668553943 .gp-contents{display:contents}.gps-615153656668553943 .\!gp-hidden{display:none!important}.gps-615153656668553943 .gp-hidden{display:none}.gps-615153656668553943 .gp-h-auto{height:auto}.gps-615153656668553943 .gp-h-full{height:100%}.gps-615153656668553943 .gp-w-full{width:100%}.gps-615153656668553943 .gp-max-w-full{max-width:100%}.gps-615153656668553943 .gp-flex-none{flex:none}.gps-615153656668553943 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615153656668553943 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-615153656668553943 .gp-flex-col{flex-direction:column}.gps-615153656668553943 .gp-items-center{align-items:center}.gps-615153656668553943 .gp-justify-center{justify-content:center}.gps-615153656668553943 .gp-overflow-hidden{overflow:hidden}.gps-615153656668553943 .gp-break-words{overflow-wrap:break-word}.gps-615153656668553943 .gp-text-center{text-align:center}.gps-615153656668553943 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-615153656668553943 .gp-no-underline{text-decoration-line:none}.gps-615153656668553943 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615153656668553943 .gp-duration-200{transition-duration:.2s}.gps-615153656668553943 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615153656668553943 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-615153656668553943 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-615153656668553943 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-615153656668553943 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-615153656668553943 .tablet\:\!gp-hidden{display:none!important}.gps-615153656668553943 .tablet\:gp-hidden{display:none}.gps-615153656668553943 .tablet\:gp-h-auto{height:auto}.gps-615153656668553943 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-615153656668553943 .mobile\:\!gp-hidden{display:none!important}.gps-615153656668553943 .mobile\:gp-hidden{display:none}.gps-615153656668553943 .mobile\:gp-h-auto{height:auto}.gps-615153656668553943 .mobile\:gp-flex-none{flex:none}}.gps-615153656668553943 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-615153656668553943 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"greV0ipP1A"}' data-id="greV0ipP1A" id="greV0ipP1A" data-same-height-subgrid-container class="greV0ipP1A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:180px;--pb:180px;--pt-mobile:180px;--pl-mobile:0px;--pb-mobile:180px;--pr-mobile:0px;--pt-tablet:180px;--pb-tablet:180px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gmI7fYob5W gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-sdh6JWk-"
        class="g-sdh6JWk-"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:40px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:600;--size:36px;--size-tablet:41px;--size-mobile:26px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-sdh6JWk-_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="g1qJQn4UKf"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190380462 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1qJQn4UKf"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg1qJQn4UKf_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg1qJQn4UKf_srcSet_tablet_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg1qJQn4UKf_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEzNTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTM1MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMzUwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMzUwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg1qJQn4UKf_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:50%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gRwJWTRQCn","target":"_self","title":"Section 12","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gBGYz86Civ"].gp-button-base::before, [data-id="gBGYz86Civ-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gBGYz86Civ"]:hover::before, [data-id="gBGYz86Civ-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gRwJWTRQCn
            target=_self
          ></a>
        <a
          data-id="gBGYz86Civ" dataId="gBGYz86Civ" data-state="idle" aria-label="<p>Verder lezen</p>"
          
          href="#gRwJWTRQCn" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gBGYz86Civ gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggBGYz86Civ_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-615153656668553943 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615153656668357335&sectionId=615153656668553943)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-sdh6JWk-_text","label":"gg-sdh6JWk-_text","default":"Geliefd door baasjes..."},{"type":"html","id":"gg1qJQn4UKf_srcSet_desktop_src","label":"gg1qJQn4UKf_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Als_dierenarts_kan_ik_u_vertellen_dat_u_dit_bedrijf_kunt_vertrouwen_om_uw_hond_met_gewrichtsklachten_te_helpen._Ze_hebben_alles_in_het_werk_gesteld_om_ervoor_te_zorgen_dat_dit_product.svg"},{"type":"html","id":"gg1qJQn4UKf_srcSet_tablet_src","label":"gg1qJQn4UKf_srcSet_tablet_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Als_dierenarts_kan_ik_u_vertellen_dat_u_dit_bedrijf_kunt_vertrouwen_om_uw_hond_met_gewrichtsklachten_te_helpen._Ze_hebben_alles_in_het_werk_gesteld_om_ervoor_te_zorgen_dat_dit_product.svg"},{"type":"html","id":"gg1qJQn4UKf_srcSet_mobile_src","label":"gg1qJQn4UKf_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Als_dierenarts_kan_ik_u_vertellen_dat_u_dit_bedrijf_kunt_vertrouwen_om_uw_hond_met_gewrichtsklachten_te_helpen._Ze_hebben_alles_in_het_werk_gesteld_om_ervoor_te_zorgen_dat_dit_product.svg"},{"type":"html","id":"ggBGYz86Civ_label","label":"ggBGYz86Civ_label","default":"<p>Verder lezen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}