
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596616679555859436.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596616679555859436.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596616679555859436.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596616679555859436.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596616679555859436.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596616679555859436.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596616679555859436.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596616679555859436.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596616679555859436.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596616679555859436.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596616679555859436.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596616679555859436.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596616679555859436.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596616679555859436.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596616679555859436.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596616679555859436.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596616679555859436.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596616679555859436.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596616679555859436.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596616679555859436.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596616679555859436.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596616679555859436.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596616679555859436.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596616679555859436.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596616679555859436.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596616679555859436.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596616679555859436.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596616679555859436.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-596616679555859436.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596616679555859436.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596616679555859436.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596616679555859436.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596616679555859436.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596616679555859436.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596616679555859436.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596616679555859436.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596616679555859436.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596616679555859436.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596616679555859436.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596616679555859436.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596616679555859436.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596616679555859436.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596616679555859436.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596616679555859436.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596616679555859436.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596616679555859436.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596616679555859436.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596616679555859436.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596616679555859436.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596616679555859436.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596616679555859436.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596616679555859436.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596616679555859436.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-596616679555859436.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596616679555859436.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596616679555859436.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596616679555859436.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596616679555859436.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596616679555859436.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596616679555859436.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596616679555859436.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596616679555859436.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-596616679555859436.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596616679555859436.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596616679555859436.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596616679555859436.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596616679555859436.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596616679555859436.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596616679555859436.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596616679555859436.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596616679555859436.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596616679555859436.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596616679555859436.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596616679555859436.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596616679555859436 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-596616679555859436 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-596616679555859436 .gp-fixed{position:fixed}.gps-596616679555859436 .gp-relative{position:relative}.gps-596616679555859436 .gp-top-\[27px\]{top:27px}.gps-596616679555859436 .gp-z-\[100\]{z-index:100}.gps-596616679555859436 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596616679555859436 .gp-mb-0{margin-bottom:0}.gps-596616679555859436 .gp-flex{display:flex}.gps-596616679555859436 .gp-inline-flex{display:inline-flex}.gps-596616679555859436 .gp-grid{display:grid}.gps-596616679555859436 .\!gp-hidden{display:none!important}.gps-596616679555859436 .gp-hidden{display:none}.gps-596616679555859436 .gp-h-full{height:100%}.gps-596616679555859436 .gp-max-w-full{max-width:100%}.gps-596616679555859436 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596616679555859436 .gp-flex-col{flex-direction:column}.gps-596616679555859436 .gp-items-center{align-items:center}.gps-596616679555859436 .gp-justify-center{justify-content:center}.gps-596616679555859436 .gp-overflow-hidden{overflow:hidden}.gps-596616679555859436 .gp-break-words{overflow-wrap:break-word}.gps-596616679555859436 .gp-rounded{border-radius:4px}.gps-596616679555859436 .\!gp-bg-white{--tw-bg-opacity:1!important;background-color:rgb(255 255 255/var(--tw-bg-opacity))!important}.gps-596616679555859436 .\!gp-bg-none{background-image:none!important}.gps-596616679555859436 .gp-p-\[16px\]{padding:16px}.gps-596616679555859436 .gp-text-\[14px\]{font-size:14px}.gps-596616679555859436 .gp-leading-normal{line-height:1.5}.gps-596616679555859436 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-596616679555859436 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-596616679555859436 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596616679555859436 .gp-no-underline{text-decoration-line:none}.gps-596616679555859436 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-596616679555859436 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596616679555859436 .gp-duration-200{transition-duration:.2s}.gps-596616679555859436 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596616679555859436 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596616679555859436 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596616679555859436 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596616679555859436 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596616679555859436 .tablet\:\!gp-hidden{display:none!important}.gps-596616679555859436 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-596616679555859436 .mobile\:\!gp-hidden{display:none!important}.gps-596616679555859436 .mobile\:gp-hidden{display:none}}.gps-596616679555859436 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596616679555859436 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v14/TK3iWkUJAxQ2nLNGHg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gBB7MfPQq-"}' data-id="gBB7MfPQq-" id="gBB7MfPQq-" data-same-height-subgrid-container class="gBB7MfPQq- gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-4xl);--pl:15px;--pb:var(--g-s-4xl);--pr:15px;--pt-tablet:var(--g-s-4xl);--pl-tablet:15px;--pb-tablet:var(--g-s-4xl);--pr-tablet:15px;--pt-mobile:undefined;--pl-mobile:15px;--pb-mobile:var(--g-s-4xl);--pr-mobile:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0RQm-xH_9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gyXPPCbYEg"}' data-id="gyXPPCbYEg" id="gyXPPCbYEg" data-same-height-subgrid-container class="gyXPPCbYEg gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:200px;--pr:200px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:100px;--pr-tablet:100px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfvu2_pD-9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gYDCd3pl48"}' data-id="gYDCd3pl48" id="gYDCd3pl48" data-same-height-subgrid-container class="gYDCd3pl48 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-PYJ6a3En gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9S2NKEnbH"
        class="g9S2NKEnbH"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class="gp-text-g-text-2 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:40px;--size-tablet:40px;--size-mobile:32px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9S2NKEnbH_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLM8jYvFgy"
        class="gLM8jYvFgy"
        style="--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#575757;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLM8jYvFgy_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--pl-tablet:0px;--pr-tablet:0px;--bc:transparent;--bw:0px;--bs:none;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="gbqxL_t3SV" id="gbqxL_t3SV"
        data-callback='{"link":"","target":"_self"}'
      >
        <a
          hidden="true" id="gp-form-callback-gbqxL_t3SV"
        >
        </a>
        {% form 'contact', class: 'gp-form-gbqxL_t3SV ', id: 'contact_form_gbqxL_t3SV' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gbqxL_t3SV"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              Kunnen reactie niet publiceren.
            </div>
          {% endif %}
          <div popover id="my-popover-gbqxL_t3SV">
            <style>
              
    #my-popover-gbqxL_t3SV::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gbqxL_t3SV"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              Bedankt voor uw reactie.
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gUpPvC_tjR"}' data-id="gUpPvC_tjR" id="gUpPvC_tjR" data-same-height-subgrid-container class="gUpPvC_tjR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-3xl);--cg:30px;--cg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1TQz4VJ4s gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvfJPa0pS5"
        class="gvfJPa0pS5"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvfJPa0pS5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="gzfnhnRZCs"
      class="gzfnhnRZCs"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:15px;--ta:left"
    >
      <input
        type="text"
        class="gzfnhnRZCs gp-g-paragraph-2 gp-text-g-text-1 gp-form-item !gp-outline-none !gp-bg-none !gp-bg-white"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--c:var(--g-c-text-1, text-1);--tt:default;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggzfnhnRZCs_placeholder }}"
        
        name="contact[name]"
        value=""
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gZFxAG53Wq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQtgrtbOHA"
        class="gQtgrtbOHA"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQtgrtbOHA_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="gUr-fpdiyK"
      class="gUr-fpdiyK flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:15px;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-2 !gp-outline-none !gp-bg-none email-form-gUr-fpdiyK"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggUr-fpdiyK_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPPtzFj7k_"
        class="gPPtzFj7k_"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xxs);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-text-1 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPPtzFj7k__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      
      data-id="gtcNtlmJ-s"
      class="gtcNtlmJ-s flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-2 !gp-outline-none !gp-bg-none email-form-gtcNtlmJ-s"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:0px;--pr:0px;--pt:12px;--pb:12px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--bs:solid;--bw:0px 0px 1px 0px;--bc:#E0E0E0;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none"
        placeholder="{{ section.settings.ggtcNtlmJ-s_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div>

      
    </gp-row>
  
  
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gkrM6mAolY"].gp-button-base::before, [data-id="gkrM6mAolY-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-2, line-2);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gkrM6mAolY"]:hover::before, [data-id="gkrM6mAolY-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--g-c-line-3, line-3);
  
    
  }</style>
        
        <button
          data-id="gkrM6mAolY" dataId="gkrM6mAolY" data-state="idle" aria-label="Send Message"
          
          type="submit"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:46px;--pr:46px;--pt:12px;--pb:12px;--pl-tablet:46px;--pr-tablet:46px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:46px;--pr-mobile:46px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#424242;--bg:#0A6B8D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Alatsi, 'Alatsi'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase"
          class="gkrM6mAolY gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Alatsi, 'Alatsi'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggkrM6mAolY_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-596616679555859436 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596613681568023142&sectionId=596616679555859436)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg9S2NKEnbH_text","label":"gg9S2NKEnbH_text","default":"Laat een reactie achter"},{"type":"html","id":"ggLM8jYvFgy_text","label":"ggLM8jYvFgy_text","default":"<p>Je e-mailadres wordt niet gepubliceerd. Verplichte velden zijn gemarkeerd met*</p>"},{"type":"html","id":"ggvfJPa0pS5_text","label":"ggvfJPa0pS5_text","default":"<p>Naam</p>"},{"type":"html","id":"ggzfnhnRZCs_placeholder","label":"ggzfnhnRZCs_placeholder","default":"Naam"},{"type":"html","id":"ggQtgrtbOHA_text","label":"ggQtgrtbOHA_text","default":"<p>EMAIL</p>"},{"type":"html","id":"ggUr-fpdiyK_placeholder","label":"ggUr-fpdiyK_placeholder","default":"Voer e-mail in"},{"type":"html","id":"ggPPtzFj7k__text","label":"ggPPtzFj7k__text","default":"<p>Reactie</p>"},{"type":"html","id":"ggtcNtlmJ-s_placeholder","label":"ggtcNtlmJ-s_placeholder","default":"Reactie"},{"type":"html","id":"ggkrM6mAolY_label","label":"ggkrM6mAolY_label","default":"Send Message"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}