
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-610843660191269433.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-610843660191269433.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-610843660191269433.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-610843660191269433.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-610843660191269433.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-610843660191269433.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-610843660191269433.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-610843660191269433.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-610843660191269433.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-610843660191269433.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-610843660191269433.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-610843660191269433.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-610843660191269433.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-610843660191269433.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-610843660191269433.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-610843660191269433.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-610843660191269433.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-610843660191269433.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-610843660191269433.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-610843660191269433.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-610843660191269433.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-610843660191269433.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-610843660191269433.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-610843660191269433.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-610843660191269433.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-610843660191269433.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-610843660191269433.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-610843660191269433.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-610843660191269433.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-610843660191269433.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-610843660191269433.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-610843660191269433.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-610843660191269433.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-610843660191269433.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-610843660191269433.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-610843660191269433.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-610843660191269433.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-610843660191269433.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-610843660191269433.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-610843660191269433.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-610843660191269433.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-610843660191269433.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-610843660191269433.gps.gpsil [style*="--maxh:"]{max-height:var(--maxh)}.gps-610843660191269433.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-610843660191269433.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-610843660191269433.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-610843660191269433.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-610843660191269433.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-610843660191269433.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-610843660191269433.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-610843660191269433.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-610843660191269433.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-610843660191269433.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-610843660191269433.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-610843660191269433.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-610843660191269433.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-610843660191269433.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-610843660191269433.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-610843660191269433.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-610843660191269433.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-610843660191269433.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-610843660191269433.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-610843660191269433.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-610843660191269433.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-610843660191269433.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-610843660191269433.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-610843660191269433.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-610843660191269433.gps.gpsil [style*="--maxh-tablet:"]{max-height:var(--maxh-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-610843660191269433.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-610843660191269433.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-610843660191269433.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-610843660191269433.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-610843660191269433.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-610843660191269433.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-610843660191269433.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-610843660191269433.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-610843660191269433.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-610843660191269433.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-610843660191269433.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-610843660191269433.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-610843660191269433.gps.gpsil [style*="--maxh-mobile:"]{max-height:var(--maxh-mobile)}.gps-610843660191269433.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-610843660191269433.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-610843660191269433.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-610843660191269433.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-610843660191269433.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-610843660191269433.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-610843660191269433 .gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-610843660191269433 [data-browser=safari]:after{--tw-gradient-from-position: ;--tw-gradient-via-position: ;--tw-gradient-to-position: }.gps-610843660191269433 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-610843660191269433 .gp-invisible{visibility:hidden}.gps-610843660191269433 .\!gp-absolute{position:absolute!important}.gps-610843660191269433 .gp-absolute{position:absolute}.gps-610843660191269433 .gp-relative{position:relative}.gps-610843660191269433 .gp-top-0{top:0}.gps-610843660191269433 .-gp-z-1{z-index:-1}.gps-610843660191269433 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-610843660191269433 .gp-mb-0{margin-bottom:0}.gps-610843660191269433 .gp-ml-1{margin-left:4px}.gps-610843660191269433 .gp-mt-4{margin-top:16px}.gps-610843660191269433 .gp-flex{display:flex}.gps-610843660191269433 .gp-inline-flex{display:inline-flex}.gps-610843660191269433 .gp-grid{display:grid}.gps-610843660191269433 .\!gp-hidden{display:none!important}.gps-610843660191269433 .gp-hidden{display:none}.gps-610843660191269433 .gp-h-full{height:100%}.gps-610843660191269433 .gp-w-full{width:100%}.gps-610843660191269433 .gp-max-w-full{max-width:100%}.gps-610843660191269433 .gp-shrink-0{flex-shrink:0}.gps-610843660191269433 .gp-rotate-180{--tw-rotate:180deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-610843660191269433 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-610843660191269433 .gp-flex-col{flex-direction:column}.gps-610843660191269433 .gp-flex-wrap{flex-wrap:wrap}.gps-610843660191269433 .\!gp-content-stretch{align-content:stretch!important}.gps-610843660191269433 .gp-items-center{align-items:center}.gps-610843660191269433 .gp-justify-start{justify-content:flex-start}.gps-610843660191269433 .gp-justify-center{justify-content:center}.gps-610843660191269433 .\!gp-self-center{align-self:center!important}.gps-610843660191269433 .gp-self-center{align-self:center}.gps-610843660191269433 .gp-overflow-hidden{overflow:hidden}.gps-610843660191269433 .gp-break-words{overflow-wrap:break-word}.gps-610843660191269433 .gp-border{border-width:1px}.gps-610843660191269433 .gp-border-transparent{border-color:transparent}.gps-610843660191269433 .gp-text-left{text-align:left}.gps-610843660191269433 .gp-text-center{text-align:center}.gps-610843660191269433 .gp-leading-\[0\]{line-height:0}.gps-610843660191269433 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-610843660191269433 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-610843660191269433 .gp-no-underline{text-decoration-line:none}.gps-610843660191269433 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610843660191269433 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610843660191269433 .gp-duration-200{transition-duration:.2s}.gps-610843660191269433 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-610843660191269433 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-610843660191269433 .hover\:gp-opacity-80:hover{opacity:.8}}.gps-610843660191269433 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-610843660191269433 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-absolute[data-browser=safari]:after{content:var(--tw-content);position:absolute}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-bottom-0[data-browser=safari]:after{bottom:0;content:var(--tw-content)}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-left-0[data-browser=safari]:after{content:var(--tw-content);left:0}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-right-0[data-browser=safari]:after{content:var(--tw-content);right:0}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-h-1\/2[data-browser=safari]:after{content:var(--tw-content);height:50%}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-w-full[data-browser=safari]:after{content:var(--tw-content);width:100%}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-bg-gradient-to-t[data-browser=safari]:after{background-image:linear-gradient(to top,var(--tw-gradient-stops));content:var(--tw-content)}.gps-610843660191269433 .data-\[browser\=safari\]\:after\:gp-from-white[data-browser=safari]:after{content:var(--tw-content);--tw-gradient-from:#fff var(--tw-gradient-from-position);--tw-gradient-to:hsla(0,0%,100%,0) var(--tw-gradient-to-position);--tw-gradient-stops:var(--tw-gradient-from),var(--tw-gradient-to)}.gps-610843660191269433 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-610843660191269433 .tablet\:\!gp-absolute{position:absolute!important}.gps-610843660191269433 .tablet\:\!gp-hidden{display:none!important}.gps-610843660191269433 .tablet\:gp-hidden{display:none}.gps-610843660191269433 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-610843660191269433 .tablet\:gp-justify-start{justify-content:flex-start}.gps-610843660191269433 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-610843660191269433 .mobile\:\!gp-absolute{position:absolute!important}.gps-610843660191269433 .mobile\:\!gp-hidden{display:none!important}.gps-610843660191269433 .mobile\:gp-hidden{display:none}.gps-610843660191269433 .mobile\:\!gp-h-auto{height:auto!important}.gps-610843660191269433 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-610843660191269433 .mobile\:gp-justify-start{justify-content:flex-start}.gps-610843660191269433 .mobile\:\!gp-self-center{align-self:center!important}}.gps-610843660191269433 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-610843660191269433 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-610843660191269433 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-610843660191269433 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-610843660191269433 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-610843660191269433 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-610843660191269433 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-610843660191269433 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-610843660191269433 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-610843660191269433 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-610843660191269433 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-610843660191269433 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-610843660191269433 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-610843660191269433 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-610843660191269433 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}@media not all and (min-resolution:0.001dpcm){.gps-610843660191269433 .safari\:\[\&_p\]\:gp-inline p{display:inline}.gps-610843660191269433 .safari\:\[\&_p\]\:after\:gp-whitespace-pre p:after{content:var(--tw-content);white-space:pre}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1ymHCRopx"}' data-id="g1ymHCRopx" id="g1ymHCRopx" data-same-height-subgrid-container class="g1ymHCRopx gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:16px;--pb:48px;--pt-mobile:14px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--pt-tablet:16px;--pb-tablet:48px;--cg:32px;--gtc:minmax(0, 12fr);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g1vVtKqEVf gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F1F9F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gEy2f5Rs_G"}' data-id="gEy2f5Rs_G" id="gEy2f5Rs_G" data-same-height-subgrid-container class="gEy2f5Rs_G gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:dashed;--bw:2px 2px 2px 2px;--bc:#FD873C;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:32px;--pl:30px;--pb:32px;--pr:30px;--pt-mobile:21px;--pl-mobile:19px;--pb-mobile:21px;--pr-mobile:19px;--cg:8px;--gtc:minmax(0, 12fr);--w:580px;--w-tablet:580px;--w-mobile:var(--g-ct-w, 100%);--bgc:#F1F9F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g8fv-L0o_J gp-relative gp-flex gp-flex-col"
    >
      
    
      {%- assign gpBkProduct = product -%}
      
      {%- liquid
        if request.page_type == 'product'
          if 'static' == 'static'
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at' | reverse | first
              endpaginate
            else
              assign product = all_products['']
              assign productId = 'latest' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        else
          if 'latest' == 'latest'
            paginate collections.all.products by 100000
              assign product = collections.all.products | sort: 'created_at'| reverse | first
            endpaginate
          else
            assign product = all_products['']
            assign productId = 'latest' | times: 1
            if product == empty or product == null
              paginate collections.all.products by 100000
                for item in collections.all.products
                  if item.id == productId
                    assign product = item
                  endif
                endfor
              endpaginate
            endif
          endif
        endif
      -%}
    
    
    {% if product != empty and product != null %}
      
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "gH4WuFdVLL" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
    
      <gp-product
        data-uid="gH4WuFdVLL"
        data-id="gH4WuFdVLL"
        
        
        gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [], "isSyncProduct": "true", "hasPreSelected": false, "variantSelected": {{ variant | json | escape }},  "inventory_management": {{ variant.inventory_management | json | escape  }}, "inventory_policy": {{ variant.inventory_policy | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity | default: 0 }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'
      >
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
    

    

    
    <gp-row gp-data='{"uid":"gH4WuFdVLL"}' data-id="gH4WuFdVLL-row" id="gH4WuFdVLL" data-same-height-subgrid-container class="gH4WuFdVLL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:0px;--cg:30px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:580px;--w-mobile:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUy7fFO7po gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l)" class="g0HhFDHCtB ">
      {% unless product %}<p>{{ 'gempages.ProductTitle.product_not_found' | t }}</p>{% else %}
      <gp-product-title
        gp-data='{"setting":{"linkProduct":false},"uid":"g0HhFDHCtB"}'
      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0HhFDHCtB"
        class="g0HhFDHCtB"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <h2
          data-gp-text
          class=" gp-text-instant"
          style="--w:100%;--tdt:auto;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;word-break:break-word;overflow:hidden"
        >
          {{ product.title }}
        </h2>
      </div>
    </div>
    
      </gp-product-title>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-title-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {% endunless %}
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_uAM7JQAU"
        class="g_uAM7JQAU"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_uAM7JQAU_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g_uAM7JQAU">
        .g_uAM7JQAU {

}
.g_uAM7JQAU p {

}
      </style>
    
      <gp-hero-banner
        
        data-id="goPE7r25Hp"
        class="goPE7r25Hp gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--w:100%;--w-tablet:100%;--w-mobile:auto;--h:auto;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_588234442166764118-e1b30f54-b54f-462e-82db-92108841477a.png","height":641,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Rectangle_4573_2.png","storage":"FILE_CONTENT","width":1032},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_588234442166764118-e1b30f54-b54f-462e-82db-92108841477a.png","height":641,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Rectangle_4573_2.png","storage":"FILE_CONTENT","width":1032},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_588234442166764118-e1b30f54-b54f-462e-82db-92108841477a.png","height":641,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Rectangle_4573_2.png","storage":"FILE_CONTENT","width":1032},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"goPE7r25Hp","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"center"},"sizeSetting":{"desktop":{"shape":"original","width":"100%","widthHeightLinked":false},"tablet":{"shape":"original","width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"","shape":"original","shapeLinked":true,"width":""}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-start tablet:gp-justify-start mobile:gp-justify-start" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzItNjQxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDMyIiBoZWlnaHQ9IjY0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIGZpbGw9InVybCgjZy0xMDMyLTY0MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzIiIHRvPSIxMDMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSIxMDMyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDMyLTEwMzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMzIiIGhlaWdodD0iMTAzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSIxMDMyIiBmaWxsPSJ1cmwoI2ctMTAzMi0xMDMyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAzMiIgdG89IjEwMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSIxMDMyIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDMyLTEwMzIiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwMzIiIGhlaWdodD0iMTAzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSIxMDMyIiBmaWxsPSJ1cmwoI2ctMTAzMi0xMDMyKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTAzMiIgdG89IjEwMzIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Rectangle_4573_2.png" | file_url }}" data-src="{{ "Rectangle_4573_2.png" | file_url }}" data-srcset="{{ "Rectangle_4573_2.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Rectangle_4573_2.png" | file_url }}" data-src="{{ "Rectangle_4573_2.png" | file_url }}" data-srcset="{{ "Rectangle_4573_2.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Rectangle_4573_2.png" | file_url }}" data-src="{{ "Rectangle_4573_2.png" | file_url }}" data-srcset="{{ "Rectangle_4573_2.png" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-absolute  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:114px;--pt:31px;--pb:0px;--pl-tablet:0px;--pr-tablet:114px;--pt-tablet:31px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:57px;--pt-mobile:26px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:start;--pc-tablet:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gQOzllnR9v gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWOT8l03xZ"
        class="gWOT8l03xZ"
        style="--ta:right;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--pt:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:right">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100px;--w-tablet:100px;--w-mobile:60px;--tdt:auto;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--size:19px;--size-tablet:19px;--size-mobile:12px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#FFFFFF;--tt:uppercase;word-break:break-word;--bgc:#186A64;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pt:25px;--pb:25px;--pt-mobile:14px;--pb-mobile:14px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWOT8l03xZ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Rectangle_4573_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzItNjQxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDMyIiBoZWlnaHQ9IjY0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIGZpbGw9InVybCgjZy0xMDMyLTY0MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzIiIHRvPSIxMDMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Rectangle_4573_2.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzItNjQxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDMyIiBoZWlnaHQ9IjY0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIGZpbGw9InVybCgjZy0xMDMyLTY0MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzIiIHRvPSIxMDMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMzItNjQxIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDMyIiBoZWlnaHQ9IjY0MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAzMiIgaGVpZ2h0PSI2NDEiIGZpbGw9InVybCgjZy0xMDMyLTY0MSkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMzIiIHRvPSIxMDMyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Rectangle_4573_2.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--d:block;--d-tablet:block;--d-mobile:block;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:auto"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gXomf75s9e"
        class="gXomf75s9e"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:16px;--mb:8px;--mt-mobile:14px;--mb-mobile:8px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggXomf75s9e_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    
    <div data-id="gf4107c5Iy"  style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--mb-mobile:14px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:center">
            <div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gGvIxw9pcD ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g1jg1S215r" class="gp-leading-[0] g1jg1S215r" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="g1jg1S215r" class="icon-wrapper gp-inline-flex gp-overflow-hidden g1jg1S215r " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFBB1C;--t:rotate(0deg);--w:18px;--w-mobile:14px;--h:18px;--h-mobile:14px;--minw:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gl_osFq5-U ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gpjIzU2TQF" class="gp-leading-[0] gpjIzU2TQF" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--mb-tablet:0px;--ta:left">
      <div data-id="gpjIzU2TQF" class="icon-wrapper gp-inline-flex gp-overflow-hidden gpjIzU2TQF " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFBB1C;--t:rotate(0deg);--w:18px;--w-mobile:14px;--h:18px;--h-mobile:14px;--minw:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gN2e0OrWDD ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gSR1993xz_" class="gp-leading-[0] gSR1993xz_" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gSR1993xz_" class="icon-wrapper gp-inline-flex gp-overflow-hidden gSR1993xz_ " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFBB1C;--t:rotate(0deg);--w:18px;--w-mobile:14px;--h:18px;--h-mobile:14px;--minw:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gVJRkEU8Fk ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gWiweTwz4Q" class="gp-leading-[0] gWiweTwz4Q" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="gWiweTwz4Q" class="icon-wrapper gp-inline-flex gp-overflow-hidden gWiweTwz4Q " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFBB1C;--t:rotate(0deg);--w:18px;--w-mobile:14px;--h:18px;--h-mobile:14px;--minw:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--radius:var(--g-radius-none)" class="gciw-pxYke ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g4eSKT4QYF" class="gp-leading-[0] g4eSKT4QYF" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:left">
      <div data-id="g4eSKT4QYF" class="icon-wrapper gp-inline-flex gp-overflow-hidden g4eSKT4QYF " style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000">
      
        <div >
          <span style="--c:#FFBB1C;--t:rotate(0deg);--w:18px;--w-mobile:14px;--h:18px;--h-mobile:14px;--minw:18px;--minw-mobile:14px;--height-desktop:18px;--height-tablet:18px;--height-mobile:14px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#","selectedTab":"custom","target":"_self","title":""}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gpQe3vttUX"].gp-button-base::before, [data-id="gpQe3vttUX-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gpQe3vttUX"]:hover::before, [data-id="gpQe3vttUX-interaction"]:hover::before {
    
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gpQe3vttUX" dataId="gpQe3vttUX" data-state="idle" aria-label="Shop the Sale"
          
          href="#" target="_self"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:auto;--pr:auto;--pt:12px;--pb:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#00ADA1;--bg:#186A64;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase"
          class="gpQe3vttUX gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggpQe3vttUX_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
      <style id="custom-css-gpQe3vttUX">
        button.gpQe3vttUX {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gIeC1sP7_Y"
        class="gIeC1sP7_Y"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:16px;--mb:12px;--mt-mobile:14px;--mb-mobile:10px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIeC1sP7_Y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gIeC1sP7_Y">
        .gIeC1sP7_Y {

}
.gIeC1sP7_Y p {

}
      </style>
    <div gp-el-wrapper  class="gzpIyuLWlq ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gzpIyuLWlq"
      data-id="gzpIyuLWlq"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:16px;--mb-mobile:14px;--jc:left"
      className="gzpIyuLWlq"
      gp-data='{"position":{"desktop":"center","mobile":"baseline","tablet":"center"},"iconWidth":{"desktop":16,"mobile":16,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px;--rg-mobile:7px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzpIyuLWlq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="515194616287331416" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<path d="M0.9375 5.37109H0.46875C0.209875 5.37109 0 5.58097 0 5.83984V13.3398C0 13.5987 0.209875 13.8086 0.46875 13.8086H0.9375C1.45528 13.8086 1.875 13.3889 1.875 12.8711V6.30859C1.875 5.79084 1.45528 5.37109 0.9375 5.37109Z" fill="#FFBB1C"/>
<path d="M14.5938 5.36903H10.0378L8.55284 3.8845C7.70506 3.03625 6.36106 2.96303 5.42541 3.70919L2.8125 5.79969C2.8125 11.8537 2.8125 10.3603 2.8125 13.0685C4.16244 13.5491 5.57694 13.8066 7.03125 13.8066H8.90625C9.68169 13.8066 10.3125 13.1758 10.3125 12.4003C10.3125 12.2177 10.2777 12.0428 10.2136 11.8821C10.8106 11.7196 11.25 11.1726 11.25 10.5253C11.25 10.3427 11.2152 10.1678 11.1511 10.0071C11.7481 9.84463 12.1875 9.2976 12.1875 8.65031C12.1875 8.48597 12.1591 8.32806 12.1069 8.18156H14.5938C15.3692 8.18156 16 7.55075 16 6.77531C16 5.99988 15.3692 5.36903 14.5938 5.36903Z" fill="#FFBB1C"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzpIyuLWlq_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzpIyuLWlq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="515194616287331416" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<path d="M0.9375 5.37109H0.46875C0.209875 5.37109 0 5.58097 0 5.83984V13.3398C0 13.5987 0.209875 13.8086 0.46875 13.8086H0.9375C1.45528 13.8086 1.875 13.3889 1.875 12.8711V6.30859C1.875 5.79084 1.45528 5.37109 0.9375 5.37109Z" fill="#FFBB1C"/>
<path d="M14.5938 5.36903H10.0378L8.55284 3.8845C7.70506 3.03625 6.36106 2.96303 5.42541 3.70919L2.8125 5.79969C2.8125 11.8537 2.8125 10.3603 2.8125 13.0685C4.16244 13.5491 5.57694 13.8066 7.03125 13.8066H8.90625C9.68169 13.8066 10.3125 13.1758 10.3125 12.4003C10.3125 12.2177 10.2777 12.0428 10.2136 11.8821C10.8106 11.7196 11.25 11.1726 11.25 10.5253C11.25 10.3427 11.2152 10.1678 11.1511 10.0071C11.7481 9.84463 12.1875 9.2976 12.1875 8.65031C12.1875 8.48597 12.1591 8.32806 12.1069 8.18156H14.5938C15.3692 8.18156 16 7.55075 16 6.77531C16 5.99988 15.3692 5.36903 14.5938 5.36903Z" fill="#FFBB1C"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzpIyuLWlq_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gzpIyuLWlq"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:flex-start"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00C853;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:16px"
                        >
                          <svg data-id="515194616287331416" xmlns="http://www.w3.org/2000/svg" width="16" height="17" viewBox="0 0 16 17" fill="none">
<path d="M0.9375 5.37109H0.46875C0.209875 5.37109 0 5.58097 0 5.83984V13.3398C0 13.5987 0.209875 13.8086 0.46875 13.8086H0.9375C1.45528 13.8086 1.875 13.3889 1.875 12.8711V6.30859C1.875 5.79084 1.45528 5.37109 0.9375 5.37109Z" fill="#FFBB1C"/>
<path d="M14.5938 5.36903H10.0378L8.55284 3.8845C7.70506 3.03625 6.36106 2.96303 5.42541 3.70919L2.8125 5.79969C2.8125 11.8537 2.8125 10.3603 2.8125 13.0685C4.16244 13.5491 5.57694 13.8066 7.03125 13.8066H8.90625C9.68169 13.8066 10.3125 13.1758 10.3125 12.4003C10.3125 12.2177 10.2777 12.0428 10.2136 11.8821C10.8106 11.7196 11.25 11.1726 11.25 10.5253C11.25 10.3427 11.2152 10.1678 11.1511 10.0071C11.7481 9.84463 12.1875 9.2976 12.1875 8.65031C12.1875 8.48597 12.1591 8.32806 12.1069 8.18156H14.5938C15.3692 8.18156 16 7.55075 16 6.77531C16 5.99988 15.3692 5.36903 14.5938 5.36903Z" fill="#FFBB1C"/>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzpIyuLWlq_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDyQandwbF"
        class="gDyQandwbF"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:24px;--mt-mobile:0px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:19px;--size-tablet:19px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDyQandwbF_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gDyQandwbF">
        .gDyQandwbF {

}
.gDyQandwbF p {

}
      </style>
    <div gp-el-wrapper  class="gw76ssMqkf ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gw76ssMqkf"
      data-id="gw76ssMqkf"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--mb:24px;--mb-mobile:21px;--jc:left"
      className="gw76ssMqkf"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":16,"mobile":14,"tablet":16}}'
    >
      
          <div class="gp-flex" style="--b:solid;--bc:#121212;--bw:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:8px;--rg-mobile:7px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gw76ssMqkf"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:14px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw76ssMqkf_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gw76ssMqkf"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:14px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw76ssMqkf_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gw76ssMqkf"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#52C41A;--w:100%;--h:100%;--size-desktop:16px;--size-tablet:16px;--size-mobile:14px"
                        >
                          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor"><path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--ls:normal;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggw76ssMqkf_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gpTgoUrwlW"
        class="gpTgoUrwlW"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggpTgoUrwlW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gpTgoUrwlW">
        .gpTgoUrwlW {

}
.gpTgoUrwlW p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gKvIjiaqDp gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gDTIyh2QI9 ">
      {% if product.description == blank %}{% else %}
    <gp-product-description
      data-id="gDTIyh2QI9"
      class="gp-product-description undefined"
      gp-data='{"setting":{"lineClamp":{"desktop":12},"hasLineClamp":{"desktop":true},"viewMoreText":"Show more","viewLessText":"Show less","enableViewMoreIcon":true},"textStyle":{"--ta":"left","--c":"var(--g-c-text-1, text-1)","--maxh":"calc(12 * 1lh)","--maxh-tablet":"calc(12 * 1lh)","--maxh-mobile":"calc(12 * 1lh)","--line-clamp":12,"--line-clamp-tablet":12,"--line-clamp-mobile":12}}'
      data-view-more-text="{{ section.settings.ggDTIyh2QI9_viewMoreText }}"
      data-view-less-text="{{ section.settings.ggDTIyh2QI9_viewLessText }}"
    >
      <style>
      .p-description-wrapper.gp-p-description-text * {
        color: inherit;
        line-height: inherit !important;
      }</style>
      <style>
   .gp-p-description-text > :not(ol, ul, table, div, style, script) {
      display: inline !important;
    }

    .gp-p-description-text > :not(ol, ul, table, div, style, script)::after {
      content: "";
      display: block; /* đảm bảo xuống dòng trên Safari/iOS */
    }
    .gp-p-description-text > table {
      box-shadow: none;
    }
  </style>
      <div class="gp-rotate-180 gp-hidden" ></div>
      {% unless product %}<p>Product not found</p>{% else %}<div data-gp-text class="gp-relative  gp-p-description-text gp-break-words safari:[&_p]:gp-inline safari:[&_p]:after:gp-whitespace-pre p-description-wrapper gp-g-paragraph-1 gp-text-g-text-1 data-[browser=safari]:after:gp-content-[' '] data-[browser=safari]:after:gp-absolute data-[browser=safari]:after:gp-left-0 data-[browser=safari]:after:gp-right-0 data-[browser=safari]:after:gp-bottom-0 data-[browser=safari]:after:gp-w-full data-[browser=safari]:after:gp-h-1/2 data-[browser=safari]:after:gp-bg-gradient-to-t data-[browser=safari]:after:gp-from-white" style="--ta:left;--c:var(--g-c-text-1, text-1);--maxh:calc(12 * 1lh);--maxh-tablet:calc(12 * 1lh);--maxh-mobile:calc(12 * 1lh);--line-clamp:12;--line-clamp-tablet:12;--line-clamp-mobile:12">
          {{product.description}}
        </div>
        {% unless product.description == blank %}<button type="button" class="p-description-show-more gp-items-center gp-mt-4 gp-w-full gp-transition-all hover:gp-opacity-80 gp-g-paragraph-1 gp-text-g-text-1" style="--jc:left;--c:var(--g-c-text-1, text-1);--d:inline-flex;--d-mobile:inline-flex;--d-tablet:inline-flex">
          <span class="gp-show-more-text">
            {{ section.settings.ggDTIyh2QI9_viewMoreText }}
          </span>
          <span class="gp-show-more-icon gp-ml-1"><svg height="1em" width="1em" viewBox="0 0 22 12" fill="none" xmlns="http://www.w3.org/2000/svg" ><path d="M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L1.70711 0.292893ZM11 11L10.2929 11.7071C10.6834 12.0976 11.3166 12.0976 11.7071 11.7071L11 11ZM21.7071 1.70711C22.0976 1.31658 22.0976 0.683417 21.7071 0.292893C21.3166 -0.0976311 20.6834 -0.0976311 20.2929 0.292893L21.7071 1.70711ZM0.292893 1.70711L10.2929 11.7071L11.7071 10.2929L1.70711 0.292893L0.292893 1.70711ZM11.7071 11.7071L21.7071 1.70711L20.2929 0.292893L10.2929 10.2929L11.7071 11.7071Z"
              fill="currentColor"/>
        </svg></span>
          </button>{% endunless %}{% endunless %}
    </gp-product-description>

    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-description-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  {% endif %}
      </div>
    </div>

      
    </gp-row>
  
  
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ 'gempages.Product.product_not_found' | t }}</div>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-product-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-610843660191269433 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=610843655711752919&sectionId=610843660191269433)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg_uAM7JQAU_text","label":"gg_uAM7JQAU_text","default":"<p>Your satisfaction is our topmost priority.</p><p>&nbsp;</p><p>We are committed to our promise of a hassle-free, no-questions-asked refund policy.</p>"},{"type":"html","id":"ggWOT8l03xZ_text","label":"ggWOT8l03xZ_text","default":"best seller"},{"type":"html","id":"ggXomf75s9e_text","label":"ggXomf75s9e_text","default":"Hair growth oil"},{"type":"html","id":"ggpQe3vttUX_label","label":"ggpQe3vttUX_label","default":"Shop the Sale"},{"type":"html","id":"ggIeC1sP7_Y_text","label":"ggIeC1sP7_Y_text","default":"<p>Remember...</p>"},{"type":"html","id":"ggzpIyuLWlq_childItem_0","label":"ggzpIyuLWlq_childItem_0","default":"<p>It's not just about defying the effects of hair loss...</p>"},{"type":"html","id":"ggzpIyuLWlq_childItem_1","label":"ggzpIyuLWlq_childItem_1","default":"<p>It's about preserving and nourishing our hair's health.</p>"},{"type":"html","id":"ggzpIyuLWlq_childItem_2","label":"ggzpIyuLWlq_childItem_2","default":"<p>It&#039;s about aging gracefully with beautiful hair.</p>"},{"type":"html","id":"ggDyQandwbF_text","label":"ggDyQandwbF_text","default":"<p>It's about embracing extraordinary confidence and feeling utterly incredible with luscious, healthy hair, radiating natural beauty from the crown of your head.</p>"},{"type":"html","id":"ggw76ssMqkf_childItem_0","label":"ggw76ssMqkf_childItem_0","default":"<p>No chemicals...</p>"},{"type":"html","id":"ggw76ssMqkf_childItem_1","label":"ggw76ssMqkf_childItem_1","default":"<p>No complications...</p>"},{"type":"html","id":"ggw76ssMqkf_childItem_2","label":"ggw76ssMqkf_childItem_2","default":"<p>No worries!</p>"},{"type":"html","id":"ggpTgoUrwlW_text","label":"ggpTgoUrwlW_text","default":"<p>Limited availability! Grab your Hair Growth Oil starter kit now for luscious locks. Don't miss out!</p>"},{"type":"html","id":"ggDTIyh2QI9_viewMoreText","label":"ggDTIyh2QI9_viewMoreText","default":"Show more"},{"type":"html","id":"ggDTIyh2QI9_viewLessText","label":"ggDTIyh2QI9_viewLessText","default":"Show less"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}