
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591495056280519626.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-591495056280519626.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-591495056280519626.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591495056280519626.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591495056280519626.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591495056280519626.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591495056280519626.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591495056280519626.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591495056280519626.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591495056280519626.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591495056280519626.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591495056280519626.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591495056280519626.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591495056280519626.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591495056280519626.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591495056280519626.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591495056280519626.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591495056280519626.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591495056280519626.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591495056280519626.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591495056280519626.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591495056280519626.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591495056280519626.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591495056280519626.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591495056280519626.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591495056280519626.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591495056280519626.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591495056280519626.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591495056280519626.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591495056280519626.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591495056280519626.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591495056280519626.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591495056280519626.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-591495056280519626.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591495056280519626.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-591495056280519626.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591495056280519626.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591495056280519626.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591495056280519626.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591495056280519626.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591495056280519626.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591495056280519626.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591495056280519626.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591495056280519626.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591495056280519626.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591495056280519626.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591495056280519626.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591495056280519626.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591495056280519626.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-591495056280519626.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591495056280519626.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-591495056280519626.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591495056280519626.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591495056280519626.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-591495056280519626.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591495056280519626.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591495056280519626.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591495056280519626.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591495056280519626.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591495056280519626.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591495056280519626.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591495056280519626.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-591495056280519626.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-591495056280519626.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591495056280519626.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591495056280519626.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591495056280519626.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591495056280519626.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591495056280519626.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591495056280519626.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591495056280519626 .gp-relative{position:relative}.gps-591495056280519626 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591495056280519626 .gp-mb-0{margin-bottom:0}.gps-591495056280519626 .gp-flex{display:flex}.gps-591495056280519626 .gp-inline-flex{display:inline-flex}.gps-591495056280519626 .gp-grid{display:grid}.gps-591495056280519626 .\!gp-hidden{display:none!important}.gps-591495056280519626 .gp-hidden{display:none}.gps-591495056280519626 .gp-h-full{height:100%}.gps-591495056280519626 .gp-w-full{width:100%}.gps-591495056280519626 .\!gp-max-w-none{max-width:none!important}.gps-591495056280519626 .gp-max-w-full{max-width:100%}.gps-591495056280519626 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591495056280519626 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-591495056280519626 .gp-flex-col{flex-direction:column}.gps-591495056280519626 .gp-items-center{align-items:center}.gps-591495056280519626 .gp-justify-center{justify-content:center}.gps-591495056280519626 .gp-overflow-hidden{overflow:hidden}.gps-591495056280519626 .gp-break-words{overflow-wrap:break-word}.gps-591495056280519626 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-591495056280519626 .gp-text-center{text-align:center}.gps-591495056280519626 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591495056280519626 .gp-no-underline{text-decoration-line:none}.gps-591495056280519626 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495056280519626 .gp-duration-200{transition-duration:.2s}.gps-591495056280519626 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495056280519626 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591495056280519626 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591495056280519626 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591495056280519626 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591495056280519626 .tablet\:\!gp-hidden{display:none!important}.gps-591495056280519626 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-591495056280519626 .mobile\:\!gp-hidden{display:none!important}.gps-591495056280519626 .mobile\:gp-hidden{display:none}}.gps-591495056280519626 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591495056280519626 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-591495056280519626 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-591495056280519626 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-591495056280519626 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2lbb1b67909a"}' data-id="i2lbb1b67909a" id="i2lbb1b67909a" data-same-height-subgrid-container class="i2lbb1b67909a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:200px;--pr-mobile:10px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2lbb1b67909a gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2lbb1b67909a"}' data-id="w-i2lbb1b67909a" id="w-i2lbb1b67909a" data-same-height-subgrid-container class="w-i2lbb1b67909a gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:641px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l7f15ef0d26 gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gCiKNWjLbN" class="gCiKNWjLbN !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-mobile:15px;--bbrr-mobile:15px;--btlr-mobile:15px;--btrr-mobile:15px;--mb:24px;--aspect:16/9">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gCiKNWjLbN" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/946c860f9a0944ae9f1d09d7d87b5e4f.mp4" poster data-poster
      style="--aspect:16/9"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="DoEryfUXRmpA"
        class="DoEryfUXRmpA"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432348708"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:600;--size:36px;--size-tablet:41px;--size-mobile:26px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gDoEryfUXRmpA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="zUhVmmLVBUDt"
        class="zUhVmmLVBUDt"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:64px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:40px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432348709"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gzUhVmmLVBUDt_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l080b5e82d4","target":"_self","title":"Section 7","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="g0y1wZXy6c"].gp-button-base::before, [data-id="g0y1wZXy6c-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="g0y1wZXy6c"]:hover::before, [data-id="g0y1wZXy6c-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l080b5e82d4
            target=_self
          ></a>
        <a
          data-id="g0y1wZXy6c" dataId="g0y1wZXy6c" data-state="idle" aria-label="<p>Wat is de oplossing?</p>"
          
          href="#i2l080b5e82d4" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="g0y1wZXy6c gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg0y1wZXy6c_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-591495056280519626 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591494857504064141&sectionId=591495056280519626)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gDoEryfUXRmpA_text","label":"gDoEryfUXRmpA_text","default":"Wat is de #1 oorzaak achter gewrichtspijn bij overgewicht?"},{"type":"html","id":"gzUhVmmLVBUDt_text","label":"gzUhVmmLVBUDt_text","default":"<p>Veel baasjes denken dat gewrichtspijn bij honden met overgewicht \"gewoon hoort\" bij het gewicht. Maar wist je dat de echte schade vaak al is gebeurd — en dat simpel afvallen dat niet herstelt?</p><p>&nbsp;</p><p>Wanneer je hond te zwaar is, staat er elke dag te veel druk op zijn gewrichten. Het kraakbeen — dat als \"schokdemper\" werkt — slijt langzaam af. Ontstekingen worden chronisch. En zonder de juiste voeding kan het kraakbeen zich niet herstellen.</p><p>Het gevolg? Zelfs na succesvol afvallen heeft je hond nog steeds pijn. Omdat de onderliggende schade niet is aangepakt.</p>"},{"type":"html","id":"gg0y1wZXy6c_label","label":"gg0y1wZXy6c_label","default":"<p>Wat is de oplossing?</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}