
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-596613681668817510.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-596613681668817510.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-596613681668817510.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-596613681668817510.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-596613681668817510.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-596613681668817510.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-596613681668817510.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-596613681668817510.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-596613681668817510.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-596613681668817510.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-596613681668817510.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-596613681668817510.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-596613681668817510.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-596613681668817510.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-596613681668817510.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-596613681668817510.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-596613681668817510.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-596613681668817510.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-596613681668817510.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-596613681668817510.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-596613681668817510.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-596613681668817510.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-596613681668817510.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-596613681668817510.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-596613681668817510.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-596613681668817510.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-596613681668817510.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-596613681668817510.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-596613681668817510.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-596613681668817510.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-596613681668817510.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-596613681668817510.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-596613681668817510.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-596613681668817510.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-596613681668817510.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-596613681668817510.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-596613681668817510.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-596613681668817510.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-596613681668817510.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-596613681668817510.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-596613681668817510.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-596613681668817510.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-596613681668817510.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-596613681668817510.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-596613681668817510.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-596613681668817510.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-596613681668817510.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-596613681668817510.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-596613681668817510.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-596613681668817510.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-596613681668817510.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-596613681668817510.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-596613681668817510.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-596613681668817510.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-596613681668817510.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-596613681668817510.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-596613681668817510.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-596613681668817510.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-596613681668817510.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-596613681668817510.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-596613681668817510.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-596613681668817510.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-596613681668817510.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-596613681668817510.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-596613681668817510.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-596613681668817510.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-596613681668817510.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-596613681668817510.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-596613681668817510.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-596613681668817510.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-596613681668817510.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-596613681668817510.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-596613681668817510.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-596613681668817510.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-596613681668817510.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-596613681668817510.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-596613681668817510.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-596613681668817510.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-596613681668817510.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-596613681668817510.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-596613681668817510.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-596613681668817510.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-596613681668817510.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-596613681668817510.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-596613681668817510.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-596613681668817510.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-596613681668817510.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-596613681668817510.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-596613681668817510.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-596613681668817510 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-596613681668817510 .gp-relative{position:relative}.gps-596613681668817510 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-596613681668817510 .gp-mb-0{margin-bottom:0}.gps-596613681668817510 .gp-block{display:block}.gps-596613681668817510 .gp-inline-block{display:inline-block}.gps-596613681668817510 .gp-flex{display:flex}.gps-596613681668817510 .gp-inline-flex{display:inline-flex}.gps-596613681668817510 .gp-grid{display:grid}.gps-596613681668817510 .gp-contents{display:contents}.gps-596613681668817510 .\!gp-hidden{display:none!important}.gps-596613681668817510 .gp-hidden{display:none}.gps-596613681668817510 .gp-h-auto{height:auto}.gps-596613681668817510 .gp-h-full{height:100%}.gps-596613681668817510 .gp-w-full{width:100%}.gps-596613681668817510 .gp-max-w-full{max-width:100%}.gps-596613681668817510 .gp-flex-none{flex:none}.gps-596613681668817510 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-596613681668817510 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-596613681668817510 .gp-flex-col{flex-direction:column}.gps-596613681668817510 .gp-items-center{align-items:center}.gps-596613681668817510 .gp-justify-center{justify-content:center}.gps-596613681668817510 .gp-overflow-hidden{overflow:hidden}.gps-596613681668817510 .gp-break-words{overflow-wrap:break-word}.gps-596613681668817510 .gp-text-center{text-align:center}.gps-596613681668817510 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-596613681668817510 .gp-no-underline{text-decoration-line:none}.gps-596613681668817510 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596613681668817510 .gp-duration-200{transition-duration:.2s}.gps-596613681668817510 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-596613681668817510 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-596613681668817510 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-596613681668817510 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-596613681668817510 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-596613681668817510 .tablet\:gp-block{display:block}.gps-596613681668817510 .tablet\:\!gp-hidden{display:none!important}.gps-596613681668817510 .tablet\:gp-hidden{display:none}.gps-596613681668817510 .tablet\:gp-h-auto{height:auto}.gps-596613681668817510 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-596613681668817510 .mobile\:gp-block{display:block}.gps-596613681668817510 .mobile\:\!gp-hidden{display:none!important}.gps-596613681668817510 .mobile\:gp-hidden{display:none}.gps-596613681668817510 .mobile\:gp-h-auto{height:auto}.gps-596613681668817510 .mobile\:gp-flex-none{flex:none}}.gps-596613681668817510 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-596613681668817510 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alata';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alata/v12/PbytFmztEwbIofe6.ttf) format('truetype');
}


@font-face {
  font-family: 'Alatsi';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alatsi/v14/TK3iWkUJAxQ2nLNGHg.ttf) format('truetype');
}


@font-face {
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alansans/v5/zOLt4pbDmq5Eu6ebjMSx4sywa339j__gfN_oxyA.ttf) format('truetype');
}


@font-face {
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alansans/v5/zOLt4pbDmq5Eu6ebjMSx4sywa339j__gfDjvxyA.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-mN0Tz9nS"}' data-id="g-mN0Tz9nS" id="g-mN0Tz9nS" data-same-height-subgrid-container class="g-mN0Tz9nS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:0px;--pt:0px;--pl:0px;--pb:24px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:auto;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gD2_J49zOT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAw7vagfy_"}' data-id="gAw7vagfy_" id="gAw7vagfy_" data-same-height-subgrid-container class="gAw7vagfy_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:20px;--pb-tablet:24px;--pr-tablet:20px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBNFSoxMXF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHYQiF290A"
        class="gHYQiF290A"
        style="--ta:left;--mb:24px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHYQiF290A_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUL1RomBhz"
        class="gUL1RomBhz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-tablet:24px;--mb-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-heading, heading);--weight:600;--size:40px;--size-tablet:40px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUL1RomBhz_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    <div gp-el-wrapper style="--mb:24px;--pt:12px;--pb:12px;--mb-mobile:5px;--pt-mobile:12px;--pb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="g_Jt4s5ZPH ">
      
    <div data-id="g_Jt4s5ZPH" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:var(--g-c-line-2, line-2)" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:var(--g-c-line-2, line-2);--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:var(--g-c-line-2, line-2);--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMH4ToGP3D"
        class="gMH4ToGP3D"
        style="--ta:left;--mb:24px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:12px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMH4ToGP3D_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gX3O_JYRA_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765145366813 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gX3O_JYRA_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Telegraaf_svg.png" | file_url }}" data-src="{{ "Telegraaf_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gX3O_JYRA_">
        .gX3O_JYRA_ {

}
.gX3O_JYRA_ > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8hhyBopSD"
        class="g8hhyBopSD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8hhyBopSD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8hhyBopSD">
        .g8hhyBopSD {

}
.g8hhyBopSD p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWu9IvO4o3"
        class="gWu9IvO4o3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWu9IvO4o3_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvO-Rorg79"
        class="gvO-Rorg79"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvO-Rorg79_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gvO-Rorg79">
        .gvO-Rorg79 {

}
.gvO-Rorg79 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7Bz7smIim"
        class="g7Bz7smIim"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7Bz7smIim_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gY6rk-qTdR"
        class="gY6rk-qTdR"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggY6rk-qTdR_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gY6rk-qTdR">
        .gY6rk-qTdR {

}
.gY6rk-qTdR p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gMLJj3sW97"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765145366815 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMLJj3sW97"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "logo11.svg" | file_url }}" srcset="{{ "logo11.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Telegraaf_svg.png" | file_url }}" data-src="{{ "Telegraaf_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gMLJj3sW97">
        .gMLJj3sW97 {

}
.gMLJj3sW97 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbvtw9o-Ji"
        class="gbvtw9o-Ji"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbvtw9o-Ji_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2RLPus8UK"
        class="g2RLPus8UK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2RLPus8UK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g2RLPus8UK">
        .g2RLPus8UK {

}
.g2RLPus8UK p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHHqVe2t1y"
        class="gHHqVe2t1y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHHqVe2t1y_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g1twlLmsMb"
        class="g1twlLmsMb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg1twlLmsMb_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g1twlLmsMb">
        .g1twlLmsMb {

}
.g1twlLmsMb p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gj4dFonZZL"
        class="gj4dFonZZL"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#EAEDFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-tablet:0px;--bbrr-tablet:0px;--btlr-tablet:0px;--btrr-tablet:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Alata, 'Alata'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:#E6E6E6;--bgc-tablet:#E6E6E6;--bgc-mobile:#D6EFFD;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggj4dFonZZL_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gj4dFonZZL">
        .gj4dFonZZL {

}
.gj4dFonZZL p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDLq6jPgAV"
        class="gDLq6jPgAV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDLq6jPgAV_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gl0k2CIg7x"
        class="gl0k2CIg7x"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggl0k2CIg7x_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gl0k2CIg7x">
        .gl0k2CIg7x {

}
.gl0k2CIg7x p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gtNgVe1wuO"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765145366816 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gtNgVe1wuO"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "logo11.svg" | file_url }}" srcset="{{ "logo11.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Telegraaf_svg.png" | file_url }}" data-src="{{ "Telegraaf_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gtNgVe1wuO">
        .gtNgVe1wuO {

}
.gtNgVe1wuO > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gMzZz_T_z-"
        class="gMzZz_T_z-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggMzZz_T_z-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gMzZz_T_z-">
        .gMzZz_T_z- {

}
.gMzZz_T_z- p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8CZIvLJy-"
        class="g8CZIvLJy-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8CZIvLJy-_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcCXyDYzut"
        class="gcCXyDYzut"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcCXyDYzut_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gcCXyDYzut">
        .gcCXyDYzut {

}
.gcCXyDYzut p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gri5n7AXLi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:12px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765145366817 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gri5n7AXLi"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Telegraaf_svg.png" | file_url }}" data-src="{{ "Telegraaf_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gri5n7AXLi">
        .gri5n7AXLi {

}
.gri5n7AXLi > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0ZVJ-7tIe"
        class="g0ZVJ-7tIe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0ZVJ-7tIe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0ZVJ-7tIe">
        .g0ZVJ-7tIe {

}
.g0ZVJ-7tIe p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gwm8GpNatq"
        class="gwm8GpNatq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggwm8GpNatq_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gH5UEqjWtN"
        class="gH5UEqjWtN"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggH5UEqjWtN_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gH5UEqjWtN">
        .gH5UEqjWtN {

}
.gH5UEqjWtN p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gsWssoOhX7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1765145366818 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsWssoOhX7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "logo11.svg" | file_url }}" srcset="{{ "logo11.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Telegraaf_svg.png" | file_url }}" srcset="{{ "Telegraaf_svg.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "Telegraaf_svg.png" | file_url }}" data-src="{{ "Telegraaf_svg.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gsWssoOhX7">
        .gsWssoOhX7 {

}
.gsWssoOhX7 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0Mwph1b-9"
        class="g0Mwph1b-9"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0Mwph1b-9_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g0Mwph1b-9">
        .g0Mwph1b-9 {

}
.g0Mwph1b-9 p {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdMOBQ57cV"
        class="gdMOBQ57cV"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdMOBQ57cV_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT3u0s0BD1"
        class="gT3u0s0BD1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT3u0s0BD1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gT3u0s0BD1">
        .gT3u0s0BD1 {

}
.gT3u0s0BD1 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{"mobile":{"preload":false,"color":"#EFEFEF","type":"color"},"desktop":{"type":"color","color":"#EFEFEF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g3DXw66XkT"}' data-id="g3DXw66XkT" id="g3DXw66XkT" data-same-height-subgrid-container class="g3DXw66XkT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:#EFEFEF;--bgc-mobile:#EFEFEF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gj3jGSo-N4 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gdcgK4RjVc"
        class="gdcgK4RjVc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#EAEDFF;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bblr-tablet:0px;--bbrr-tablet:0px;--btlr-tablet:0px;--btrr-tablet:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--ts:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Alatsi, 'Alatsi'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:26px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgc-tablet:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-tablet:scroll;--bga-mobile:scroll;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--pl-tablet:60px;--pr-tablet:60px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggdcgK4RjVc_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gdcgK4RjVc">
        .gdcgK4RjVc {

}
.gdcgK4RjVc p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="g71rGxHAE3"].gp-button-base::before, [data-id="g71rGxHAE3-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g71rGxHAE3"]:hover::before, [data-id="g71rGxHAE3-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g71rGxHAE3" dataId="g71rGxHAE3" data-state="idle" aria-label="<p><strong>TAKE THE QUIZ</strong></p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:70%;--w-mobile:80%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:30px;--pr-mobile:30px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#E81A41;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Alan-Sans, 'Alan Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%"
          class="g71rGxHAE3 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Alan-Sans, 'Alan Sans'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg71rGxHAE3_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfDIfksb5K"
        class="gfDIfksb5K"
        style="--ta:left;--mb-tablet:20px;--mb-mobile:11px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:center;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:18px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfDIfksb5K_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--mb:24px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%" class="gfxi6m3aS9 ">
      
    <div data-id="gfxi6m3aS9" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#DDDDDD" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#DDDDDD;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#DDDDDD;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#DDDDDD;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:1px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
  
    <div
      
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="ghWav3uN9V gp-custom-code">
      <div>
    <div data-role="" style="margin-top:40px;position:relative;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
    <h2 style="color:rgb(1, 1, 1);font-size:22px;font-weight:700;margin-bottom:30px;margin:0px 0px 30px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
        Reacties <span style="margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">(11)</span>
    </h2>

    <ol style="list-style:outside none none;margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">

        <!-- Korte comment 1 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Marianne</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">2 dec 2025 om 08:06</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Ik ben benieuwd, tot nu toe heeft niets echt geholpen tegen de artrose van mijn hond.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Korte comment 2 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Tom</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">30 nov 2025 om 07:07</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Dit moet ik proberen voor onze oude labrador!
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0-2" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Korte comment 3 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Els</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">29 nov 2025 om 06:08</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Ik ga het uitproberen, hopelijk geeft het haar gewrichten wat verlichting.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-0-3" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Grote review 1 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Sandra &amp; Bram</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">24 nov 2025 om 08:06</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Onze labrador Bram (11 jaar) liep de laatste maanden zo stijf dat we dachten aan pijnstillers van de dierenarts. Na drie weken met de PetCura gewrichtssnacks springt hij weer zelf op de bank en vraagt zelfs om langere wandelingen. Had dit echt veel eerder willen ontdekken. ❤️
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-1" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

        <!-- Review 2 -->
        <li data-depth="1" style="border-bottom:1px solid rgb(239, 239, 239);padding-bottom:20px;margin-bottom:20px;margin:0px 0px 20px;padding:0px 0px 20px;box-sizing:border-box;font-family:Inter, sans-serif;">
            <div>
                <div style="display:flex;align-items:flex-start;">
                    <div style="width:40px;height:40px;background-color:rgb(117, 192, 213);border-radius:100%;position:relative;">
                        <img width="18" height="20" src="https://healthinsider.news/app/themes/Health-Insider/images/avatar.svg" alt="avatar" style="position:absolute;top:20px;left:20px;transform:translate(-9px,-10px);filter:brightness(0) saturate(1) invert(0.48) sepia(0.19) saturate(9.99) hue-rotate(148deg) brightness(1.01) contrast(0.88);" />
                    </div>
                    <div style="margin-left:15px;">
                        <div style="color:rgb(1, 1, 1);font-size:14px;font-weight:700;">Peter J.</div>
                        <div style="color:rgb(106, 106, 106);font-size:12px;font-weight:400;margin-top:8px;">22 nov 2025 om 07:07</div>
                    </div>
                </div>
                <div style="display:flex;align-items:flex-start;margin-top:17px;">
                    <div style="border-radius:10px;background-color:rgb(247, 247, 247);padding:8px 20px;margin-right:10px;">
                        <div style="margin-bottom:16px;">
                            <p style="color:rgb(1, 1, 1);font-size:16px;font-weight:400;line-height:24px;margin:0;">
                                Onze herder van 9 jaar stond ’s ochtends altijd moeilijk op. Nu krijgt hij elke dag 2 snacks bij zijn ontbijt en binnen een paar dagen zagen we verschil. Hij loopt soepeler en struikelt veel minder op de trap.
                            </p>
                        </div>
                    </div>
                    <a rel="nofollow" href="#comment-2" style="min-width:40px;height:40px;border-radius:100%;background-color:rgb(247, 247, 247);position:relative;transition:0.5s;text-decoration:none;color:rgb(0, 0, 0);">
                        <img width="14" height="12" src="https://healthinsider.news/app/themes/Health-Insider/images/back.svg" alt="back-arrow" style="position:absolute;top:20px;left:20px;transform:translate(-7px,-6px);transition:0.3s;" />
                    </a>
                </div>
            </div>
        </li>

    </ol>

    <div data-id="196184" data-offset="5" data-total="11" style="color:rgb(42, 144, 167);font-size:14px;font-weight:500;cursor:pointer;transition:0.5s;margin:0px;padding:0px;box-sizing:border-box;font-family:Inter, sans-serif;">
        Meer reacties bekijken (6)
    </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-596613681668817510 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=596613681568023142&sectionId=596613681668817510)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHYQiF290A_text","label":"ggHYQiF290A_text","default":"<p><a href=\"https://healthinsider.news/\"><span style=\"color:rgb(0,0,0);font-size:12px;\">Home &nbsp;&gt; &nbsp; P</span></a><a href=\"https://healthinsider.news/category/psychology/\"><span style=\"color:rgb(0,0,0);font-size:12px;\">sychology</span></a><span style=\"color:rgb(0,0,0);font-size:12px;\"> &nbsp; &nbsp;&gt; </span><span style=\"color:rgb(106,106,106);font-size:12px;\">Neuroscientist and Psychologist Agree: This 15-Minute ‘Stress Reset’ Routine Quiets Every Brain That Won’t Shut Off (Most Do It Wrong)</span></p>"},{"type":"html","id":"ggUL1RomBhz_text","label":"ggUL1RomBhz_text","default":"Neuroscientist and Psychologist Agree: This 15-Minute ‘Stress Reset’ Routine Quiets Every Brain That Won’t Shut Off (Most Do It Wrong)"},{"type":"html","id":"ggMH4ToGP3D_text","label":"ggMH4ToGP3D_text","default":"<p>Published By <span style=\"color:#2A90A7;\"><strong>Alexandra Pierce MD &nbsp; | &nbsp;&nbsp;</strong></span><a href=\"https://healthinsider.news/category/psychology/\"><strong>Psychology</strong></a></p><p>Last update: Dec 1 &nbsp; • &nbsp; 🗨️ 11 &nbsp; &nbsp;👁️ 156507 &nbsp; ⌛ 5 min</p>"},{"type":"html","id":"gg8hhyBopSD_text","label":"gg8hhyBopSD_text","default":"<p>Our readers have been flooding Health Insider with questions about the trending ‘stress reset’ audio frequencies for stress and anxiety.</p><p>&nbsp;</p><p>Mentioned on the <strong>Huberman Lab Podcast</strong> and <strong>highlighted by top U.S. research institutions</strong> like <strong>Yale</strong>, the topic has gained massive attention.</p><p>&nbsp;</p><p>So I reached out to two renowned specialists – both were happy to speak with me.</p><p>&nbsp;</p><p>Dr. Max Renner, a leading neuroscientist specializing in neural recovery, and Dr. Lila Hartman, clinical psychologist focused on stress.</p><p>&nbsp;</p><p>“Paralyzing mental noise and anxiety have reached pandemic levels in the U.S., with rates now several times higher than just three decades ago.<a href=\"https://www.psychiatry.org/news-room/news-releases/annual-poll-adults-express-increasing-anxiousness\"><sup>1</sup></a></p><p>&nbsp;</p><p>The average American spends about $1,080 per year on mental health,”<a href=\"https://news.yale.edu/2024/04/22/novel-study-quantifies-immense-economic-costs-mental-illness-us\"><sup>2</sup></a> Dr. Renner says.</p><p>&nbsp;</p><p>“The worst part? <strong>People burn out and drown in debt just to see a therapist</strong>,” Dr. Hartman adds.</p><p>&nbsp;</p><p>I asked both experts to comment on <strong>what American institutions </strong>are uncovering and<strong> share their verdict on audio-based ‘stress reset’ </strong>methods<strong>.</strong></p><p>&nbsp;</p><p>Interestingly, my guests’ answers pointed in the same direction – this approach might be the most underestimated shift in modern mental health.</p>"},{"type":"html","id":"ggWu9IvO4o3_text","label":"ggWu9IvO4o3_text","default":"3 little-known scientific facts about brain activity reveal why the audio-based Stress Reset is the only right lever"},{"type":"html","id":"ggvO-Rorg79_text","label":"ggvO-Rorg79_text","default":"<p>At the start of our conversation, both experts laid out the scientific groundwork behind their claims.</p>"},{"type":"html","id":"gg7Bz7smIim_text","label":"gg7Bz7smIim_text","default":"Truth #1: Your nervous system runs on electrical frequencies – like a radio station"},{"type":"html","id":"ggY6rk-qTdR_text","label":"ggY6rk-qTdR_text","default":"<p>“<strong>Every emotion, thought, and state of mind is tied to specific brainwave frequencies</strong>, measured in Hertz.</p><p>&nbsp;</p><p>These rhythms shape how we feel: calm, stressed, or stuck in mental noise,” Dr. Renner says.<a href=\"https://jyotirgamya.org/opinion/brain-waves-for-emotional-well-being/\"><sup>3</sup></a><sup>,</sup><a href=\"https://www.frontiersin.org/journals/human-neuroscience/articles/10.3389/fnhum.2022.868549/full\"><sup>4</sup></a></p><p>&nbsp;</p><p>“When the system falls out of sync, the result is a brain that simply won’t quiet down.”<br><br>Turns out, <strong>understanding these frequencies is the key</strong> to reducing the stress response.</p>"},{"type":"html","id":"ggbvtw9o-Ji_text","label":"ggbvtw9o-Ji_text","default":"Truth #2: Everyday stimuli and chronic stress disrupt your brain’s natural frequencies"},{"type":"html","id":"gg2RLPus8UK_text","label":"gg2RLPus8UK_text","default":"<p>“Your brain isn’t built for nonstop pings, social media scrolls, and YouTube ads – but that’s what it gets every day.<br><br>These inputs don’t just make you feel worse – they literally <strong>disrupt the brain’s natural rhythm, which rarely rebalances on its own</strong>.<br><br>This leads to stress and the sense that your mind just won’t turn off,” says Dr. Hartman.<br><br>EEG studies confirm that chronic stress and overstimulation alter brainwave patterns in measurable ways.<a href=\"https://www.researchgate.net/publication/358717107_A_review_of_the_literature_on_the_impact_of_acute_and_chronic_stress_upon_brain_waves\"><sup>5</sup></a></p>"},{"type":"html","id":"ggHHqVe2t1y_text","label":"ggHHqVe2t1y_text","default":"Truth #3: Studies confirm you can’t fix a frequency problem with pills, talks, or stretches – there is only one way to do it"},{"type":"html","id":"gg1twlLmsMb_text","label":"gg1twlLmsMb_text","default":"<p>You can’t talk, stretch, or medicate your way out of a disrupted frequency pattern – these methods don’t directly rebalance the brain’s electrical activity.</p><p>&nbsp;</p><p>“This kind of problem <strong>lives in the rhythm of your nervous system</strong>,” states Dr. Renner, “<strong>so it needs a rhythmic solution</strong>.</p><p>&nbsp;</p><p>That’s why audio-based programs, using precise frequencies, are gaining attention from serious neuroscience labs.</p><p>&nbsp;</p><p><strong>The most effective audio technique is called binaural beats</strong> – two slightly different frequencies are played into each ear, at the same time,” he concludes.</p><p>&nbsp;</p><p>In controlled studies, it showed a clear, consistent calming effect, with anxiety scores dropping by nearly 30%.<a href=\"https://www.lakeforest.edu/academics/student-honors-and-research/student-publications/eukaryon/the-science-behind-binaural-beats-can-sound-ease-anxiety-and-boost-your-brain\"><sup>6</sup></a></p>"},{"type":"html","id":"ggj4dFonZZL_text","label":"ggj4dFonZZL_text","default":"<p><i>“Even more compelling, a large-scale meta-analysis of over 20 studies confirmed that <strong>targeted sound protocols reduce anxiety and improve emotional regulation</strong>.</i><a href=\"https://www.mdpi.com/2076-3417/14/13/5675\"><i><sup>7</sup></i></a></p><p>&nbsp;</p><p><i>This isn’t experimental – it’s gaining ground as one of the most promising non-invasive tools in neuroscience, with a growing body of research from leading institutions.”</i></p><p>&nbsp;</p><p>– Dr. Max Renner, neuroscientist</p>"},{"type":"html","id":"ggDLq6jPgAV_text","label":"ggDLq6jPgAV_text","default":"And, for the first time, it’s being made accessible: “This Stress Reset turned out to do wonders to my clients,” Dr. Hartman says"},{"type":"html","id":"ggl0k2CIg7x_text","label":"ggl0k2CIg7x_text","default":"<p>“I came across the use of binaural frequencies early in my clinical work.</p><p>&nbsp;</p><p><strong>It was mentioned at a neuroscience conference in Berlin in spring 2025</strong>, where researchers from Columbia and Yale Universities were presenting their work.</p><p>&nbsp;</p><p>They showed how audio frequencies could shift brain states within minutes,” she says.<a href=\"https://pubmed.ncbi.nlm.nih.gov/31977827/\"><sup>8</sup></a><sup>,</sup><a href=\"https://medicine.yale.edu/news-article/yale-study-music-mindfulness-may-treat-symptoms-of-anxiety-and-depression/\"><sup>9</sup></a></p>"},{"type":"html","id":"ggMzZz_T_z-_text","label":"ggMzZz_T_z-_text","default":"<p>“I managed to get access to several of their tested audio protocols and started using them with my clients.</p><p>The results were unlike anything I’d seen before,” Dr. Hartman says.</p><p>&nbsp;</p><p>“<strong>People unresponsive to other methods noticed a real shift in under 7 minutes</strong>.”</p><p>&nbsp;</p><p>The best part? Actually, it works on any internet-connected device with a screen – phone, tablet, laptop, personal computer.&nbsp;&nbsp;</p>"},{"type":"html","id":"gg8CZIvLJy-_text","label":"gg8CZIvLJy-_text","default":"But why you’re unlikely to get results from YouTube or Spotify – and the alternatives people trust most"},{"type":"html","id":"ggcCXyDYzut_text","label":"ggcCXyDYzut_text","default":"<p>“Binaural tracks on YouTube and Spotify are compressed and re‑encoded, which removes the precise frequency dynamic needed.</p><p>&nbsp;</p><p><strong>Compression algorithms cut or alter key frequency components</strong> that binaural protocols rely on,” Hartman continues.</p><p>&nbsp;</p><p>“Moreover, many creators overlay binaural beats onto music or voice, turning them into average ambient tracks.</p>"},{"type":"html","id":"gg0ZVJ-7tIe_text","label":"gg0ZVJ-7tIe_text","default":"<p>Even when labeled “4 Hz alpha tone,” volume, channel balance, and timing aren’t calibrated – so the brain doesn’t receive clear, phase-locked input.</p><p>&nbsp;</p><p>By contrast,<strong> dedicated platforms maintain bit-accuracy</strong>, frequency precision, and timing consistency to ensure real neural responses.”</p>"},{"type":"html","id":"ggwm8GpNatq_text","label":"ggwm8GpNatq_text","default":"Columbia, Yale, and others laid the groundwork for now-booming audio platforms – one of them offered our readers an exclusive deal"},{"type":"html","id":"ggH5UEqjWtN_text","label":"ggH5UEqjWtN_text","default":"<p>It started with studies at places like Columbia and Yale, where researchers mapped how sound affects neural states.</p><p>&nbsp;</p><p>The early groundwork of these studies is now powering a new wave of platforms designed to apply those findings in real life.</p><p>&nbsp;</p><p><strong>One of them reached out </strong>after hearing about our conversation – and prepared a special offer <strong>exclusively for Health Insider readers.</strong></p><p>What caught our attention most, though, was the data. According to user-reported results:</p><ul><li><strong>97% feel immediate nervous system relaxation</strong>;</li><li><strong>84% notice calmer thoughts within 15 minutes</strong>;</li><li>and <strong>91% report long-lasting anxiety relief</strong> after using the program regularly.</li></ul>"},{"type":"html","id":"gg0Mwph1b-9_text","label":"gg0Mwph1b-9_text","default":"<p>The platform is called <strong>InnerFlo</strong> – and it’s built entirely around personalized binaural beats routines.</p><ul><li>Using short diagnostic input, it <strong>maps your individual stress pattern</strong> and assigns precise <strong>binaural beat protocols</strong>.</li><li>It <strong>guides you </strong>through a personalized routine – no effort needed.</li><li>Sessions are short, between <strong>5 to 30 minutes</strong>, and can be played on any device.</li></ul><p>Research confirms that regular short sessions are fully sufficient to trigger measurable improvements.</p>"},{"type":"html","id":"ggdMOBQ57cV_text","label":"ggdMOBQ57cV_text","default":"All it takes is a quick 2-minute quiz – it shapes your personalized Stress Reset routine and unlocks the only way to get 55% off"},{"type":"html","id":"ggT3u0s0BD1_text","label":"ggT3u0s0BD1_text","default":"<p>The quiz builds your personalized Stress Reset routine (you can adjust it later).</p><p>&nbsp;</p><p>Additionally, it unlocks the only way to get 55% off.</p><p>&nbsp;</p><p><strong>Just answer a few simple questions</strong> and get access to a tool that’s already helped thousands.</p><p>&nbsp;</p><p>You don’t need to commit to anything, and it’s a much more affordable route than therapy sessions, prescriptions, or supplements.</p><p>&nbsp;</p><p>The effects are real – and there’s a 30-day money-back guarantee.</p>"},{"type":"html","id":"ggdcgK4RjVc_text","label":"ggdcgK4RjVc_text","default":"<p><strong>The ideal Stress Reset looks different for everyone. Get a guided binaural beats routine tailored to your needs</strong></p>"},{"type":"html","id":"gg71rGxHAE3_label","label":"gg71rGxHAE3_label","default":"<p><strong>TAKE THE QUIZ</strong></p>"},{"type":"html","id":"ggfDIfksb5K_text","label":"ggfDIfksb5K_text","default":"<p><span style=\"color:#A3A3A3;font-size:11px;\">Results may vary due to personal features</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}