
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595062392027808444.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-595062392027808444.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-595062392027808444.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595062392027808444.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595062392027808444.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595062392027808444.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595062392027808444.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595062392027808444.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595062392027808444.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595062392027808444.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595062392027808444.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595062392027808444.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595062392027808444.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595062392027808444.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595062392027808444.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-595062392027808444.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595062392027808444.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595062392027808444.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595062392027808444.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595062392027808444.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595062392027808444.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-595062392027808444.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595062392027808444.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595062392027808444.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595062392027808444.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595062392027808444.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595062392027808444.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595062392027808444.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595062392027808444.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595062392027808444.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-595062392027808444.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-595062392027808444.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595062392027808444.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595062392027808444.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-595062392027808444.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-595062392027808444.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-595062392027808444.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-595062392027808444.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595062392027808444.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595062392027808444.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595062392027808444.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595062392027808444.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595062392027808444.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595062392027808444.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595062392027808444.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595062392027808444.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-595062392027808444.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595062392027808444.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595062392027808444.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-595062392027808444.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-595062392027808444.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-595062392027808444.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-595062392027808444.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595062392027808444.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-595062392027808444.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595062392027808444.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-595062392027808444.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-595062392027808444.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-595062392027808444.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-595062392027808444.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595062392027808444.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-595062392027808444.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595062392027808444.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595062392027808444.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-595062392027808444.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-595062392027808444.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-595062392027808444.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595062392027808444.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595062392027808444.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595062392027808444.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595062392027808444.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-595062392027808444.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-595062392027808444.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-595062392027808444 .gp-relative{position:relative}.gps-595062392027808444 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595062392027808444 .gp-mb-0{margin-bottom:0}.gps-595062392027808444 .gp-inline-block{display:inline-block}.gps-595062392027808444 .gp-flex{display:flex}.gps-595062392027808444 .gp-grid{display:grid}.gps-595062392027808444 .gp-contents{display:contents}.gps-595062392027808444 .\!gp-hidden{display:none!important}.gps-595062392027808444 .gp-hidden{display:none}.gps-595062392027808444 .gp-h-auto{height:auto}.gps-595062392027808444 .gp-h-full{height:100%}.gps-595062392027808444 .gp-w-full{width:100%}.gps-595062392027808444 .gp-max-w-full{max-width:100%}.gps-595062392027808444 .gp-flex-none{flex:none}.gps-595062392027808444 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595062392027808444 .gp-flex-col{flex-direction:column}.gps-595062392027808444 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595062392027808444 .gp-duration-200{transition-duration:.2s}.gps-595062392027808444 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-595062392027808444 .tablet\:\!gp-hidden{display:none!important}.gps-595062392027808444 .tablet\:gp-hidden{display:none}.gps-595062392027808444 .tablet\:gp-h-auto{height:auto}.gps-595062392027808444 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-595062392027808444 .mobile\:\!gp-hidden{display:none!important}.gps-595062392027808444 .mobile\:gp-hidden{display:none}.gps-595062392027808444 .mobile\:gp-h-auto{height:auto}.gps-595062392027808444 .mobile\:gp-flex-none{flex:none}}.gps-595062392027808444 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(5, 79, 69)","type":"color"}},"uid":"i2l173f0e4c89"}' data-id="i2l173f0e4c89" id="i2l173f0e4c89" data-same-height-subgrid-container class="i2l173f0e4c89 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:15px;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(5, 79, 69);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-w-i2l173f0e4c89 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"w-i2l173f0e4c89"}' data-id="w-i2l173f0e4c89" id="w-i2l173f0e4c89" data-same-height-subgrid-container class="w-i2l173f0e4c89 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:675px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2lc98afd0665 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="FFMEOtFwbmoB"
        class="FFMEOtFwbmoB"
        style="--ta:center;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--weight:400;--size:17px;--size-tablet:18px;--size-mobile:16px;--c:rgb(255, 255, 255);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gFFMEOtFwbmoB_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gW7LbfAhGM"}' data-id="gW7LbfAhGM" id="gW7LbfAhGM" data-same-height-subgrid-container class="gW7LbfAhGM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gRTVqP-jXw gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gP11Y45ddQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764214548228 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gP11Y45ddQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "92e6d0ed-3cd9-41da-87a6-0187810cc854.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODk1LTM5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0idXJsKCNnLTg5NS0zOTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04OTUiIHRvPSI4OTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "92e6d0ed-3cd9-41da-87a6-0187810cc854.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODk1LTM5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0idXJsKCNnLTg5NS0zOTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04OTUiIHRvPSI4OTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "92e6d0ed-3cd9-41da-87a6-0187810cc854.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctODk1LTM5NyI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iODk1IiBoZWlnaHQ9IjM5NyIgZmlsbD0idXJsKCNnLTg5NS0zOTcpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii04OTUiIHRvPSI4OTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "92e6d0ed-3cd9-41da-87a6-0187810cc854.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gDwJTdzy28 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gvFnvwlzL9"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764214548230 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gvFnvwlzL9"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "5ad0b0d1-4a95-43db-907b-056c0e54e68d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjItNDIyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjYyIiBoZWlnaHQ9IjQyMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIGZpbGw9InVybCgjZy0xMjYyLTQyMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjIiIHRvPSIxMjYyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "5ad0b0d1-4a95-43db-907b-056c0e54e68d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjItNDIyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjYyIiBoZWlnaHQ9IjQyMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIGZpbGw9InVybCgjZy0xMjYyLTQyMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjIiIHRvPSIxMjYyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "5ad0b0d1-4a95-43db-907b-056c0e54e68d.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNjItNDIyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjYyIiBoZWlnaHQ9IjQyMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI2MiIgaGVpZ2h0PSI0MjIiIGZpbGw9InVybCgjZy0xMjYyLTQyMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNjIiIHRvPSIxMjYyIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "5ad0b0d1-4a95-43db-907b-056c0e54e68d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="galy1mmjbW gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g-h8MU3002"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1764214548232 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-h8MU3002"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "ee186576-8e6e-42a9-8eed-7b9d96c3596d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQyLTIxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0idXJsKCNnLTU0Mi0yMTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDIiIHRvPSI1NDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "ee186576-8e6e-42a9-8eed-7b9d96c3596d.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQyLTIxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0idXJsKCNnLTU0Mi0yMTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDIiIHRvPSI1NDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "ee186576-8e6e-42a9-8eed-7b9d96c3596d.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQyLTIxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0idXJsKCNnLTU0Mi0yMTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDIiIHRvPSI1NDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "ee186576-8e6e-42a9-8eed-7b9d96c3596d.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-595062392027808444 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=595062391910171324&sectionId=595062392027808444)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gFFMEOtFwbmoB_text","label":"gFFMEOtFwbmoB_text","default":"Bekend van"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}