
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-603960539797914476.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-603960539797914476.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-603960539797914476.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-603960539797914476.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-603960539797914476.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-603960539797914476.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-603960539797914476.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-603960539797914476.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-603960539797914476.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-603960539797914476.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-603960539797914476.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-603960539797914476.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-603960539797914476.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-603960539797914476.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-603960539797914476.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-603960539797914476.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-603960539797914476.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-603960539797914476.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-603960539797914476.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-603960539797914476.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-603960539797914476.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-603960539797914476.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-603960539797914476.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-603960539797914476.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-603960539797914476.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-603960539797914476.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-603960539797914476.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-603960539797914476.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-603960539797914476.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-603960539797914476.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-603960539797914476.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-603960539797914476.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-603960539797914476.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-603960539797914476.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-603960539797914476.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-603960539797914476.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-603960539797914476.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-603960539797914476.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-603960539797914476.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-603960539797914476.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-603960539797914476.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-603960539797914476.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-603960539797914476.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-603960539797914476.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-603960539797914476.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-603960539797914476.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-603960539797914476.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-603960539797914476.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-603960539797914476.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-603960539797914476.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-603960539797914476.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-603960539797914476.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-603960539797914476.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-603960539797914476.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-603960539797914476.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-603960539797914476.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-603960539797914476.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-603960539797914476.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-603960539797914476.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-603960539797914476.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-603960539797914476.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-603960539797914476.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-603960539797914476.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-603960539797914476.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-603960539797914476.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-603960539797914476.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-603960539797914476.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-603960539797914476.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-603960539797914476.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-603960539797914476.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-603960539797914476.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-603960539797914476.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-603960539797914476.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-603960539797914476.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-603960539797914476.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-603960539797914476 .gp-relative{position:relative}.gps-603960539797914476 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-603960539797914476 .gp-mb-0{margin-bottom:0}.gps-603960539797914476 .gp-flex{display:flex}.gps-603960539797914476 .gp-inline-flex{display:inline-flex}.gps-603960539797914476 .gp-grid{display:grid}.gps-603960539797914476 .\!gp-hidden{display:none!important}.gps-603960539797914476 .gp-hidden{display:none}.gps-603960539797914476 .gp-h-full{height:100%}.gps-603960539797914476 .gp-max-w-full{max-width:100%}.gps-603960539797914476 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-603960539797914476 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-603960539797914476 .gp-flex-col{flex-direction:column}.gps-603960539797914476 .gp-items-center{align-items:center}.gps-603960539797914476 .gp-justify-center{justify-content:center}.gps-603960539797914476 .gp-overflow-hidden{overflow:hidden}.gps-603960539797914476 .gp-break-words{overflow-wrap:break-word}.gps-603960539797914476 .gp-text-center{text-align:center}.gps-603960539797914476 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-603960539797914476 .gp-no-underline{text-decoration-line:none}.gps-603960539797914476 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603960539797914476 .gp-duration-200{transition-duration:.2s}.gps-603960539797914476 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-603960539797914476 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-603960539797914476 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-603960539797914476 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-603960539797914476 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-603960539797914476 .tablet\:\!gp-hidden{display:none!important}.gps-603960539797914476 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-603960539797914476 .mobile\:\!gp-hidden{display:none!important}.gps-603960539797914476 .mobile\:gp-hidden{display:none}}.gps-603960539797914476 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-603960539797914476 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#EFFDF6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#EFFDF6","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gbDbWslx6c"}' data-id="gbDbWslx6c" id="gbDbWslx6c" data-same-height-subgrid-container class="gbDbWslx6c gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:180px;--pb:180px;--pt-mobile:180px;--pl-mobile:0px;--pb-mobile:180px;--pr-mobile:0px;--pt-tablet:180px;--pb-tablet:180px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#EFFDF6;--bgc-mobile:#EFFDF6;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gluDUhfAr1 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glY5KypUZm"
        class="glY5KypUZm"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:25px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:600;--size:36px;--size-tablet:41px;--size-mobile:26px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglY5KypUZm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--ta:center;--ta-mobile:center" >
        <style>[data-id="g4pcDmJCrV"].gp-button-base::before, [data-id="g4pcDmJCrV-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="g4pcDmJCrV"]:hover::before, [data-id="g4pcDmJCrV-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g4pcDmJCrV" dataId="g4pcDmJCrV" data-state="idle" aria-label="<p>Ja</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:90px;--pr-mobile:90px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="g4pcDmJCrV gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg4pcDmJCrV_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gGdScwqmvD"].gp-button-base::before, [data-id="gGdScwqmvD-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gGdScwqmvD"]:hover::before, [data-id="gGdScwqmvD-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gGdScwqmvD" dataId="gGdScwqmvD" data-state="idle" aria-label="<p>Nee</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:85px;--pr-mobile:85px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gGdScwqmvD gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggGdScwqmvD_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 12",
    "tag": "section",
    "class": "gps-603960539797914476 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=603960539663565676&sectionId=603960539797914476)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gglY5KypUZm_text","label":"gglY5KypUZm_text","default":"<span style=\"color:rgb(0,0,0);\"><strong>Vertoont jouw hond signalen van gewrichtsproblemen?</strong></span>"},{"type":"html","id":"gg4pcDmJCrV_label","label":"gg4pcDmJCrV_label","default":"<p>Ja</p>"},{"type":"html","id":"ggGdScwqmvD_label","label":"ggGdScwqmvD_label","default":"<p>Nee</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}