
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595606826796450402.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-595606826796450402.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-595606826796450402.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595606826796450402.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595606826796450402.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595606826796450402.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595606826796450402.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595606826796450402.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595606826796450402.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595606826796450402.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595606826796450402.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595606826796450402.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595606826796450402.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595606826796450402.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595606826796450402.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-595606826796450402.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-595606826796450402.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595606826796450402.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595606826796450402.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595606826796450402.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595606826796450402.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595606826796450402.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-595606826796450402.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595606826796450402.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595606826796450402.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595606826796450402.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595606826796450402.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595606826796450402.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-595606826796450402.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595606826796450402.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595606826796450402.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595606826796450402.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-595606826796450402.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-595606826796450402.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-595606826796450402.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-595606826796450402.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595606826796450402.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595606826796450402.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-595606826796450402.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-595606826796450402.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-595606826796450402.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-595606826796450402.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595606826796450402.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595606826796450402.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595606826796450402.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595606826796450402.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595606826796450402.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595606826796450402.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595606826796450402.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595606826796450402.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-595606826796450402.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595606826796450402.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-595606826796450402.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-595606826796450402.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595606826796450402.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-595606826796450402.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-595606826796450402.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-595606826796450402.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595606826796450402.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595606826796450402.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-595606826796450402.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-595606826796450402.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-595606826796450402.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-595606826796450402.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-595606826796450402.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-595606826796450402.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-595606826796450402.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-595606826796450402.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595606826796450402.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595606826796450402.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-595606826796450402.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595606826796450402.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-595606826796450402.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-595606826796450402.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-595606826796450402.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595606826796450402.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595606826796450402.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595606826796450402.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595606826796450402.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-595606826796450402.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-595606826796450402.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-595606826796450402 .gp-relative{position:relative}.gps-595606826796450402 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595606826796450402 .gp-mb-0{margin-bottom:0}.gps-595606826796450402 .gp-inline-block{display:inline-block}.gps-595606826796450402 .gp-flex{display:flex}.gps-595606826796450402 .gp-grid{display:grid}.gps-595606826796450402 .gp-contents{display:contents}.gps-595606826796450402 .\!gp-hidden{display:none!important}.gps-595606826796450402 .gp-hidden{display:none}.gps-595606826796450402 .gp-h-auto{height:auto}.gps-595606826796450402 .gp-h-full{height:100%}.gps-595606826796450402 .gp-w-full{width:100%}.gps-595606826796450402 .gp-max-w-full{max-width:100%}.gps-595606826796450402 .gp-flex-none{flex:none}.gps-595606826796450402 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595606826796450402 .gp-flex-col{flex-direction:column}.gps-595606826796450402 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595606826796450402 .gp-duration-200{transition-duration:.2s}.gps-595606826796450402 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-595606826796450402 .tablet\:\!gp-hidden{display:none!important}.gps-595606826796450402 .tablet\:gp-hidden{display:none}.gps-595606826796450402 .tablet\:gp-h-auto{height:auto}.gps-595606826796450402 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-595606826796450402 .mobile\:\!gp-hidden{display:none!important}.gps-595606826796450402 .mobile\:gp-hidden{display:none}.gps-595606826796450402 .mobile\:gp-h-auto{height:auto}.gps-595606826796450402 .mobile\:gp-flex-none{flex:none}}.gps-595606826796450402 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gsovytMEw3"}' data-id="gsovytMEw3" id="gsovytMEw3" data-same-height-subgrid-container class="gsovytMEw3 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:48px;--pb-mobile:var(--g-s-2xl);--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtGV4WnDsY gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gHDirFW9Da"
        class="gHDirFW9Da"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:16px;--pl-mobile:16px;--pr-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:center;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:23px;--size-tablet:23px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#303030;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggHDirFW9Da_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gHDirFW9Da">
        .gHDirFW9Da {

}
.gHDirFW9Da p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gn_egZtQXE"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:59px;--ml-mobile:0px;--mb-mobile:24px;--mr-mobile:0px;--pl-mobile:16px;--pr-mobile:16px;--mb-tablet:62px;--ta:center"
      class="gp-group/image gp-relative force-publish-1768792130356 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gn_egZtQXE"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "1313ada7-55db-4701-ae65-83400e9ca9e4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjAtNTA3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDIwIiBoZWlnaHQ9IjUwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIGZpbGw9InVybCgjZy0xMDIwLTUwNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjAiIHRvPSIxMDIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "1313ada7-55db-4701-ae65-83400e9ca9e4.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjAtNTA3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDIwIiBoZWlnaHQ9IjUwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIGZpbGw9InVybCgjZy0xMDIwLTUwNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjAiIHRvPSIxMDIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "1313ada7-55db-4701-ae65-83400e9ca9e4.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwMjAtNTA3Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDIwIiBoZWlnaHQ9IjUwNyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTAyMCIgaGVpZ2h0PSI1MDciIGZpbGw9InVybCgjZy0xMDIwLTUwNykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwMjAiIHRvPSIxMDIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "1313ada7-55db-4701-ae65-83400e9ca9e4.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:16px;--pr-mobile:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gS2Myq-K3n gp-custom-code">
      <div>
    <div style="background-color:rgb(240, 240, 240);padding:24px;margin-bottom:24px;margin-top:0px;box-sizing:border-box;">
    <h3 style="font-size:20px;font-family:Montserrat, sans-serif;font-weight:800;text-transform:uppercase;margin-bottom:16px;line-height:24px;margin-top:0px;box-sizing:border-box;">
        Ik ben absoluut onder de indruk!
    </h3>

    <img 
        width="119" 
        height="22"
        src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_1.png?v=1764539068"
        style="margin-bottom:16px;vertical-align:middle;border-style:none;box-sizing:border-box;"
    />

    <p style="font-size:17.2px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;">
        Onze hond Carlos begon zes maanden geleden te hinken en aan zijn gewrichten te likken. 
        Nadat we het PetCura hadden ontdekt, gaven we hem twee "gewrichtssnacks" per dag. 
        Sindsdien speelt hij weer gelukkig met andere honden. We zijn zo blij met de resultaten!
    </p>
</div>
    </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:16px;--pr-mobile:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gDg2DU1sEt gp-custom-code">
      <div>
    <div style="background-color:rgb(240, 240, 240);padding:24px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;">
    <h3 style="font-size:20px;font-family:Montserrat, sans-serif;font-weight:800;text-transform:uppercase;margin-bottom:16px;line-height:24px;margin-top:0px;box-sizing:border-box;">
        Mijn hond is gek op de kauwsnacks
    </h3>

    <img 
        width="119" 
        height="22"
        src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_1.png?v=1764539068"
        style="margin-bottom:16px;vertical-align:middle;border-style:none;box-sizing:border-box;"
    />

    <p style="font-size:17.2px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;">
        Mijn 9-jarige Labrador heeft de afgelopen jaren gewrichtsproblemen gehad.
        We hebben verschillende producten van andere bedrijven geprobeerd en waren teleurgesteld.
        Ik moet zeggen dat PetCura de enige is die tot nu toe heeft geholpen!
        Ik merkte dat mijn hond zich al na een paar weken veel vitaler voelde en minder pijn had.
    </p>
</div>
    </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:145px;--pl-mobile:16px;--pr-mobile:16px;--mb-tablet:55px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gozE4QU5wo gp-custom-code">
      <div>
    <div style="background-color:rgb(240, 240, 240);padding:24px;margin-bottom:0px;margin-top:24px;box-sizing:border-box;">
    <h3 style="font-size:20px;font-family:Montserrat, sans-serif;font-weight:800;text-transform:uppercase;margin-bottom:16px;line-height:24px;margin-top:0px;box-sizing:border-box;">
        Het zijn net gezonde traktaties!
    </h3>

    <img 
        width="119" 
        height="22"
        src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_1.png?v=1764539068"
        style="margin-bottom:16px;vertical-align:middle;border-style:none;box-sizing:border-box;"
    />

    <p style="font-size:17.2px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;">
        Rico heeft al enige tijd artrose en weigert medicijnen te slikken.
        Hij houdt van de gewrichtskauwsnacks en ik kan zien dat hij sindsdien een stuk
        speelser is! Met de kauwsnacks gaat alles makkelijker! Ik kan het alleen
        maar aanraden!
    </p>
</div>
    </div>
    </div>
  
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:16px;--pl-mobile:16px;--pr-mobile:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="gG5s0oCgtm gp-custom-code">
      <div>
    <div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_3.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Joke van Veen We zijn ongeveer 6 weken geleden met de snacks begonnen en hebben vandaag opnieuw besteld! Onze rottweilerdame eet ze graag, maar ik moet zeggen dat het ongeveer 3-4 weken duurde voordat we echt verbetering konden zien. Inmiddels springt ze weer uit zichzelf op de bank en maakt ze een veel fittere indruk als we gaan wandelen. Vroeger deed ze dat helemaal niet en bleef ze alleen maar in haar warme mand liggen... we zijn superblij dat we het geprobeerd hebben. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 4 Reacties · gisteren</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_8.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Anja van der Meer Kan het iedereen aanbevelen... mijn honden doen het weer goed. De artrose maakte het lopen erg moeilijk, maar ze zijn nu veel levendiger en genieten weer van hun rondjes! </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · 1 week geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_7.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Carla de Jong Ik was eerst erg sceptisch (net als bij zoveel van dit soort middelen), maar na de derde week verbeterde zijn toestand aanzienlijk. Hij heeft veel minder last van stijfheid door de artrose. Ik kan de snacks daarom met een gerust hart aanbevelen. Ik ga ze meteen weer bestellen. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 3 Reacties · 2 weken geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_5.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Ingrid de Vries Ik kan het bevestigen, absoluut behulpzaam en ook de prijs meer dan waard!!! Bij ons bijna 14 jaar oude vrouwtje waren de successen al na de eerste week zichtbaar. Ben er gewoon blij mee. De artrose in haar heupen hinderde haar enorm, maar ze staat nu veel vlotter op. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">gisteren · bewerkt</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_4.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Gemma Jansen Ik heb het gekocht... zelf opnieuw besteld... is een wondermiddel............................. Onze oude Labrador had zoveel last van artrose, maar met deze snacks huppelt hij weer mee met de jongere honden. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 2 Reacties · 1 week geleden</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_6.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Claudia van Loon Mijn hond is dol op de kleine botjes en ze werken echt, heb net een navulling besteld. De artrose maakte de lange wandelingen moeilijk, maar ze heeft nu veel meer uithoudingsvermogen. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 13 Reacties · 2 weken geleden · bewerkt</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download.jpg?v=1764553671" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Andrea Vermeulen Onze mengelmoes poes is erg kieskeurig (u weet wel hoe katten zijn met pilletjes!). We hebben alle medicijnen tegen artritis al geprobeerd. Dit zijn de eerste die ze graag eet en - ze wandelt uitstekend met deze traktaties! Haar artrose leek te verergeren, maar nu is ze veel actiever. </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · gisteren</small>
            </div>
        </div>
    </div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_1.jpg?v=1764553669" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Margot Visser Ik geef het nu ongeveer een week aan mijn hond. Het lijkt erop dat het loont. Hij loopt weer meer en ook sneller Ik weet dat hij na zijn 13.5 jaar langzamer kan gaan lopen, maar dat grote hinken liet me echt schrikken , en als het goed voor hem is om deze lekkernijen te eten (ondanks zijn artrose), dan krijgt hij ze ook!

        </p>
        <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">
                8 Reacties · 1 week geleden</small>
        </div>
    </div>
</div>
</div>

<div style="border:2px solid rgb(221, 223, 226);border-radius:3px;padding:12px;margin-bottom:24px;box-sizing:border-box;">
    <div style="border-bottom:2px solid rgb(235, 237, 240);padding-bottom:12px;display:flex;align-items:center;box-sizing:border-box;">
        <div style="margin-top:-5px;margin-right: auto !important;box-sizing:border-box;">
            <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;">Gereageerd op Petcura's openbare bericht</small>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/2021_Facebook_icon_svg.png?v=1764553701" alt="Facebook logo" style="height:24px;width: 24px;box-sizing:border-box;"/>
        </div>
    </div>
    <div data-qd-dropzone="true" style="padding-top:12px;display:flex;align-items:flex-start;box-sizing:border-box;">
        <img width="32" height="32" src="https://cdn.shopify.com/s/files/1/0968/7485/6785/files/download_2.jpg?v=1764553668" data-quickdesign-draggable="true" data-qd-handlers="true" style="margin-right:8px;vertical-align:middle;border-style:none;box-sizing:border-box; border-radius: 50%;" />
        <div style="box-sizing:border-box;">
            <p style="font:14px / 20px Helvetica, Arial, sans-serif;color:rgb(28, 30, 33);font-size:14px;margin-bottom:0px;margin-top:0px;box-sizing:border-box;"> Andrea de Wit Een echte aanrader, zal het opnieuw bestellen! Het heeft onze grote hond (10 jaar en artrose) heel goed gedaan. Hij loopt weer als een jonge hond. De stijfheid 's ochtends is veel minder geworden! </p>
            <div style="display:flex;margin-top:4px;align-items:center;box-sizing:border-box;">
                <small style="font-style:normal;font-variant:normal;font-size-adjust:none;font-kerning: auto;font-optical-sizing: auto;font-feature-settings:normal;font-variation-settings:normal;font-stretch:100%;font-size:12px;font-family:Helvetica, Arial, sans-serif;color:rgb(141, 148, 158);line-height:16px;font-weight:400;box-sizing:border-box;"> 1 Reactie · 2 weken geleden</small>
            </div>
        </div>
    </div>
</div>
    </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-595606826796450402 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=594565286103876530&sectionId=595606826796450402)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggHDirFW9Da_text","label":"ggHDirFW9Da_text","default":"<p>Dit is wat geverifieerde klanten zeggen over onze kauwsnacks!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}