
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604153245870654316.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604153245870654316.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604153245870654316.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604153245870654316.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604153245870654316.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604153245870654316.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604153245870654316.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604153245870654316.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604153245870654316.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604153245870654316.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604153245870654316.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604153245870654316.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604153245870654316.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604153245870654316.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604153245870654316.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604153245870654316.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-604153245870654316.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604153245870654316.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604153245870654316.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604153245870654316.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604153245870654316.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604153245870654316.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604153245870654316.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604153245870654316.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604153245870654316.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604153245870654316.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604153245870654316.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604153245870654316.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604153245870654316.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604153245870654316.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604153245870654316.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604153245870654316.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604153245870654316.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604153245870654316.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604153245870654316.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604153245870654316.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604153245870654316.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604153245870654316.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604153245870654316.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604153245870654316.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604153245870654316.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604153245870654316.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604153245870654316.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604153245870654316.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604153245870654316.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604153245870654316.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604153245870654316.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604153245870654316.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604153245870654316.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604153245870654316.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604153245870654316.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604153245870654316.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604153245870654316.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604153245870654316.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604153245870654316.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604153245870654316.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604153245870654316.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604153245870654316.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604153245870654316.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-604153245870654316.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604153245870654316.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604153245870654316.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604153245870654316.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604153245870654316.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604153245870654316.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-604153245870654316.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604153245870654316.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604153245870654316.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604153245870654316.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604153245870654316.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604153245870654316.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604153245870654316.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604153245870654316.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604153245870654316.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604153245870654316.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604153245870654316.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604153245870654316.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604153245870654316.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604153245870654316.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-604153245870654316.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604153245870654316 .gp-relative{position:relative}.gps-604153245870654316 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604153245870654316 .gp-mb-0{margin-bottom:0}.gps-604153245870654316 .gp-inline-block{display:inline-block}.gps-604153245870654316 .gp-flex{display:flex}.gps-604153245870654316 .gp-inline-flex{display:inline-flex}.gps-604153245870654316 .gp-grid{display:grid}.gps-604153245870654316 .gp-contents{display:contents}.gps-604153245870654316 .\!gp-hidden{display:none!important}.gps-604153245870654316 .gp-hidden{display:none}.gps-604153245870654316 .gp-h-auto{height:auto}.gps-604153245870654316 .gp-h-full{height:100%}.gps-604153245870654316 .gp-w-full{width:100%}.gps-604153245870654316 .gp-max-w-full{max-width:100%}.gps-604153245870654316 .gp-flex-none{flex:none}.gps-604153245870654316 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604153245870654316 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-604153245870654316 .gp-flex-col{flex-direction:column}.gps-604153245870654316 .gp-items-center{align-items:center}.gps-604153245870654316 .gp-justify-center{justify-content:center}.gps-604153245870654316 .gp-overflow-hidden{overflow:hidden}.gps-604153245870654316 .gp-break-words{overflow-wrap:break-word}.gps-604153245870654316 .gp-text-center{text-align:center}.gps-604153245870654316 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-604153245870654316 .gp-no-underline{text-decoration-line:none}.gps-604153245870654316 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604153245870654316 .gp-duration-200{transition-duration:.2s}.gps-604153245870654316 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604153245870654316 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-604153245870654316 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-604153245870654316 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-604153245870654316 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-604153245870654316 .tablet\:\!gp-hidden{display:none!important}.gps-604153245870654316 .tablet\:gp-hidden{display:none}.gps-604153245870654316 .tablet\:gp-h-auto{height:auto}.gps-604153245870654316 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-604153245870654316 .mobile\:\!gp-hidden{display:none!important}.gps-604153245870654316 .mobile\:gp-hidden{display:none}.gps-604153245870654316 .mobile\:gp-h-auto{height:auto}.gps-604153245870654316 .mobile\:gp-flex-none{flex:none}}.gps-604153245870654316 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-604153245870654316 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvcXlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvfzlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvcXlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvfzlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvcXlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Bricolage Grotesque';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/bricolagegrotesque/v9/3y9U6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiaaD30YfKfjZZoLvfzlyM0.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gn6quUAdza"}' data-id="gn6quUAdza" id="gn6quUAdza" data-same-height-subgrid-container class="gn6quUAdza gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:180px;--pb:180px;--pt-mobile:180px;--pl-mobile:10px;--pb-mobile:180px;--pr-mobile:10px;--pt-tablet:180px;--pb-tablet:180px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfKXreV0je gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJkWjzdl21"
        class="gJkWjzdl21"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:15px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:center;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:22px;--weight:bold;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJkWjzdl21_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gUvB1mRKAI"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:40px;--mb-tablet:40px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769635887433 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gUvB1mRKAI"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Biologische_pompoen.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTE0NzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMTQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiBmaWxsPSJ1cmwoI2ctMjA0OC0xNDc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Biologische_pompoen.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTE0NzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMTQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiBmaWxsPSJ1cmwoI2ctMjA0OC0xNDc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "Biologische_pompoen.svg" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMDQ4LTE0NzUiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIwNDgiIGhlaWdodD0iMTQ3NSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjA0OCIgaGVpZ2h0PSIxNDc1IiBmaWxsPSJ1cmwoI2ctMjA0OC0xNDc1KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjA0OCIgdG89IjIwNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "Biologische_pompoen.svg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:50%;--w-tablet:50%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#gvX98lcSt4","target":"_self","title":"Section 8","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="g-MUJ_vEtn"].gp-button-base::before, [data-id="g-MUJ_vEtn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="g-MUJ_vEtn"]:hover::before, [data-id="g-MUJ_vEtn-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#gvX98lcSt4
            target=_self
          ></a>
        <a
          data-id="g-MUJ_vEtn" dataId="g-MUJ_vEtn" data-state="idle" aria-label="<p>Verder lezen</p>"
          
          href="#gvX98lcSt4" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="g-MUJ_vEtn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg-MUJ_vEtn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-604153245870654316 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=604153245769663340&sectionId=604153245870654316)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggJkWjzdl21_text","label":"ggJkWjzdl21_text","default":"<strong>Bewezen resultaat na</strong> 3 weken dagelijks gebruik."},{"type":"html","id":"gg-MUJ_vEtn_label","label":"gg-MUJ_vEtn_label","default":"<p>Verder lezen</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}