
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-608381576916632474.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-608381576916632474.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-608381576916632474.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-608381576916632474.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-608381576916632474.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-608381576916632474.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-608381576916632474.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-608381576916632474.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-608381576916632474.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-608381576916632474.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-608381576916632474.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-608381576916632474.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-608381576916632474.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-608381576916632474.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-608381576916632474.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-608381576916632474.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-608381576916632474.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-608381576916632474.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-608381576916632474.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-608381576916632474.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-608381576916632474.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-608381576916632474.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-608381576916632474.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-608381576916632474.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-608381576916632474.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-608381576916632474.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-608381576916632474.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-608381576916632474.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-608381576916632474.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-608381576916632474.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-608381576916632474.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-608381576916632474.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-608381576916632474.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-608381576916632474.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-608381576916632474.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-608381576916632474.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-608381576916632474.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-608381576916632474.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-608381576916632474.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-608381576916632474.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-608381576916632474.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-608381576916632474.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-608381576916632474.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-608381576916632474.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-608381576916632474.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-608381576916632474.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-608381576916632474.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-608381576916632474.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-608381576916632474.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-608381576916632474.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-608381576916632474.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-608381576916632474.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-608381576916632474.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-608381576916632474.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-608381576916632474.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-608381576916632474.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-608381576916632474.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-608381576916632474.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-608381576916632474.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-608381576916632474.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-608381576916632474.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-608381576916632474.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-608381576916632474.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-608381576916632474.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-608381576916632474.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-608381576916632474.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-608381576916632474.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-608381576916632474.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-608381576916632474.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-608381576916632474.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-608381576916632474.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-608381576916632474.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-608381576916632474.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-608381576916632474.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-608381576916632474.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-608381576916632474.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-608381576916632474.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-608381576916632474.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-608381576916632474.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-608381576916632474.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-608381576916632474.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-608381576916632474.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-608381576916632474.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-608381576916632474.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-608381576916632474.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-608381576916632474.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-608381576916632474 .gp-relative{position:relative}.gps-608381576916632474 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-608381576916632474 .gp-mb-0{margin-bottom:0}.gps-608381576916632474 .gp-inline-block{display:inline-block}.gps-608381576916632474 .gp-flex{display:flex}.gps-608381576916632474 .gp-inline-flex{display:inline-flex}.gps-608381576916632474 .gp-grid{display:grid}.gps-608381576916632474 .gp-contents{display:contents}.gps-608381576916632474 .\!gp-hidden{display:none!important}.gps-608381576916632474 .gp-hidden{display:none}.gps-608381576916632474 .gp-h-auto{height:auto}.gps-608381576916632474 .gp-h-full{height:100%}.gps-608381576916632474 .gp-w-full{width:100%}.gps-608381576916632474 .gp-max-w-full{max-width:100%}.gps-608381576916632474 .gp-flex-none{flex:none}.gps-608381576916632474 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-608381576916632474 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-608381576916632474 .gp-flex-col{flex-direction:column}.gps-608381576916632474 .gp-items-center{align-items:center}.gps-608381576916632474 .gp-justify-center{justify-content:center}.gps-608381576916632474 .gp-overflow-hidden{overflow:hidden}.gps-608381576916632474 .gp-break-words{overflow-wrap:break-word}.gps-608381576916632474 .gp-text-center{text-align:center}.gps-608381576916632474 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-608381576916632474 .gp-no-underline{text-decoration-line:none}.gps-608381576916632474 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608381576916632474 .gp-duration-200{transition-duration:.2s}.gps-608381576916632474 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-608381576916632474 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-608381576916632474 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-608381576916632474 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-608381576916632474 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-608381576916632474 .tablet\:\!gp-hidden{display:none!important}.gps-608381576916632474 .tablet\:gp-hidden{display:none}.gps-608381576916632474 .tablet\:gp-h-auto{height:auto}.gps-608381576916632474 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-608381576916632474 .mobile\:\!gp-hidden{display:none!important}.gps-608381576916632474 .mobile\:gp-hidden{display:none}.gps-608381576916632474 .mobile\:gp-h-auto{height:auto}.gps-608381576916632474 .mobile\:gp-flex-none{flex:none}}.gps-608381576916632474 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-608381576916632474 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFBF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-mN0Tz9nS"}' data-id="g-mN0Tz9nS" id="g-mN0Tz9nS" data-same-height-subgrid-container class="g-mN0Tz9nS gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:0px;--pt:0px;--pl:0px;--pb:24px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:auto;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFBF7;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gD2_J49zOT gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gAw7vagfy_"}' data-id="gAw7vagfy_" id="gAw7vagfy_" data-same-height-subgrid-container class="gAw7vagfy_ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mr:auto;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:21px;--pr-mobile:20px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pl-tablet:20px;--pb-tablet:24px;--pr-tablet:20px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1240px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBNFSoxMXF gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUL1RomBhz"
        class="gUL1RomBhz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:40px;--size-tablet:40px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUL1RomBhz_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8fsvCDyW6"
        class="g8fsvCDyW6"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8fsvCDyW6_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    <div
      role="presentation"
      data-id="gX3O_JYRA_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259010 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gX3O_JYRA_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}" srcset="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}" srcset="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}" data-src="{{ "freepik__-prompt-intieme-close-up-grote-hond-liggend-op-ban__42414.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:contain;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gX3O_JYRA_">
        .gX3O_JYRA_ {

}
.gX3O_JYRA_ > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g8hhyBopSD"
        class="g8hhyBopSD"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg8hhyBopSD_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g8hhyBopSD">
        .g8hhyBopSD {

}
.g8hhyBopSD p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gMLJj3sW97"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:21px;--mb-tablet:24px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259011 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMLJj3sW97"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}" srcset="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}" srcset="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}" data-src="{{ "freepik__-prompt-authentieke-candid-foto-grote-hond-aarzele__42415.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gMLJj3sW97">
        .gMLJj3sW97 {

}
.gMLJj3sW97 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPTwSVyY5h"
        class="gPTwSVyY5h"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:21px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPTwSVyY5h_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gPTwSVyY5h">
        .gPTwSVyY5h {

}
.gPTwSVyY5h p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gri5n7AXLi"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:12px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259012 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gri5n7AXLi"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}" srcset="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}" srcset="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}" data-src="{{ "freepik__-prompt-close-up-portret-grote-hond-zittend-licht-__42416.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gri5n7AXLi">
        .gri5n7AXLi {

}
.gri5n7AXLi > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ge9a5KSnbH"
        class="ge9a5KSnbH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gge9a5KSnbH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-ge9a5KSnbH">
        .ge9a5KSnbH {

}
.ge9a5KSnbH p {

}
      </style>
    
    <div
      role="presentation"
      data-id="gsWssoOhX7"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259013 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gsWssoOhX7"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}" srcset="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}" srcset="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}" data-src="{{ "freepik__-prompt-grote-hond-en-baasje-samen-wandelend-op-ru__42417.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gsWssoOhX7">
        .gsWssoOhX7 {

}
.gsWssoOhX7 > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzo8yEogAi"
        class="gzo8yEogAi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:10px;--mb-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzo8yEogAi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gFhsfhSNUX"
        class="gFhsfhSNUX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-tablet:24px;--mb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggFhsfhSNUX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gFhsfhSNUX">
        .gFhsfhSNUX {

}
.gFhsfhSNUX p {

}
      </style>
    
    <div
      role="presentation"
      data-id="ggf_NnB3dt"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259015 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggf_NnB3dt"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}" srcset="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}" srcset="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}" data-src="{{ "freepik__-prompt-flat-lay-bovenaanzicht-twee-supplement-pot__42418.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-ggf_NnB3dt">
        .ggf_NnB3dt {

}
.ggf_NnB3dt > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLjiklePmH"
        class="gLjiklePmH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLjiklePmH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gLjiklePmH">
        .gLjiklePmH {

}
.gLjiklePmH p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g36C52c-bC"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259016 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g36C52c-bC"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}" srcset="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}" srcset="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}" data-src="{{ "freepik__-prompt-authentieke-candid-foto-oudere-grote-hond-__42419.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g36C52c-bC">
        .g36C52c-bC {

}
.g36C52c-bC > figure > img {

}
      </style>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvYNtH2P0e"
        class="gvYNtH2P0e"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:10px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvYNtH2P0e_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gvYNtH2P0e">
        .gvYNtH2P0e {

}
.gvYNtH2P0e p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:left" >
        <style>[data-id="gwaaTp_UNm"].gp-button-base::before, [data-id="gwaaTp_UNm-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gwaaTp_UNm"]:hover::before, [data-id="gwaaTp_UNm-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gwaaTp_UNm" dataId="gwaaTp_UNm" data-state="idle" aria-label="<p><span style='font-size:16px;'><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#03970D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%"
          class="gwaaTp_UNm gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggwaaTp_UNm_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <div
      role="presentation"
      data-id="gWvfolGbGA"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--mb:24px;--mb-mobile:14px;--ta:center"
      class="gp-group/image gp-relative force-publish-1772378259018 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gWvfolGbGA"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}" srcset="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}" srcset="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}" />
    
      
      <img
        loading="eager" fetchpriority="high"
        src="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}" data-src="{{ "freepik__-prompt-premium-productfoto-petcura-gewrichtssuppl__42412.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:790px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gWvfolGbGA">
        .gWvfolGbGA {

}
.gWvfolGbGA > figure > img {

}
      </style>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-608381576916632474 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=608381576832615322&sectionId=608381576916632474)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggUL1RomBhz_text","label":"ggUL1RomBhz_text","default":"Mijn hond leek gewoon ouder te worden. Maar hij had al maanden pijn."},{"type":"html","id":"gg8fsvCDyW6_text","label":"gg8fsvCDyW6_text","default":"Dierenartsen noemen het het stille probleem: honden verbergen pijn tot het bijna te laat is. Dit is wat je moet weten."},{"type":"html","id":"gg8hhyBopSD_text","label":"gg8hhyBopSD_text","default":"<p>Stel je voor: je hond staat elke ochtend wat moeilijker op.</p><p>&nbsp;</p><p>Je denkt: hij wordt ouder. Dat is normaal.</p><p>&nbsp;</p><p>Maar wat als het geen ouderdom is?</p><p>&nbsp;</p><p>Wat als je hond al maanden pijn heeft — en het gewoon niet kan zeggen? Honden zijn van nature geprogrammeerd om pijn te verbergen. In het wild betekent zwakheid gevaar.&nbsp;</p><p>&nbsp;</p><p>Dus ze gaan door. Ze likken hun wonden. Ze doen alsof er niets aan de hand is.</p><p>&nbsp;</p><p>Totdat ze dat niet meer kunnen.</p><p>&nbsp;</p><p>En tegen die tijd — als je het eindelijk ziet — is het gewrichtsprobleem al verder gevorderd dan je wist.</p>"},{"type":"html","id":"ggPTwSVyY5h_text","label":"ggPTwSVyY5h_text","default":"<p><strong>1. Hij staat 's ochtends stijf op — maar wordt later weer \"normaal\"</strong></p><p>Dit is klassiek vroeg-stadium gewrichtspijn. De stijfheid zit er. Hij warmt alleen op naarmate hij beweegt. Baasjes zien dit als \"hij is gewoon een ochtendmens.\" Het is een waarschuwingssignaal.</p><p>&nbsp;</p><p><strong>2. Hij aarzelt voor de trap</strong></p><p>Een hond die de trap ooit vanzelfsprekend nam en nu even pauzeert — of er omheen loopt — vertelt je iets. Luister.</p><p>&nbsp;</p><p><strong>3. Hij zit scheef of leunt naar één kant</strong></p><p>Honden compenseren pijn door druk van het pijnlijke gewricht te halen. Je ziet het in hoe ze zitten, hoe ze lopen, hoe ze liggen.</p><p>&nbsp;</p><p><strong>4. Hij speelt minder — of stopt eerder</strong></p><p>Minder enthousiasme voor de bal. Korter spelen. Eerder gaan liggen. Niet \"ouder worden.\" Pijnvermijding.</p><p>&nbsp;</p><p><strong>5. Hij beweegt raar met zijn achterpoten (\"konijnensprongetjes\")</strong></p><p>Grotere rassen doen dit soms om druk van de heupen te halen. Als je dit ziet: neem het serieus.</p><p>&nbsp;</p><p><strong>6. Hij is 's nachts onrustig</strong></p><p>Kan niet comfortabel liggen. Staat op, gaat liggen, staat weer op. Pijn maakt het moeilijk om een goede positie te vinden.</p><p>&nbsp;</p><p><strong>7. Hij is stiller dan normaal</strong></p><p>Minder enthousiasme bij de riem. Minder begroeting bij de deur. Minder interesse in zijn omgeving. Chronische pijn put uit — ook bij honden.</p>"},{"type":"html","id":"gge9a5KSnbH_text","label":"gge9a5KSnbH_text","default":"<p>Als je twee of meer van deze dingen herkent bij jouw hond — wacht dan niet.</p><p>&nbsp;</p><p>Niet omdat het meteen catastrofaal is.</p><p>&nbsp;</p><p>Maar omdat gewrichtsproblemen bij honden progressief zijn. Ze gaan zelden vanzelf weg. En elke maand dat je wacht, is een maand dat het kraakbeen verder slijt.</p><p>&nbsp;</p><p>Het goede nieuws?</p><p>&nbsp;</p><p>Vroeg handelen maakt een enorm verschil.</p><p>&nbsp;</p><p>Meer dan 53.000 Nederlandse baasjes kozen ervoor om niet te wachten. Ze zagen hun hond veranderen — soepeler bewegen, makkelijker opstaan, meer energie — simpelweg door de juiste ondersteuning op het juiste moment te geven.</p>"},{"type":"html","id":"ggzo8yEogAi_text","label":"ggzo8yEogAi_text","default":"<strong>Waarom de meeste gewrichtssupplementen voor honden niet werken</strong>"},{"type":"html","id":"ggFhsfhSNUX_text","label":"ggFhsfhSNUX_text","default":"<p>Kijk op de verpakking van de meeste supplementen.</p><p>&nbsp;</p><p>Glucosamine: 550mg. MSM: 0mg. Chondroïtine: 0mg. Hyaluronzuur: 0mg.</p><p>&nbsp;</p><p>Ze bevatten één werkzaam bestanddeel — en zelfs dat vaak in een te lage dosis.</p><p>&nbsp;</p><p>Gezonde gewrichten hebben meerdere dingen tegelijk nodig:</p><p>&nbsp;</p><p><strong>Glucosamine</strong> — bouwt pezen, banden en kraakbeen op en ondersteunt gewrichtsvloeistof. Werkt alleen goed bij voldoende dosering (800mg+).</p><p>&nbsp;</p><p><strong>MSM</strong> — vermindert ontsteking, ondersteunt doorbloeding, helpt bindweefsel herstellen. De meeste supplementen bevatten nul.</p><p>&nbsp;</p><p><strong>Chondroïtine</strong> — remt kraakbeenafbraak en stimuleert collageen. Werkt synergetisch met glucosamine. Vaak weggelaten omdat het duurder is.</p><p>&nbsp;</p><p><strong>Hyaluronzuur</strong> — cruciaal bestanddeel van gewrichtsvloeistof. Zorgt voor smering van binnenuit. Zeldzaam in hondensupplementen.</p><p>&nbsp;</p><p><strong>Groenlipmossel</strong> — bevat van nature glucosamine, chondroïtine én antioxidanten. Werkt ontstekingsremmend.</p><p>&nbsp;</p><p>Wanneer je al deze bestanddelen samen geeft — in de juiste dosering — is het resultaat een andere ervaring dan wat de meeste baasjes gewend zijn.</p><p>&nbsp;</p>"},{"type":"html","id":"ggLjiklePmH_text","label":"ggLjiklePmH_text","default":"<p><i>\"Mijn Husky van 15 jaar had moeite met opstaan en traplopen. Sinds PetCura zie ik een enorme verbetering — ze speelt weer buiten alsof ze jaren jonger is.\"</i> —</p><p>&nbsp;</p><p>Sophie De Lint, geverifieerde koper ⭐⭐⭐⭐⭐</p><p>&nbsp;</p><p><i>\"Na twee weken zag ik al verandering: hij staat sneller op, loopt soepeler en lijkt echt meer plezier te hebben buiten. Zelfs traplopen gaat duidelijk beter.\"</i> — Yara Willems, geverifieerde koper ⭐⭐⭐⭐⭐</p><p>&nbsp;</p><p><i>\"Onze Akita Inu had gewrichtsproblemen en liep moeilijk. Nu, drie maanden later, loopt hij weer normaal. Ik kan het bijna niet geloven.\"</i> — Iris J., geverifieerde koper ⭐⭐⭐⭐⭐</p><p>&nbsp;</p><p><strong>7.135 beoordelingen | Gemiddeld 4.8/5 | 100% zou het aanbevelen</strong></p>"},{"type":"html","id":"ggvYNtH2P0e_text","label":"ggvYNtH2P0e_text","default":"<p><strong>PetCura Gewrichtssnacks</strong> werden ontwikkeld met precies dit probleem in gedachten.</p><p>&nbsp;</p><p>Niet één werkzaam bestanddeel. Acht — in therapeutische doseringen.</p><p>&nbsp;</p><p>Gemaakt in Europa. Zonder massaproductie. Allergievriendelijk.</p><p>&nbsp;</p><p>En getest door meer dan 53.000 honden.</p><p>&nbsp;</p><p>De snacks zijn zo ontwikkeld dat honden ze graag eten — geen gedoe met pillen verstoppen in kaas.</p><p>&nbsp;</p><p><strong>Probeer PetCura 90 dagen risicovrij →</strong></p><p>&nbsp;</p><p>Als jouw hond geen verschil laat zien — krijg je elke euro terug. Gratis retourneren. Geen vragen.</p><p>&nbsp;</p><p><i>Tijdelijk voordeel: bestel vandaag en profiteer van de huidige actieprijs.</i></p>"},{"type":"html","id":"ggwaaTp_UNm_label","label":"ggwaaTp_UNm_label","default":"<p><span style=\"font-size:16px;\"><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}