
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615160210301911767.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-615160210301911767.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-615160210301911767.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615160210301911767.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615160210301911767.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-615160210301911767.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615160210301911767.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615160210301911767.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615160210301911767.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615160210301911767.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-615160210301911767.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-615160210301911767.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-615160210301911767.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615160210301911767.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-615160210301911767.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-615160210301911767.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615160210301911767.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615160210301911767.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615160210301911767.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-615160210301911767.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615160210301911767.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-615160210301911767.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615160210301911767.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-615160210301911767.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615160210301911767.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615160210301911767.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615160210301911767.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615160210301911767.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615160210301911767.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615160210301911767.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615160210301911767.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615160210301911767.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615160210301911767.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615160210301911767.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615160210301911767.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615160210301911767.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615160210301911767.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615160210301911767.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615160210301911767.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-615160210301911767.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615160210301911767.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-615160210301911767.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-615160210301911767.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615160210301911767.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615160210301911767.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615160210301911767.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615160210301911767.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615160210301911767.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615160210301911767.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615160210301911767.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615160210301911767.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-615160210301911767.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615160210301911767.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615160210301911767.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615160210301911767.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-615160210301911767.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615160210301911767.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615160210301911767.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-615160210301911767.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-615160210301911767.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-615160210301911767.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-615160210301911767.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615160210301911767.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615160210301911767.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615160210301911767.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-615160210301911767.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-615160210301911767.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-615160210301911767.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-615160210301911767.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615160210301911767.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615160210301911767.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615160210301911767.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615160210301911767.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-615160210301911767.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-615160210301911767.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-615160210301911767.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615160210301911767.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-615160210301911767.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-615160210301911767.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-615160210301911767.gps.gpsil [style*="--bs-mobile:"]{border-style:var(--bs-mobile)}.gps-615160210301911767.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-615160210301911767.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615160210301911767.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615160210301911767.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615160210301911767.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615160210301911767.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615160210301911767.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-615160210301911767.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-615160210301911767.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-615160210301911767.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615160210301911767.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615160210301911767.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615160210301911767.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615160210301911767.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-615160210301911767.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-615160210301911767.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615160210301911767.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615160210301911767.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-615160210301911767.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-615160210301911767 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-615160210301911767 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-615160210301911767 .gp-relative{position:relative}.gps-615160210301911767 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615160210301911767 .gp-mb-0{margin-bottom:0}.gps-615160210301911767 .gp-block{display:block}.gps-615160210301911767 .gp-flex{display:flex}.gps-615160210301911767 .gp-inline-flex{display:inline-flex}.gps-615160210301911767 .gp-grid{display:grid}.gps-615160210301911767 .\!gp-hidden{display:none!important}.gps-615160210301911767 .gp-hidden{display:none}.gps-615160210301911767 .gp-h-full{height:100%}.gps-615160210301911767 .gp-w-full{width:100%}.gps-615160210301911767 .gp-max-w-full{max-width:100%}.gps-615160210301911767 .gp-flex-none{flex:none}.gps-615160210301911767 .gp-shrink-0{flex-shrink:0}.gps-615160210301911767 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615160210301911767 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-615160210301911767 .gp-flex-col{flex-direction:column}.gps-615160210301911767 .gp-flex-wrap{flex-wrap:wrap}.gps-615160210301911767 .gp-items-center{align-items:center}.gps-615160210301911767 .gp-justify-center{justify-content:center}.gps-615160210301911767 .gp-overflow-hidden{overflow:hidden}.gps-615160210301911767 .gp-break-words{overflow-wrap:break-word}.gps-615160210301911767 .gp-border{border-width:1px}.gps-615160210301911767 .gp-border-transparent{border-color:transparent}.gps-615160210301911767 .gp-text-left{text-align:left}.gps-615160210301911767 .gp-text-center{text-align:center}.gps-615160210301911767 .gp-leading-\[0\]{line-height:0}.gps-615160210301911767 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-615160210301911767 .gp-no-underline{text-decoration-line:none}.gps-615160210301911767 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615160210301911767 .gp-duration-200{transition-duration:.2s}.gps-615160210301911767 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615160210301911767 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-615160210301911767 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-615160210301911767 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-615160210301911767 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-615160210301911767 .tablet\:gp-block{display:block}.gps-615160210301911767 .tablet\:\!gp-hidden{display:none!important}.gps-615160210301911767 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-615160210301911767 .mobile\:gp-block{display:block}.gps-615160210301911767 .mobile\:\!gp-hidden{display:none!important}.gps-615160210301911767 .mobile\:gp-hidden{display:none}}.gps-615160210301911767 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-615160210301911767 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-615160210301911767 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}.gps-615160210301911767 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-615160210301911767 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}.gps-615160210301911767 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-615160210301911767 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-615160210301911767 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}.gps-615160210301911767 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-615160210301911767 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-615160210301911767 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-615160210301911767 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFBF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gu7Ad4MCQc"}' data-id="gu7Ad4MCQc" id="gu7Ad4MCQc" data-same-height-subgrid-container class="gu7Ad4MCQc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:0px;--pl:20px;--pb:80px;--pr:20px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFBF7;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfsrp6pK11 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geBwlyecGe"}' data-id="geBwlyecGe" id="geBwlyecGe" data-same-height-subgrid-container class="geBwlyecGe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gq4JtYsoos gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gO5C0IBbZ1"
        class="gO5C0IBbZ1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggO5C0IBbZ1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gO5C0IBbZ1">
        .gO5C0IBbZ1 {

}
.gO5C0IBbZ1 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gMVaE_s42F"}' data-id="gMVaE_s42F" id="gMVaE_s42F" data-same-height-subgrid-container class="gMVaE_s42F gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzqqSar-OR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g5UjqcKeE1"
        class="g5UjqcKeE1"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:var(--g-s-l);--mb-tablet:12px;--pr-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg5UjqcKeE1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g5UjqcKeE1">
        .g5UjqcKeE1 {

}
.g5UjqcKeE1 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gAaB79qGlA gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gyM_ynzbK0 ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gyM_ynzbK0"
      data-id="gyM_ynzbK0"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--jc:left"
      className="gyM_ynzbK0"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":12,"mobile":16,"tablet":12}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:32px;--pr-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gyM_ynzbK0"
                      style="--cg:3px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00000000;--w:100%;--h:100%;--size-desktop:12px;--size-tablet:12px;--size-mobile:16px"
                        >
                          <svg data-id="522333517066011511" xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
<g clip-path="url(#clip0_1325_1509)">
<path d="M14 7.5C14 9.35652 13.2625 11.137 11.9497 12.4497C10.637 13.7625 8.85652 14.5 7 14.5C5.14348 14.5 3.36301 13.7625 2.05025 12.4497C0.737498 11.137 0 9.35652 0 7.5C0 5.64348 0.737498 3.86301 2.05025 2.55025C3.36301 1.2375 5.14348 0.5 7 0.5C8.85652 0.5 10.637 1.2375 11.9497 2.55025C13.2625 3.86301 14 5.64348 14 7.5ZM10.5262 4.84875C10.4637 4.78647 10.3893 4.73743 10.3074 4.70456C10.2256 4.6717 10.1379 4.65569 10.0497 4.65749C9.96144 4.65928 9.87449 4.67885 9.79401 4.71502C9.71352 4.75119 9.64116 4.80322 9.58125 4.868L6.54238 8.73987L4.711 6.90762C4.5866 6.7917 4.42206 6.7286 4.25204 6.7316C4.08203 6.7346 3.91982 6.80347 3.79958 6.92371C3.67934 7.04394 3.61047 7.20615 3.60747 7.37617C3.60447 7.54618 3.66758 7.71072 3.7835 7.83513L6.09875 10.1512C6.16112 10.2135 6.23539 10.2626 6.31714 10.2955C6.39888 10.3284 6.48642 10.3446 6.57453 10.3429C6.66264 10.3413 6.74952 10.3219 6.82998 10.286C6.91045 10.2501 6.98285 10.1983 7.04287 10.1338L10.5359 5.7675C10.655 5.64369 10.7207 5.47812 10.7191 5.30634C10.7175 5.13456 10.6485 4.97027 10.5271 4.84875H10.5262Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_1509">
<rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggyM_ynzbK0_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px" class="gohFRgzrKr ">
      
    <div data-id="gohFRgzrKr" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#000000" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#000000;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g9n9T8Cezo"}' data-id="g9n9T8Cezo" id="g9n9T8Cezo" data-same-height-subgrid-container class="g9n9T8Cezo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gnpsnouMOZ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g4oGGhqOGE"
        class="g4oGGhqOGE"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--size:10px;--size-tablet:11px;--size-mobile:11px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg4oGGhqOGE_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gULZ3JiaNH gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gtHdFeQvy0"  style="--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gSgjCc9BZL ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g3eqFeuixU" class="gp-leading-[0] g3eqFeuixU" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g3eqFeuixU" class="icon-wrapper gp-inline-flex gp-overflow-hidden g3eqFeuixU " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gi1BZcIMh3 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gZf-AByM8I" class="gp-leading-[0] gZf-AByM8I" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gZf-AByM8I" class="icon-wrapper gp-inline-flex gp-overflow-hidden gZf-AByM8I " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gFbO-c-gM2 ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gHEFtE3vYW" class="gp-leading-[0] gHEFtE3vYW" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gHEFtE3vYW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gHEFtE3vYW " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="grIINpA7ph ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gQQN0wFHst" class="gp-leading-[0] gQQN0wFHst" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gQQN0wFHst" class="icon-wrapper gp-inline-flex gp-overflow-hidden gQQN0wFHst " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gUw-tkWoUT ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="g8MGYqPVLw" class="gp-leading-[0] g8MGYqPVLw" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g8MGYqPVLw" class="icon-wrapper gp-inline-flex gp-overflow-hidden g8MGYqPVLw " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNJW-qa3_y"
        class="gNJW-qa3_y"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNJW-qa3_y_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gNJW-qa3_y">
        .gNJW-qa3_y {

}
.gNJW-qa3_y p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gcp_2x8SEo"}' data-id="gcp_2x8SEo" id="gcp_2x8SEo" data-same-height-subgrid-container class="gcp_2x8SEo gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glaUmlNQKx gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gT1lMWkctk"
        class="gT1lMWkctk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:var(--g-s-l);--mb-tablet:12px;--pr-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggT1lMWkctk_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gT1lMWkctk">
        .gT1lMWkctk {

}
.gT1lMWkctk p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g8kNSjXM0E gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gkP-oKz3Al ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gkP-oKz3Al"
      data-id="gkP-oKz3Al"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--jc:left"
      className="gkP-oKz3Al"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":12,"mobile":16,"tablet":12}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:32px;--pr-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gkP-oKz3Al"
                      style="--cg:3px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00000000;--w:100%;--h:100%;--size-desktop:12px;--size-tablet:12px;--size-mobile:16px"
                        >
                          <svg data-id="522333517066011511" xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
<g clip-path="url(#clip0_1325_1509)">
<path d="M14 7.5C14 9.35652 13.2625 11.137 11.9497 12.4497C10.637 13.7625 8.85652 14.5 7 14.5C5.14348 14.5 3.36301 13.7625 2.05025 12.4497C0.737498 11.137 0 9.35652 0 7.5C0 5.64348 0.737498 3.86301 2.05025 2.55025C3.36301 1.2375 5.14348 0.5 7 0.5C8.85652 0.5 10.637 1.2375 11.9497 2.55025C13.2625 3.86301 14 5.64348 14 7.5ZM10.5262 4.84875C10.4637 4.78647 10.3893 4.73743 10.3074 4.70456C10.2256 4.6717 10.1379 4.65569 10.0497 4.65749C9.96144 4.65928 9.87449 4.67885 9.79401 4.71502C9.71352 4.75119 9.64116 4.80322 9.58125 4.868L6.54238 8.73987L4.711 6.90762C4.5866 6.7917 4.42206 6.7286 4.25204 6.7316C4.08203 6.7346 3.91982 6.80347 3.79958 6.92371C3.67934 7.04394 3.61047 7.20615 3.60747 7.37617C3.60447 7.54618 3.66758 7.71072 3.7835 7.83513L6.09875 10.1512C6.16112 10.2135 6.23539 10.2626 6.31714 10.2955C6.39888 10.3284 6.48642 10.3446 6.57453 10.3429C6.66264 10.3413 6.74952 10.3219 6.82998 10.286C6.91045 10.2501 6.98285 10.1983 7.04287 10.1338L10.5359 5.7675C10.655 5.64369 10.7207 5.47812 10.7191 5.30634C10.7175 5.13456 10.6485 4.97027 10.5271 4.84875H10.5262Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_1509">
<rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkP-oKz3Al_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px" class="gMTyUOeQRy ">
      
    <div data-id="gMTyUOeQRy" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#000000" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#000000;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gxXW6t1fxb"}' data-id="gxXW6t1fxb" id="gxXW6t1fxb" data-same-height-subgrid-container class="gxXW6t1fxb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gOvmBWLeBd gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDcw1Q4FNb"
        class="gDcw1Q4FNb"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--size:10px;--size-tablet:11px;--size-mobile:11px;--weight:bold;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDcw1Q4FNb_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g2wxMJA6nc gp-relative gp-flex gp-flex-col"
    >
      
    
    <div data-id="gGbbOxZEYw"  style="--bs:none;--bs-mobile:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
      <div class="gp-flex gp-flex-wrap" style="--cg:4px;--jc:left;--ai:start">
            <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gzQQDpXbpW ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gnqVoEMpfm" class="gp-leading-[0] gnqVoEMpfm" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gnqVoEMpfm" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnqVoEMpfm " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gRJnTNifFj ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gPWXS8qDao" class="gp-leading-[0] gPWXS8qDao" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gPWXS8qDao" class="icon-wrapper gp-inline-flex gp-overflow-hidden gPWXS8qDao " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gOnNZJuDdo ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gsTv-g0XhE" class="gp-leading-[0] gsTv-g0XhE" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gsTv-g0XhE" class="icon-wrapper gp-inline-flex gp-overflow-hidden gsTv-g0XhE " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="gO7iSU_MJg ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gDo3VdtvBd" class="gp-leading-[0] gDo3VdtvBd" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left">
      <div data-id="gDo3VdtvBd" class="icon-wrapper gp-inline-flex gp-overflow-hidden gDo3VdtvBd " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg xmlns="http://www.w3.org/2000/svg" data-name="star-filled" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="m234.29 114.85-45 38.83L203 211.75a16.4 16.4 0 0 1-24.5 17.82L128 198.49l-50.53 31.08A16.4 16.4 0 0 1 53 211.75l13.76-58.07-45-38.83A16.46 16.46 0 0 1 31.08 86l59-4.76 22.76-55.08a16.36 16.36 0 0 1 30.27 0l22.75 55.08 59 4.76a16.46 16.46 0 0 1 9.37 28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div><div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px" class="ghi-JQpAZD ">
      
    <div  class="gp-flex gp-w-full gp-flex-col gp-items-center">
      
    <div id="gc4foEF6hW" class="gp-leading-[0] gc4foEF6hW" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gc4foEF6hW" class="icon-wrapper gp-inline-flex gp-overflow-hidden gc4foEF6hW " style="--shadow:none">
      
        <div >
          <span style="--c:#FCCC0E;--t:rotate(0deg);--w:16px;--w-tablet:16px;--w-mobile:16px;--h:16px;--h-tablet:16px;--h-mobile:16px;--minw:16px;--minw-tablet:16px;--minw-mobile:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" data-name="star-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817759863701864">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div>
  
      </div>
          </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g31KaOZ1X3"
        class="g31KaOZ1X3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg31KaOZ1X3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-g31KaOZ1X3">
        .g31KaOZ1X3 {

}
.g31KaOZ1X3 p {

}
      </style>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gey_8v42Uh"}' data-id="gey_8v42Uh" id="gey_8v42Uh" data-same-height-subgrid-container class="gey_8v42Uh gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--cg-mobile:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:0px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 5fr) minmax(0, 7fr);--w:var(--g-ct-w, 1200px);--h:auto;--h-mobile:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gLziMGDn8J gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gd2j8v8HP0"
        class="gd2j8v8HP0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pr:32px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:40px;--pb-mobile:0px;--pr-mobile:var(--g-s-l);--mb-tablet:12px;--pr-tablet:12px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggd2j8v8HP0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gd2j8v8HP0">
        .gd2j8v8HP0 {

}
.gd2j8v8HP0 p {

}
      </style>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gqMCmxI3ZP gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper  class="gF9F0LsYOs ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gF9F0LsYOs"
      data-id="gF9F0LsYOs"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--op-tablet:100%;--pageType:GP_STATIC;--mb:8px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:8px;--jc:left"
      className="gF9F0LsYOs"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":12,"mobile":16,"tablet":12}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pr:32px;--pr-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:0px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gF9F0LsYOs"
                      style="--cg:3px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#00000000;--w:100%;--h:100%;--size-desktop:12px;--size-tablet:12px;--size-mobile:16px"
                        >
                          <svg data-id="522333517066011511" xmlns="http://www.w3.org/2000/svg" width="14" height="15" viewBox="0 0 14 15" fill="none">
<g clip-path="url(#clip0_1325_1509)">
<path d="M14 7.5C14 9.35652 13.2625 11.137 11.9497 12.4497C10.637 13.7625 8.85652 14.5 7 14.5C5.14348 14.5 3.36301 13.7625 2.05025 12.4497C0.737498 11.137 0 9.35652 0 7.5C0 5.64348 0.737498 3.86301 2.05025 2.55025C3.36301 1.2375 5.14348 0.5 7 0.5C8.85652 0.5 10.637 1.2375 11.9497 2.55025C13.2625 3.86301 14 5.64348 14 7.5ZM10.5262 4.84875C10.4637 4.78647 10.3893 4.73743 10.3074 4.70456C10.2256 4.6717 10.1379 4.65569 10.0497 4.65749C9.96144 4.65928 9.87449 4.67885 9.79401 4.71502C9.71352 4.75119 9.64116 4.80322 9.58125 4.868L6.54238 8.73987L4.711 6.90762C4.5866 6.7917 4.42206 6.7286 4.25204 6.7316C4.08203 6.7346 3.91982 6.80347 3.79958 6.92371C3.67934 7.04394 3.61047 7.20615 3.60747 7.37617C3.60447 7.54618 3.66758 7.71072 3.7835 7.83513L6.09875 10.1512C6.16112 10.2135 6.23539 10.2626 6.31714 10.2955C6.39888 10.3284 6.48642 10.3446 6.57453 10.3429C6.66264 10.3413 6.74952 10.3219 6.82998 10.286C6.91045 10.2501 6.98285 10.1983 7.04287 10.1338L10.5359 5.7675C10.655 5.64369 10.7207 5.47812 10.7191 5.30634C10.7175 5.13456 10.6485 4.97027 10.5271 4.84875H10.5262Z" fill="#52C41A"/>
</g>
<defs>
<clipPath id="clip0_1325_1509">
<rect width="14" height="14" fill="white" transform="translate(0 0.5)"/>
</clipPath>
</defs>
</svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggF9F0LsYOs_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--pt:12px;--pb:12px;--mb-mobile:0px;--pt-mobile:12px;--pl-mobile:0px;--pb-mobile:12px;--pr-mobile:0px" class="gv60Sv_2sq ">
      
    <div data-id="gv60Sv_2sq" class="gp-flex gp-justify-center">
      <div style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--t:gp-rotate(0deg);--bc:#000000" class="gp-block tablet:gp-block mobile:gp-block"></div>
      <div class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#000000;--t:gp-rotate(0deg)">
        <div class="gp-hidden" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-flex-none gp-items-center gp-justify-center gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s);--ml:var(--g-s-s)"
            >
              Title
            </span>
          
        <div class="gp-flex" style="--bc:#000000;--bs:solid;--bbw:2px;--bbw-tablet:2px;--bbw-mobile:2px;--minw:100%;--w:100%;--w-tablet:100%;--w-mobile:100%"></div>
      </div>
    </div>
  
      </div>
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:left" >
        <style>[data-id="g5y3151-g1"].gp-button-base::before, [data-id="g5y3151-g1-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g5y3151-g1"]:hover::before, [data-id="g5y3151-g1-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g5y3151-g1" dataId="g5y3151-g1" data-state="idle" aria-label="<p><span style='font-size:16px;'><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#03970D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%"
          class="g5y3151-g1 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg5y3151-g1_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-615160210301911767 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615160210251580119&sectionId=615160210301911767)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggO5C0IBbZ1_text","label":"ggO5C0IBbZ1_text","default":"<p>Ik had me er eigenlijk al bij neergelegd. Ik dacht: 'Hij is 9 en het is een Herder, die stijve achterkant hoort er nu eenmaal bij.' Maar toen ik zag dat hij niet meer wilde spelen met zijn favoriete flostouw, brak mijn hart. Petcura was een gokje. Maar wauw. Na ongeveer 10 dagen zag ik die 'vonk' in zijn ogen terugkomen. Hij daagde me weer uit. Gisteren rende hij voor het eerst in tijden weer achter een stok aan zonder daarna mank te lopen. Hij is niet 'genezen' van zijn bouw, maar hij heeft overduidelijk geen pijn meer. Hij heeft er weer zin in!</p>"},{"type":"html","id":"gg5UjqcKeE1_text","label":"gg5UjqcKeE1_text","default":"<p>Rob J.</p>"},{"type":"html","id":"ggyM_ynzbK0_childItem_0","label":"ggyM_ynzbK0_childItem_0","default":"<p><span style=\"font-size:14px;\"><strong>Geverifieerde klant</strong></span></p>"},{"type":"html","id":"gg4oGGhqOGE_text","label":"gg4oGGhqOGE_text","default":"<span style=\"background-color:rgba(255,255,255,0);color:rgb(31,31,31);font-size:16px;\">Geen stoeipartij meer in de ochtend</span>"},{"type":"html","id":"ggNJW-qa3_y_text","label":"ggNJW-qa3_y_text","default":"<p>Mijn herder Max weegt 40 kilo en is slim. Probeer daar maar eens een pil bij naar binnen te krijgen. Ik moest het verstoppen in leverworst, kaas, alles... en nog spuugde hij het uit. Het werd een dagelijkse strijd die ons allebei stress gaf. Met Petcura is dat probleem in één klap weg. Hij bedelt er letterlijk om als ik de pot pak! Het geeft mij zoveel rust dat ik weet dat hij zijn stoffen binnenkrijgt zonder gevecht. En het resultaat mag er zijn: hij komt veel makkelijker zijn mand uit.</p>"},{"type":"html","id":"ggT1lMWkctk_text","label":"ggT1lMWkctk_text","default":"<p>Yara S.</p>"},{"type":"html","id":"ggkP-oKz3Al_childItem_0","label":"ggkP-oKz3Al_childItem_0","default":"<p><span style=\"font-size:14px;\"><strong>Geverifieerde klant</strong></span></p>"},{"type":"html","id":"ggDcw1Q4FNb_text","label":"ggDcw1Q4FNb_text","default":"<span style=\"background-color:rgba(255,255,255,0);color:rgb(31,31,31);font-size:16px;\">Garantie trok me over de streep</span>"},{"type":"html","id":"gg31KaOZ1X3_text","label":"gg31KaOZ1X3_text","default":"<p>Laten we eerlijk zijn: er wordt veel rommel verkocht op internet. Ik geloofde de filmpjes eerst niet. Maar omdat er stond 'niet goed, geld terug', dacht ik: ik heb niks te verliezen behalve de stijfheid van mijn hond. Ik heb de klantenservice niet nodig gehad voor een refund. Na twee weken merkte mijn vrouw op dat Diesel weer soepel de trap op liep, iets wat we hem eigenlijk verboden hadden. Het werkt dus echt. Voor iedereen die twijfelt: probeer het gewoon, je loopt geen risico.</p>"},{"type":"html","id":"ggd2j8v8HP0_text","label":"ggd2j8v8HP0_text","default":"<p>Wim S.</p>"},{"type":"html","id":"ggF9F0LsYOs_childItem_0","label":"ggF9F0LsYOs_childItem_0","default":"<p><span style=\"font-size:14px;\"><strong>Geverifieerde klant</strong></span></p>"},{"type":"html","id":"gg5y3151-g1_label","label":"gg5y3151-g1_label","default":"<p><span style=\"font-size:16px;\"><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}