
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-618049639316849312.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-618049639316849312.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-618049639316849312.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-618049639316849312.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-618049639316849312.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-618049639316849312.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-618049639316849312.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-618049639316849312.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-618049639316849312.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-618049639316849312.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-618049639316849312.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-618049639316849312.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-618049639316849312.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-618049639316849312.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-618049639316849312.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-618049639316849312.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-618049639316849312.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-618049639316849312.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-618049639316849312.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-618049639316849312.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-618049639316849312.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-618049639316849312.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-618049639316849312.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-618049639316849312.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-618049639316849312.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-618049639316849312.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-618049639316849312.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-618049639316849312.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-618049639316849312.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-618049639316849312.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-618049639316849312.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-618049639316849312.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-618049639316849312.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-618049639316849312.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-618049639316849312.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-618049639316849312.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-618049639316849312.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-618049639316849312.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-618049639316849312.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-618049639316849312.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-618049639316849312.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-618049639316849312.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-618049639316849312.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-618049639316849312.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-618049639316849312.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-618049639316849312.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-618049639316849312.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-618049639316849312.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-618049639316849312.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-618049639316849312.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-618049639316849312.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-618049639316849312.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-618049639316849312.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-618049639316849312.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-618049639316849312.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-618049639316849312.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-618049639316849312.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-618049639316849312.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-618049639316849312.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-618049639316849312.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-618049639316849312.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-618049639316849312.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-618049639316849312.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-618049639316849312.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-618049639316849312.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-618049639316849312.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-618049639316849312.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-618049639316849312.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-618049639316849312.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-618049639316849312.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-618049639316849312.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-618049639316849312.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-618049639316849312.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-618049639316849312.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-618049639316849312.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-618049639316849312.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-618049639316849312.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-618049639316849312.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-618049639316849312.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-618049639316849312.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-618049639316849312.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-618049639316849312.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-618049639316849312.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-618049639316849312.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-618049639316849312.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-618049639316849312.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-618049639316849312.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-618049639316849312 .gp-relative{position:relative}.gps-618049639316849312 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-618049639316849312 .gp-mb-0{margin-bottom:0}.gps-618049639316849312 .gp-inline-block{display:inline-block}.gps-618049639316849312 .gp-flex{display:flex}.gps-618049639316849312 .gp-inline-flex{display:inline-flex}.gps-618049639316849312 .gp-grid{display:grid}.gps-618049639316849312 .\!gp-hidden{display:none!important}.gps-618049639316849312 .gp-hidden{display:none}.gps-618049639316849312 .gp-h-auto{height:auto}.gps-618049639316849312 .gp-h-full{height:100%}.gps-618049639316849312 .gp-w-full{width:100%}.gps-618049639316849312 .gp-max-w-full{max-width:100%}.gps-618049639316849312 .gp-flex-none{flex:none}.gps-618049639316849312 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-618049639316849312 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-618049639316849312 .gp-flex-col{flex-direction:column}.gps-618049639316849312 .gp-items-center{align-items:center}.gps-618049639316849312 .gp-justify-center{justify-content:center}.gps-618049639316849312 .gp-overflow-hidden{overflow:hidden}.gps-618049639316849312 .gp-break-words{overflow-wrap:break-word}.gps-618049639316849312 .gp-text-center{text-align:center}.gps-618049639316849312 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-618049639316849312 .gp-no-underline{text-decoration-line:none}.gps-618049639316849312 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-618049639316849312 .gp-duration-200{transition-duration:.2s}.gps-618049639316849312 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-618049639316849312 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-618049639316849312 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-618049639316849312 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-618049639316849312 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-618049639316849312 .tablet\:\!gp-hidden{display:none!important}.gps-618049639316849312 .tablet\:gp-hidden{display:none}.gps-618049639316849312 .tablet\:gp-h-auto{height:auto}.gps-618049639316849312 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-618049639316849312 .mobile\:\!gp-hidden{display:none!important}.gps-618049639316849312 .mobile\:gp-hidden{display:none}.gps-618049639316849312 .mobile\:gp-h-auto{height:auto}.gps-618049639316849312 .mobile\:gp-flex-none{flex:none}}.gps-618049639316849312 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-618049639316849312 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYAZ9hjg&skey=c491285d6722e4fa&v=v20) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2JL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa0ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2ZL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa2pL7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa25L7W0Q5n-wU.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pr:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2l13ce4859c8"}' data-id="i2l13ce4859c8" id="i2l13ce4859c8" data-same-height-subgrid-container class="i2l13ce4859c8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:180px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:140px;--pl-mobile:0px;--pb-mobile:180px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:120px;--pl-tablet:0px;--pb-tablet:180px;--pr-tablet:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-ScGVUkZTlCwK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(250, 251, 251)","type":"color"},"mobile":{"color":"transparent","preload":false,"type":"color"},"tablet":{"color":"transparent","preload":false,"type":"color"}},"uid":"ScGVUkZTlCwK"}' data-id="ScGVUkZTlCwK" id="ScGVUkZTlCwK" data-same-height-subgrid-container class="ScGVUkZTlCwK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:60px;--mr:auto;--pt:var(--g-s-5xl);--pl:48px;--pb:var(--g-s-5xl);--pr:48px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:20px;--pr-mobile:10px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:16px;--pb-tablet:0px;--pr-tablet:16px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:100%;--bgc:rgb(250, 251, 251);--bgc-tablet:transparent;--bgc-mobile:transparent;--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1"
      class="c-yPFGnvZMtFTs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="yPFGnvZMtFTs"
      style="--d:block;--d-mobile:none;--d-tablet:block;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1777944318068 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto yPFGnvZMtFTs"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.gyPFGnvZMtFTs_alt }}" title="{{ section.settings.gyPFGnvZMtFTs_title }}" width="4864" height="3328" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "magnific_make-the-blanket-white_2920710698.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:rounded;--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0"
      class="i2ld4b6f63140 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gRrz2y3e-3"
      style="--d:none;--d-mobile:block;--d-tablet:none;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1777944318069 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gRrz2y3e-3"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      alt="{{ section.settings.ggRrz2y3e-3_alt }}" title="{{ section.settings.ggRrz2y3e-3_title }}" width="4864" height="3328" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "magnific_make-the-blanket-white_2920710698.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--radiusType:rounded;--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full"
    />
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="IITBefyzjeNd"
        class="IITBefyzjeNd"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--size:24px;--size-tablet:24px;--size-mobile:22px;--weight:bold;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gIITBefyzjeNd_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="EdEkFTXhMFOn"
        class="EdEkFTXhMFOn"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:40px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:25px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:#333333;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gEdEkFTXhMFOn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l6e415d3ee6","target":"_self","title":"Section 5","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gITW51nwTc"].gp-button-base::before, [data-id="gITW51nwTc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gITW51nwTc"]:hover::before, [data-id="gITW51nwTc-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l6e415d3ee6
            target=_self
          ></a>
        <a
          data-id="gITW51nwTc" dataId="gITW51nwTc" data-state="idle" aria-label="<p>Wat zijn de signalen?</p>"
          
          href="#i2l6e415d3ee6" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gITW51nwTc gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggITW51nwTc_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-618049639316849312 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=618049639249085088&sectionId=618049639316849312)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gyPFGnvZMtFTs_srcSet_desktop_src","label":"gyPFGnvZMtFTs_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"ggRrz2y3e-3_srcSet_desktop_src","label":"ggRrz2y3e-3_srcSet_desktop_src","default":"https://ucarecdn.com/ee6d5074-1640-4cc7-8933-47c8589c3dee/-/format/auto/"},{"type":"html","id":"gIITBefyzjeNd_text","label":"gIITBefyzjeNd_text","default":"<span style=\"color:rgb(0,0,0);\"><strong>De verborgen schade van stress &amp; angst bij honden</strong></span>"},{"type":"html","id":"gEdEkFTXhMFOn_text","label":"gEdEkFTXhMFOn_text","default":"<p><span style=\"color:rgb(0,0,0);\">Als je hond langdurig stress of angst ervaart, heeft dat niet alleen invloed op zijn gedrag – het tast ook zijn gezondheid en geluk aan. Zonder hulp kunnen angstige honden:</span></p><p>&nbsp;</p><p><span style=\"color:rgb(0,0,0);\"><strong>Chronische stress opbouwen</strong>, wat hun immuunsysteem verzwakt. <strong>Probleemgedrag vertonen</strong>, zoals slopen, onzindelijkheid of agressie uit angst. </span>En <span style=\"color:rgb(0,0,0);\"><strong>genieten ze minder van het leven. </strong>Ze slapen slechter, spelen minder en zijn vaker teruggetrokken.</span></p><p>&nbsp;</p><p><span style=\"color:rgb(0,0,0);\">Laat je dit onopgelost, dan kan het verergeren en uitmonden in dure gedragstrajecten of medicatie</span></p>"},{"type":"html","id":"ggITW51nwTc_label","label":"ggITW51nwTc_label","default":"<p>Wat zijn de signalen?</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}