
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-595062392028463804.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-595062392028463804.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-595062392028463804.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-595062392028463804.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-595062392028463804.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-595062392028463804.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-595062392028463804.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-595062392028463804.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-595062392028463804.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-595062392028463804.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-595062392028463804.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-595062392028463804.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-595062392028463804.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-595062392028463804.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-595062392028463804.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-595062392028463804.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-595062392028463804.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-595062392028463804.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-595062392028463804.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-595062392028463804.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-595062392028463804.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-595062392028463804.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-595062392028463804.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-595062392028463804.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-595062392028463804.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-595062392028463804.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-595062392028463804.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-595062392028463804.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-595062392028463804.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-595062392028463804.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-595062392028463804.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-595062392028463804.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-595062392028463804.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-595062392028463804.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-595062392028463804.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-595062392028463804.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-595062392028463804.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-595062392028463804.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-595062392028463804.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-595062392028463804.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-595062392028463804.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-595062392028463804.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-595062392028463804.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-595062392028463804.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-595062392028463804.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-595062392028463804.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-595062392028463804.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-595062392028463804.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-595062392028463804.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-595062392028463804.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-595062392028463804.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-595062392028463804.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-595062392028463804.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-595062392028463804.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-595062392028463804.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-595062392028463804.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-595062392028463804.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-595062392028463804.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-595062392028463804.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-595062392028463804.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-595062392028463804.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-595062392028463804.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-595062392028463804.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-595062392028463804.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-595062392028463804.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-595062392028463804.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-595062392028463804.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-595062392028463804.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-595062392028463804.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-595062392028463804.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-595062392028463804.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-595062392028463804.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-595062392028463804.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-595062392028463804.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-595062392028463804.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-595062392028463804.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-595062392028463804.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-595062392028463804.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-595062392028463804.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-595062392028463804.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-595062392028463804.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-595062392028463804 .gp-relative{position:relative}.gps-595062392028463804 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-595062392028463804 .gp-mb-0{margin-bottom:0}.gps-595062392028463804 .gp-inline-block{display:inline-block}.gps-595062392028463804 .gp-flex{display:flex}.gps-595062392028463804 .gp-inline-flex{display:inline-flex}.gps-595062392028463804 .gp-grid{display:grid}.gps-595062392028463804 .\!gp-hidden{display:none!important}.gps-595062392028463804 .gp-hidden{display:none}.gps-595062392028463804 .gp-h-auto{height:auto}.gps-595062392028463804 .gp-h-full{height:100%}.gps-595062392028463804 .gp-w-full{width:100%}.gps-595062392028463804 .gp-max-w-full{max-width:100%}.gps-595062392028463804 .gp-flex-none{flex:none}.gps-595062392028463804 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-595062392028463804 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-595062392028463804 .gp-flex-col{flex-direction:column}.gps-595062392028463804 .gp-items-center{align-items:center}.gps-595062392028463804 .gp-justify-center{justify-content:center}.gps-595062392028463804 .gp-overflow-hidden{overflow:hidden}.gps-595062392028463804 .gp-break-words{overflow-wrap:break-word}.gps-595062392028463804 .gp-text-center{text-align:center}.gps-595062392028463804 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-595062392028463804 .gp-no-underline{text-decoration-line:none}.gps-595062392028463804 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595062392028463804 .gp-duration-200{transition-duration:.2s}.gps-595062392028463804 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-595062392028463804 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-595062392028463804 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-595062392028463804 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-595062392028463804 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-595062392028463804 .tablet\:\!gp-hidden{display:none!important}.gps-595062392028463804 .tablet\:gp-hidden{display:none}.gps-595062392028463804 .tablet\:gp-h-auto{height:auto}.gps-595062392028463804 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-595062392028463804 .mobile\:\!gp-hidden{display:none!important}.gps-595062392028463804 .mobile\:gp-hidden{display:none}.gps-595062392028463804 .mobile\:gp-h-auto{height:auto}.gps-595062392028463804 .mobile\:gp-flex-none{flex:none}}.gps-595062392028463804 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-595062392028463804 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 254, 254)","type":"color"}},"uid":"i2l13ce4859c8"}' data-id="i2l13ce4859c8" id="i2l13ce4859c8" data-same-height-subgrid-container class="i2l13ce4859c8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:var(--g-s-3xl);--pl-mobile:10px;--pb-mobile:200px;--pr-mobile:10px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 254, 254);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-ScGVUkZTlCwK gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(250, 251, 251)","type":"color"}},"uid":"ScGVUkZTlCwK"}' data-id="ScGVUkZTlCwK" id="ScGVUkZTlCwK" data-same-height-subgrid-container class="ScGVUkZTlCwK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:1px 1px 1px 1px;--bc:rgb(255, 255, 255);--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mt:0px;--ml:auto;--mb:60px;--mr:auto;--pt:0px;--pl:8px;--pb:20px;--pr:16px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:10px;--pb-mobile:20px;--pr-mobile:10px;--mt-tablet:0px;--ml-tablet:auto;--mb-tablet:60px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:8px;--pb-tablet:20px;--pr-tablet:16px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(250, 251, 251);--bgi:url();--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-yPFGnvZMtFTs gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="yPFGnvZMtFTs"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1764215265158 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto yPFGnvZMtFTs"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1080" height="1080" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "2_34e11afb-8801-4df2-91e2-69577d7d7c46.png" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="i2ld4b6f63140 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="IITBefyzjeNd"
        class="IITBefyzjeNd"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:20px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:600;--size:36px;--size-tablet:41px;--size-mobile:26px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gIITBefyzjeNd_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="EdEkFTXhMFOn"
        class="EdEkFTXhMFOn"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:25px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:25px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:rgb(5, 5, 5);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gEdEkFTXhMFOn_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:25px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:25px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:25px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      data-keep-class="true"
      class="g6TYXMDSLr gp-custom-code">
      <div>
    <div class="warning-box">
    <h3>⚠️ Herken je dit?</h3>
    <p>Je geeft braaf de voorgeschreven middelen, maar je ziet je hond achteruitgaan. Zijn vacht wordt dof, hij wordt trager en de stijfheid komt dwars door de pillen heen terug. Dat komt omdat het gewricht bouwstenen nodig heeft om te herstellen, geen verdoving.</p>
</div>

<style>
.warning-box {
    background: #fff3cd;
    border-left: 4px solid #ffc107;
    padding: 20px;
    margin: 30px 0;
    border-radius: 4px;
}

.warning-box h3 {
    color: #856404;
    margin-bottom: 10px;
    font-weight: 700;
}
</style>
    </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#i2l6e415d3ee6","target":"_self","type":"scroll-to","title":"Section 5"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gITW51nwTc"].gp-button-base::before, [data-id="gITW51nwTc-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gITW51nwTc"]:hover::before, [data-id="gITW51nwTc-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2l6e415d3ee6
            target=_self
          ></a>
        <a
          data-id="gITW51nwTc" dataId="gITW51nwTc" data-state="idle" aria-label="<p>Wat zijn de signalen?</p>"
          
          href="#i2l6e415d3ee6" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="gITW51nwTc gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggITW51nwTc_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-595062392028463804 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=595062391910171324&sectionId=595062392028463804)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gIITBefyzjeNd_text","label":"gIITBefyzjeNd_text","default":"Waarom alleen pijnstilling niet genoeg is"},{"type":"html","id":"gEdEkFTXhMFOn_text","label":"gEdEkFTXhMFOn_text","default":"<p>Veel baasjes denken dat hun hond geholpen is zodra hij een pilletje krijgt en niet meer piept. En ja, medicatie dempt de pijn - het maakt het leven even draaglijker.</p><p>&nbsp;</p><p><strong>Maar wat niemand je vertelt: Pijnstillers herstellen geen beschadigd kraakbeen.</strong></p><p>&nbsp;</p><p>Als je hond stijf is door ouderdom of slijtage, is er schade in het gewricht. Het kraakbeen is versleten. De 'schokdemper' is weg. Pijnstillers plakken slechts het waarschuwingslampje af. En zonder de juiste voeding blijft die schade... zelfs met medicatie.</p>"},{"type":"html","id":"ggITW51nwTc_label","label":"ggITW51nwTc_label","default":"<p>Wat zijn de signalen?</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}