
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615153656467161815.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-615153656467161815.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-615153656467161815.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-615153656467161815.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-615153656467161815.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615153656467161815.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615153656467161815.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-615153656467161815.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615153656467161815.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615153656467161815.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615153656467161815.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615153656467161815.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-615153656467161815.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-615153656467161815.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615153656467161815.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-615153656467161815.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-615153656467161815.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615153656467161815.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-615153656467161815.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615153656467161815.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615153656467161815.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-615153656467161815.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615153656467161815.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-615153656467161815.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615153656467161815.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-615153656467161815.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615153656467161815.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615153656467161815.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615153656467161815.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615153656467161815.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615153656467161815.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615153656467161815.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615153656467161815.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-615153656467161815.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615153656467161815.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615153656467161815.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615153656467161815.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-615153656467161815.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615153656467161815.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615153656467161815.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615153656467161815.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615153656467161815.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615153656467161815.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-615153656467161815.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-615153656467161815.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615153656467161815.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615153656467161815.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615153656467161815.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615153656467161815.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615153656467161815.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615153656467161815.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615153656467161815.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615153656467161815.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-615153656467161815.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-615153656467161815.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615153656467161815.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615153656467161815.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-615153656467161815.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615153656467161815.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615153656467161815.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-615153656467161815.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-615153656467161815.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-615153656467161815.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-615153656467161815.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615153656467161815.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615153656467161815.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615153656467161815.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615153656467161815.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615153656467161815.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-615153656467161815.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615153656467161815.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-615153656467161815.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-615153656467161815.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-615153656467161815.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-615153656467161815.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-615153656467161815.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-615153656467161815.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615153656467161815.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615153656467161815.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615153656467161815.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615153656467161815.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-615153656467161815.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615153656467161815.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615153656467161815.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615153656467161815.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615153656467161815.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-615153656467161815.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-615153656467161815.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615153656467161815.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615153656467161815.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-615153656467161815.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-615153656467161815 .gp-relative{position:relative}.gps-615153656467161815 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615153656467161815 .gp-mb-0{margin-bottom:0}.gps-615153656467161815 .gp-inline-block{display:inline-block}.gps-615153656467161815 .gp-flex{display:flex}.gps-615153656467161815 .gp-inline-flex{display:inline-flex}.gps-615153656467161815 .gp-grid{display:grid}.gps-615153656467161815 .gp-contents{display:contents}.gps-615153656467161815 .\!gp-hidden{display:none!important}.gps-615153656467161815 .gp-hidden{display:none}.gps-615153656467161815 .gp-h-auto{height:auto}.gps-615153656467161815 .gp-h-full{height:100%}.gps-615153656467161815 .gp-w-full{width:100%}.gps-615153656467161815 .gp-max-w-full{max-width:100%}.gps-615153656467161815 .gp-flex-none{flex:none}.gps-615153656467161815 .gp-shrink-0{flex-shrink:0}.gps-615153656467161815 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615153656467161815 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-615153656467161815 .gp-flex-col{flex-direction:column}.gps-615153656467161815 .gp-items-center{align-items:center}.gps-615153656467161815 .gp-justify-center{justify-content:center}.gps-615153656467161815 .gp-overflow-hidden{overflow:hidden}.gps-615153656467161815 .gp-break-words{overflow-wrap:break-word}.gps-615153656467161815 .gp-border{border-width:1px}.gps-615153656467161815 .gp-border-transparent{border-color:transparent}.gps-615153656467161815 .gp-text-left{text-align:left}.gps-615153656467161815 .gp-text-center{text-align:center}.gps-615153656467161815 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-615153656467161815 .gp-no-underline{text-decoration-line:none}.gps-615153656467161815 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615153656467161815 .gp-duration-200{transition-duration:.2s}.gps-615153656467161815 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615153656467161815 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-615153656467161815 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-615153656467161815 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-615153656467161815 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-615153656467161815 .tablet\:\!gp-hidden{display:none!important}.gps-615153656467161815 .tablet\:gp-hidden{display:none}.gps-615153656467161815 .tablet\:gp-h-auto{height:auto}.gps-615153656467161815 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-615153656467161815 .mobile\:\!gp-hidden{display:none!important}.gps-615153656467161815 .mobile\:gp-hidden{display:none}.gps-615153656467161815 .mobile\:gp-h-auto{height:auto}.gps-615153656467161815 .mobile\:gp-flex-none{flex:none}}.gps-615153656467161815 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-615153656467161815 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-615153656467161815 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-615153656467161815 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-615153656467161815 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-615153656467161815 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-615153656467161815 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-615153656467161815 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXw&skey=7bc19f711c0de8f&v=v31) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXw&skey=7bc19f711c0de8f&v=v31) format('woff');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr73w5aXw&skey=7bc19f711c0de8f&v=v31) format('woff');
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WRhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459W1hyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WZhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v31/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:var(--g-ct-p, 15px);--pr:none;--pr-tablet:none;--pr-mobile:var(--g-ct-p, 15px)"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#E5FAFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"guM9vte-Xs"}' data-id="guM9vte-Xs" id="guM9vte-Xs" data-same-height-subgrid-container class="guM9vte-Xs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgc-mobile:#E5FAFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gMhfWVbTQ7 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gK1P4ijw2-"
        class="gK1P4ijw2-"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mb-mobile:16px;--pt-mobile:16px;--pl-mobile:16px;--pr-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:23px;--size-tablet:23px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--weight:bold;--c:#303030;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggK1P4ijw2-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gK1P4ijw2-">
        .gK1P4ijw2- {

}
.gK1P4ijw2- p {

}
      </style>
    
    <div
      role="presentation"
      data-id="g-NizSso-m"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--pl-mobile:16px;--pr-mobile:16px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190865893 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g-NizSso-m"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg-NizSso-m_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg-NizSso-m_srcSet_tablet_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg-NizSso-m_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg-NizSso-m_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  <div gp-el-wrapper  class="gUPu7Nu69T ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gUPu7Nu69T"
      data-id="gUPu7Nu69T"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:10px;--pl-mobile:16px;--pr-mobile:16px;--jc:left"
      className="gUPu7Nu69T"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":"25"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px;--rg-mobile:2px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUPu7Nu69T"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0A6B8D;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" data-name="arrow-fat-right-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817717132067176">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.66,133.66l-96,96A8,8,0,0,1,128,224V184H48a16,16,0,0,1-16-16V88A16,16,0,0,1,48,72h80V32a8,8,0,0,1,13.66-5.66l96,96A8,8,0,0,1,237.66,133.66Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:800;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUPu7Nu69T_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUPu7Nu69T"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0A6B8D;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" data-name="arrow-fat-right-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817717132067176">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.66,133.66l-96,96A8,8,0,0,1,128,224V184H48a16,16,0,0,1-16-16V88A16,16,0,0,1,48,72h80V32a8,8,0,0,1,13.66-5.66l96,96A8,8,0,0,1,237.66,133.66Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:800;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUPu7Nu69T_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gUPu7Nu69T"
                      style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#0A6B8D;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:25px"
                        >
                          <svg height="20" width="20" data-name="arrow-fat-right-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817717132067176">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M237.66,133.66l-96,96A8,8,0,0,1,128,224V184H48a16,16,0,0,1-16-16V88A16,16,0,0,1,48,72h80V32a8,8,0,0,1,13.66-5.66l96,96A8,8,0,0,1,237.66,133.66Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:800;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUPu7Nu69T_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLZAHY54Y0"
        class="gLZAHY54Y0"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:16px;--pr-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLZAHY54Y0_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gu2VMR3han"
        class="gu2VMR3han"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:16px;--pl-mobile:16px;--pr-mobile:16px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:17.2px;--lh:180%;--lh-tablet:180%;--lh-mobile:160%;--c:#303030;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggu2VMR3han_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:16px;--pb-mobile:0px;--pr-mobile:16px;--ta:center;--ta-mobile:center" >
        <style>[data-id="gYqC7GnVCj"].gp-button-base::before, [data-id="gYqC7GnVCj-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gYqC7GnVCj"]:hover::before, [data-id="gYqC7GnVCj-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gYqC7GnVCj" dataId="gYqC7GnVCj" data-state="idle" aria-label="<p>Naar de kennismakingsaanbieding!</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:#0A6B8D;--bg:#DC3545;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--weight:bold;--tt:uppercase"
          class="gYqC7GnVCj gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Montserrat, 'Montserrat'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--weight:bold;--tt:uppercase;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggYqC7GnVCj_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-615153656467161815 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615153656433476311&sectionId=615153656467161815)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggK1P4ijw2-_text","label":"ggK1P4ijw2-_text","default":"<p>Het beste alternatief voor gewrichtsPILLEN</p>"},{"type":"html","id":"gg-NizSso-m_srcSet_desktop_src","label":"gg-NizSso-m_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Untitled_design_5.png"},{"type":"html","id":"gg-NizSso-m_srcSet_tablet_src","label":"gg-NizSso-m_srcSet_tablet_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Untitled_design_5.png"},{"type":"html","id":"gg-NizSso-m_srcSet_mobile_src","label":"gg-NizSso-m_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Untitled_design_5.png"},{"type":"html","id":"ggUPu7Nu69T_childItem_0","label":"ggUPu7Nu69T_childItem_0","default":"<p>Meer werkzame stoffen dan in andere gewrichtstabletten!</p>"},{"type":"html","id":"ggUPu7Nu69T_childItem_1","label":"ggUPu7Nu69T_childItem_1","default":"<p>Hoge acceptatie en zeer goede tolerantie!</p>"},{"type":"html","id":"ggUPu7Nu69T_childItem_2","label":"ggUPu7Nu69T_childItem_2","default":"<p>Ideaal voor honden die geen gewrichtstabletten eten!</p>"},{"type":"html","id":"ggLZAHY54Y0_text","label":"ggLZAHY54Y0_text","default":"<p><span style=\"background-color:rgb(229,250,255);color:rgb(48,48,48);font-size:17.2px;\">Onze gewrichtskauwsnacks zijn ontworpen om een </span><strong>alternatief voor conventionele gewrichtstabletten </strong><span style=\"background-color:rgb(229,250,255);color:rgb(48,48,48);font-size:17.2px;\">aan te bieden. Veel honden hebben gewrichtsproblemen of artrose, maar eten de door de dierenarts voorgeschreven gewrichtstabletten of -capsules niet.</span></p>"},{"type":"html","id":"ggu2VMR3han_text","label":"ggu2VMR3han_text","default":"<p>Vooral bij grote honden wordt het lastig met tabletten of capsules, aangezien de hond dan vaak 10 of zelfs 20 tabletten per dag zou moeten eten. Onze gewrichtskauwsnacks zijn zeer geconcentreerd en bevatten vaak twee keer zoveel werkzame stoffen als vergelijkbare gewrichtstabletten. <strong>Daarom is PetCura de perfecte oplossing voor honden die tabletten afwijzen!</strong></p>"},{"type":"html","id":"ggYqC7GnVCj_label","label":"ggYqC7GnVCj_label","default":"<p>Naar de kennismakingsaanbieding!</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}