
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-591495056381182922.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-591495056381182922.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-591495056381182922.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-591495056381182922.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-591495056381182922.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-591495056381182922.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-591495056381182922.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-591495056381182922.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-591495056381182922.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-591495056381182922.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-591495056381182922.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-591495056381182922.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-591495056381182922.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-591495056381182922.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-591495056381182922.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-591495056381182922.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-591495056381182922.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-591495056381182922.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-591495056381182922.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-591495056381182922.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-591495056381182922.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-591495056381182922.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-591495056381182922.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-591495056381182922.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-591495056381182922.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-591495056381182922.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-591495056381182922.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-591495056381182922.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-591495056381182922.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-591495056381182922.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-591495056381182922.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-591495056381182922.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-591495056381182922.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-591495056381182922.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-591495056381182922.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-591495056381182922.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-591495056381182922.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-591495056381182922.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-591495056381182922.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-591495056381182922.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-591495056381182922.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-591495056381182922.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-591495056381182922.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-591495056381182922.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-591495056381182922.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-591495056381182922.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-591495056381182922.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-591495056381182922.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-591495056381182922.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-591495056381182922.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-591495056381182922.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-591495056381182922.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-591495056381182922.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-591495056381182922.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-591495056381182922.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-591495056381182922.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-591495056381182922.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-591495056381182922.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-591495056381182922.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-591495056381182922.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-591495056381182922.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-591495056381182922.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-591495056381182922.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-591495056381182922.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-591495056381182922.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-591495056381182922.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-591495056381182922.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-591495056381182922.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-591495056381182922.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-591495056381182922.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-591495056381182922.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-591495056381182922.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-591495056381182922.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-591495056381182922.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-591495056381182922.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-591495056381182922.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-591495056381182922.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-591495056381182922.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-591495056381182922.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-591495056381182922.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-591495056381182922.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-591495056381182922.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-591495056381182922.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-591495056381182922.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-591495056381182922.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-591495056381182922.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-591495056381182922.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-591495056381182922.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-591495056381182922 .gp-relative{position:relative}.gps-591495056381182922 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-591495056381182922 .gp-mb-0{margin-bottom:0}.gps-591495056381182922 .gp-inline-block{display:inline-block}.gps-591495056381182922 .gp-flex{display:flex}.gps-591495056381182922 .gp-inline-flex{display:inline-flex}.gps-591495056381182922 .gp-grid{display:grid}.gps-591495056381182922 .\!gp-hidden{display:none!important}.gps-591495056381182922 .gp-hidden{display:none}.gps-591495056381182922 .gp-h-auto{height:auto}.gps-591495056381182922 .gp-h-full{height:100%}.gps-591495056381182922 .gp-w-full{width:100%}.gps-591495056381182922 .gp-max-w-full{max-width:100%}.gps-591495056381182922 .gp-flex-none{flex:none}.gps-591495056381182922 .gp-shrink-0{flex-shrink:0}.gps-591495056381182922 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-591495056381182922 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-591495056381182922 .gp-flex-col{flex-direction:column}.gps-591495056381182922 .gp-items-center{align-items:center}.gps-591495056381182922 .gp-justify-center{justify-content:center}.gps-591495056381182922 .gp-overflow-hidden{overflow:hidden}.gps-591495056381182922 .gp-break-words{overflow-wrap:break-word}.gps-591495056381182922 .gp-border{border-width:1px}.gps-591495056381182922 .gp-border-transparent{border-color:transparent}.gps-591495056381182922 .gp-text-left{text-align:left}.gps-591495056381182922 .gp-text-center{text-align:center}.gps-591495056381182922 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-591495056381182922 .gp-no-underline{text-decoration-line:none}.gps-591495056381182922 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495056381182922 .gp-duration-200{transition-duration:.2s}.gps-591495056381182922 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-591495056381182922 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-591495056381182922 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-591495056381182922 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-591495056381182922 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-591495056381182922 .tablet\:\!gp-hidden{display:none!important}.gps-591495056381182922 .tablet\:gp-hidden{display:none}.gps-591495056381182922 .tablet\:gp-h-auto{height:auto}.gps-591495056381182922 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-591495056381182922 .mobile\:\!gp-hidden{display:none!important}.gps-591495056381182922 .mobile\:gp-hidden{display:none}.gps-591495056381182922 .mobile\:gp-h-auto{height:auto}.gps-591495056381182922 .mobile\:gp-flex-none{flex:none}}.gps-591495056381182922 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-591495056381182922 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-591495056381182922 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-591495056381182922 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-591495056381182922 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-591495056381182922 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-591495056381182922 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-591495056381182922 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuLyfMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuGKYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuFuYMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuDyYMZg.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"color":"rgb(254, 253, 253)","type":"color"}},"uid":"i2l6e415d3ee6"}' data-id="i2l6e415d3ee6" id="i2l6e415d3ee6" data-same-height-subgrid-container class="i2l6e415d3ee6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:none;--d-mobile:grid;--d-tablet:grid;--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:30px;--pl-mobile:10px;--pb-mobile:200px;--pr-mobile:10px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:rgb(254, 253, 253);--bgi:url();--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="c-i2ld859576c10 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"i2ld859576c10"}' data-id="i2ld859576c10" id="i2ld859576c10" data-same-height-subgrid-container class="i2ld859576c10 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="c-XsCgGzwMDgrA gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="XsCgGzwMDgrA"
      style="--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:5px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:left"
      class="gp-group/image gp-relative force-publish-1763432352606 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto XsCgGzwMDgrA"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="1080" height="1080" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMDgwLTEwODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEwODAiIGhlaWdodD0iMTA4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA4MCIgaGVpZ2h0PSIxMDgwIiBmaWxsPSJ1cmwoI2ctMTA4MC0xMDgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTA4MCIgdG89IjEwODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "1_25ccf55c-1e1a-4921-b58e-eeff4b92fba1.png" | file_url }}" data-src="{{ "1_25ccf55c-1e1a-4921-b58e-eeff4b92fba1.png" | file_url }}" data-srcset="{{ '1_25ccf55c-1e1a-4921-b58e-eeff4b92fba1.png' | file_img_url: '768x' }} 768w, {{ '1_25ccf55c-1e1a-4921-b58e-eeff4b92fba1.png' | file_img_url: '1024x' }} 1024w, {{ '1_25ccf55c-1e1a-4921-b58e-eeff4b92fba1.png' | file_img_url: 'master' }} 1440w"
      id=""
      style="--h:auto;--h-tablet:auto;--h-mobile:auto;--bblr:15px;--bbrr:15px;--btlr:15px;--btrr:15px;--radiusType:rounded;--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:4/3;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="i2l0b44be6837 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"sp-i2l83f64e347c"}' data-id="sp-i2l83f64e347c" id="sp-i2l83f64e347c" data-same-height-subgrid-container class="sp-i2l83f64e347c gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:24px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:auto;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="i2l83f64e347c gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="qFjvJCejjKlI"
        class="qFjvJCejjKlI"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mb:24px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352608"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:600;--size:36px;--size-tablet:41px;--size-mobile:26px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gqFjvJCejjKlI_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="oToBlleMERcf"
        class="oToBlleMERcf"
        style="--ta:left;--pageType:GP_STATIC;--mt:0px;--ml:0px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:11px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352625"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-heading, heading);--weight:400;--size:18px;--size-tablet:18px;--size-mobile:18px;--c:rgb(0, 0, 0);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.goToBlleMERcf_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gIlK5Je1WJ ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="gIlK5Je1WJ"
      data-id="gIlK5Je1WJ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:28px;--mb-mobile:40px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:100px;--jc:center"
      className="gIlK5Je1WJ"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":24,"mobile":"24"}}'
    >
      
          <div class="gp-flex" style="--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:Auto;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:12px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIlK5Je1WJ"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#121212;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="check-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352626"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIlK5Je1WJ_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIlK5Je1WJ"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#121212;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="check-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352627"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIlK5Je1WJ_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIlK5Je1WJ"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#121212;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="check-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352628"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIlK5Je1WJ_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-gIlK5Je1WJ"
                      style="--cg:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#121212;--w:100%;--h:100%;--size-desktop:24px;--size-tablet:24px;--size-mobile:24px"
                        >
                          <svg height="20" width="20" data-name="check-circle-filled" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817723125989736">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm45.66,85.66-56,56a8,8,0,0,1-11.32,0l-24-24a8,8,0,0,1,11.32-11.32L112,148.69l50.34-50.35a8,8,0,0,1,11.32,11.32Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1763432352628"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:16px;--size-tablet:16px;--size-mobile:18px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--c:#121212;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIlK5Je1WJ_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"sp-i2l5bae9ee1fa"}' data-id="sp-i2l5bae9ee1fa" id="sp-i2l5bae9ee1fa" data-same-height-subgrid-container class="sp-i2l5bae9ee1fa gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d-mobile:none;--pageType:GP_STATIC;--mt:0px;--ml:auto;--mb:0px;--mr:auto;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--cg-tablet:32px;--gtc:minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--d:none;--d-tablet:none"
      class="i2l5bae9ee1fa gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    <gp-button
      gp-data='{"btnLink":{"link":"#i2lbb1b67909a","target":"_self","title":"Section 6","type":"scroll-to"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center;--ta-mobile:center" >
        <style>[data-id="grAhMPxd8j"].gp-button-base::before, [data-id="grAhMPxd8j-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  
  
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="grAhMPxd8j"]:hover::before, [data-id="grAhMPxd8j-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#i2lbb1b67909a
            target=_self
          ></a>
        <a
          data-id="grAhMPxd8j" dataId="grAhMPxd8j" data-state="idle" aria-label="<p>Wat is de oorzaak?</p>"
          
          href="#i2lbb1b67909a" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:100px;--pr:100px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#33B249;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold"
          class="grAhMPxd8j gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Inter, 'Inter'), var(--g-font-body, body);--size:20px;--size-tablet:16px;--size-mobile:20px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--weight:bold;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggrAhMPxd8j_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-591495056381182922 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=591494857504064141&sectionId=591495056381182922)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gqFjvJCejjKlI_text","label":"gqFjvJCejjKlI_text","default":"Wat zijn de signalen?"},{"type":"html","id":"goToBlleMERcf_text","label":"goToBlleMERcf_text","default":"<p>Hier zijn enkele belangrijke signalen van gewrichtsproblemen bij honden met overgewicht waar je op moet letten:</p>"},{"type":"html","id":"ggIlK5Je1WJ_childItem_0","label":"ggIlK5Je1WJ_childItem_0","default":"<p>Aarzeling bij bewegen</p>"},{"type":"html","id":"ggIlK5Je1WJ_childItem_1","label":"ggIlK5Je1WJ_childItem_1","default":"<p>Trap vermijden</p>"},{"type":"html","id":"ggIlK5Je1WJ_childItem_2","label":"ggIlK5Je1WJ_childItem_2","default":"<p>Minder energie</p>"},{"type":"html","id":"ggIlK5Je1WJ_childItem_3","label":"ggIlK5Je1WJ_childItem_3","default":"<p>Pijn bij aanraking</p>"},{"type":"html","id":"ggrAhMPxd8j_label","label":"ggrAhMPxd8j_label","default":"<p>Wat is de oorzaak?</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}