
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-602867074829845466.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-602867074829845466.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-602867074829845466.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-602867074829845466.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-602867074829845466.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-602867074829845466.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-602867074829845466.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-602867074829845466.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-602867074829845466.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-602867074829845466.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-602867074829845466.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-602867074829845466.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-602867074829845466.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-602867074829845466.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-602867074829845466.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-602867074829845466.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-602867074829845466.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-602867074829845466.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-602867074829845466.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-602867074829845466.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-602867074829845466.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-602867074829845466.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-602867074829845466.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-602867074829845466.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-602867074829845466.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-602867074829845466.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-602867074829845466.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-602867074829845466.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-602867074829845466.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-602867074829845466.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-602867074829845466.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-602867074829845466.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-602867074829845466.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-602867074829845466.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-602867074829845466.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-602867074829845466.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-602867074829845466.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-602867074829845466.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-602867074829845466.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-602867074829845466.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-602867074829845466.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-602867074829845466.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-602867074829845466.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-602867074829845466.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-602867074829845466.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-602867074829845466.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-602867074829845466.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-602867074829845466.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-602867074829845466.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-602867074829845466.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-602867074829845466.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-602867074829845466.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-602867074829845466.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-602867074829845466.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-602867074829845466.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-602867074829845466.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-602867074829845466.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-602867074829845466.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-602867074829845466.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-602867074829845466.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-602867074829845466.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-602867074829845466.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-602867074829845466.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-602867074829845466.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-602867074829845466.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-602867074829845466.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-602867074829845466.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-602867074829845466.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-602867074829845466.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-602867074829845466.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-602867074829845466.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-602867074829845466.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-602867074829845466 .gp-invisible{visibility:hidden}.gps-602867074829845466 .gp-absolute{position:absolute}.gps-602867074829845466 .gp-relative{position:relative}.gps-602867074829845466 .gp-inset-0{inset:0}.gps-602867074829845466 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-602867074829845466 .gp-top-0{top:0}.gps-602867074829845466 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-602867074829845466 .-gp-z-1{z-index:-1}.gps-602867074829845466 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-602867074829845466 .gp-mb-0{margin-bottom:0}.gps-602867074829845466 .gp-flex{display:flex}.gps-602867074829845466 .gp-inline-flex{display:inline-flex}.gps-602867074829845466 .gp-grid{display:grid}.gps-602867074829845466 .\!gp-hidden{display:none!important}.gps-602867074829845466 .gp-hidden{display:none}.gps-602867074829845466 .gp-h-full{height:100%}.gps-602867074829845466 .gp-w-full{width:100%}.gps-602867074829845466 .gp-max-w-full{max-width:100%}.gps-602867074829845466 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-602867074829845466 .gp-flex-col{flex-direction:column}.gps-602867074829845466 .\!gp-content-stretch{align-content:stretch!important}.gps-602867074829845466 .gp-items-center{align-items:center}.gps-602867074829845466 .gp-justify-center{justify-content:center}.gps-602867074829845466 .\!gp-self-center{align-self:center!important}.gps-602867074829845466 .gp-self-center{align-self:center}.gps-602867074829845466 .gp-overflow-hidden{overflow:hidden}.gps-602867074829845466 .gp-break-words{overflow-wrap:break-word}.gps-602867074829845466 .gp-text-center{text-align:center}.gps-602867074829845466 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-602867074829845466 .gp-no-underline{text-decoration-line:none}.gps-602867074829845466 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602867074829845466 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602867074829845466 .gp-duration-200{transition-duration:.2s}.gps-602867074829845466 .gp-duration-300{transition-duration:.3s}.gps-602867074829845466 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-602867074829845466 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-602867074829845466 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-602867074829845466 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-602867074829845466 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-602867074829845466 .tablet\:\!gp-relative{position:relative!important}.gps-602867074829845466 .tablet\:\!gp-hidden{display:none!important}.gps-602867074829845466 .tablet\:gp-hidden{display:none}.gps-602867074829845466 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-602867074829845466 .tablet\:gp-justify-center{justify-content:center}.gps-602867074829845466 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-602867074829845466 .mobile\:\!gp-relative{position:relative!important}.gps-602867074829845466 .mobile\:\!gp-hidden{display:none!important}.gps-602867074829845466 .mobile\:gp-hidden{display:none}.gps-602867074829845466 .mobile\:\!gp-h-auto{height:auto!important}.gps-602867074829845466 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-602867074829845466 .mobile\:gp-justify-center{justify-content:center}.gps-602867074829845466 .mobile\:\!gp-self-center{align-self:center!important}}.gps-602867074829845466 .\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}@media (max-width:1024px){.gps-602867074829845466 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-602867074829845466 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-602867074829845466 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-602867074829845466 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGD1TNXBNK"}' data-id="gGD1TNXBNK" id="gGD1TNXBNK" data-same-height-subgrid-container class="gGD1TNXBNK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glc0z_Fk-T gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gmW-DNcb7a"
        class="gmW-DNcb7a gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--w:100%;--w-tablet:100%;--w-mobile:750px;--h:600px;--h-tablet:600px;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"attachment":"scroll","image":{"backupFileKey":"gempages_588234442166764118-34e67cac-699e-475d-b3c7-aef3c97bded4.svg","height":832,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Untitled_design_12.svg","storage":"FILE_CONTENT","width":1248},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"tablet":{"attachment":"scroll","image":{"backupFileKey":"gempages_588234442166764118-34e67cac-699e-475d-b3c7-aef3c97bded4.svg","height":832,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Untitled_design_12.svg","storage":"FILE_CONTENT","width":1248},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"},"mobile":{"attachment":"scroll","image":{"backupFileKey":"gempages_588234442166764118-34e67cac-699e-475d-b3c7-aef3c97bded4.svg","height":832,"src":"https://cdn.shopify.com/s/files/1/0968/7485/6785/files/Untitled_design_12.svg","storage":"FILE_CONTENT","width":1248},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image","video":"","videoHtml5":"","videoType":"youtube"}},"uid":"gmW-DNcb7a","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"120%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"sizeSetting":{"desktop":{"height":"600px","shape":"custom","shapeLinked":false,"width":"100%","widthHeightLinked":false},"tablet":{"height":"600px","shape":"custom","shapeLinked":false,"width":"100%","widthHeightLinked":false},"mobile":{"customShapeValue":"","gap":"","height":"800px","shape":"custom","shapeLinked":false,"shapeValue":"750/800","width":"750px","widthHeightLinked":false}},"videoObjectFit":{},"target":"_self","href":"","linkType":"","hoverEffectDuration":0.5,"isYoutubeVideoMigrated":true}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:600px;--h-tablet:600px;--h-mobile:auto;--aspect-mobile:750/800;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <div
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNDgtODMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjQ4IiBoZWlnaHQ9IjgzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIGZpbGw9InVybCgjZy0xMjQ4LTgzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNDgiIHRvPSIxMjQ4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSIxMjQ4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjQ4LTEyNDgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyNDgiIGhlaWdodD0iMTI0OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSIxMjQ4IiBmaWxsPSJ1cmwoI2ctMTI0OC0xMjQ4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTI0OCIgdG89IjEyNDgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNDgtODMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjQ4IiBoZWlnaHQ9IjgzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIGZpbGw9InVybCgjZy0xMjQ4LTgzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNDgiIHRvPSIxMjQ4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:120%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 0.5s cubic-bezier(0,0,0,1)">
          
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Untitled_design_12.svg" | file_url }}" data-src="{{ "Untitled_design_12.svg" | file_url }}" data-srcset="{{ "Untitled_design_12.svg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Untitled_design_12.svg" | file_url }}" data-src="{{ "Untitled_design_12.svg" | file_url }}" data-srcset="{{ "Untitled_design_12.svg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0yMjM3LTE2NzgiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjIyMzciIGhlaWdodD0iMTY3OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMjIzNyIgaGVpZ2h0PSIxNjc4IiBmaWxsPSJ1cmwoI2ctMjIzNy0xNjc4KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMjIzNyIgdG89IjIyMzciIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" base-src="{{ "Untitled_design_12.svg" | file_url }}" data-src="{{ "Untitled_design_12.svg" | file_url }}" data-srcset="{{ "Untitled_design_12.svg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        <div aria-label="Overlay" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300" style="--bgc:#282828;--op:25%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-center tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--pl-mobile:16px;--pr-mobile:16px;--pt-mobile:16px;--pb-mobile:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g64Ma-LU5e gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gWL4sBYgEi"
        class="gWL4sBYgEi"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:36px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggWL4sBYgEi_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"link":"https://petcura.nl/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="gfs8iITdXE"].gp-button-base::before, [data-id="gfs8iITdXE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gfs8iITdXE"]:hover::before, [data-id="gfs8iITdXE-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gfs8iITdXE" dataId="gfs8iITdXE" data-state="idle" aria-label="<p>👉 Ontdek de beste complete oplossing</p>"
          
          href="https://petcura.nl/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#028901;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gfs8iITdXE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggfs8iITdXE_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Untitled_design_12.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNDgtODMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjQ4IiBoZWlnaHQ9IjgzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIGZpbGw9InVybCgjZy0xMjQ4LTgzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNDgiIHRvPSIxMjQ4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Untitled_design_12.svg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNDgtODMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjQ4IiBoZWlnaHQ9IjgzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIGZpbGw9InVybCgjZy0xMjQ4LTgzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNDgiIHRvPSIxMjQ4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyNDgtODMyIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjQ4IiBoZWlnaHQ9IjgzMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI0OCIgaGVpZ2h0PSI4MzIiIGZpbGw9InVybCgjZy0xMjQ4LTgzMikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyNDgiIHRvPSIxMjQ4IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Untitled_design_12.svg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect-mobile:750/800;--d:none;--d-tablet:none;--d-mobile:none;--h:600px;--h-tablet:600px;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:750px"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v2-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-602867074829845466 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=602867074728985562&sectionId=602867074829845466)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggWL4sBYgEi_text","label":"ggWL4sBYgEi_text","default":"Waarom alléén Glucosamine niet genoeg is voor gezonde gewrichten"},{"type":"html","id":"ggfs8iITdXE_label","label":"ggfs8iITdXE_label","default":"<p>👉 Ontdek de beste complete oplossing</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}