
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615150596604887767.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-615150596604887767.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615150596604887767.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615150596604887767.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-615150596604887767.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615150596604887767.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615150596604887767.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615150596604887767.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615150596604887767.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-615150596604887767.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-615150596604887767.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615150596604887767.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-615150596604887767.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-615150596604887767.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615150596604887767.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615150596604887767.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615150596604887767.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-615150596604887767.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615150596604887767.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-615150596604887767.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615150596604887767.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-615150596604887767.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615150596604887767.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615150596604887767.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615150596604887767.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615150596604887767.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615150596604887767.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615150596604887767.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615150596604887767.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615150596604887767.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615150596604887767.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615150596604887767.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-615150596604887767.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615150596604887767.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615150596604887767.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615150596604887767.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615150596604887767.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615150596604887767.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-615150596604887767.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615150596604887767.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615150596604887767.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615150596604887767.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615150596604887767.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615150596604887767.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615150596604887767.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615150596604887767.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615150596604887767.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615150596604887767.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615150596604887767.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615150596604887767.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-615150596604887767.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-615150596604887767.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615150596604887767.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615150596604887767.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615150596604887767.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-615150596604887767.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-615150596604887767.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-615150596604887767.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615150596604887767.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615150596604887767.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615150596604887767.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615150596604887767.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-615150596604887767.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-615150596604887767.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-615150596604887767.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-615150596604887767.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-615150596604887767.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-615150596604887767.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-615150596604887767.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-615150596604887767.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-615150596604887767.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615150596604887767.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615150596604887767.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615150596604887767.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615150596604887767.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615150596604887767.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-615150596604887767.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-615150596604887767.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615150596604887767.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615150596604887767.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615150596604887767.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615150596604887767.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615150596604887767.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-615150596604887767.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-615150596604887767 .gp-relative{position:relative}.gps-615150596604887767 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615150596604887767 .gp-mb-0{margin-bottom:0}.gps-615150596604887767 .gp-flex{display:flex}.gps-615150596604887767 .gp-inline-flex{display:inline-flex}.gps-615150596604887767 .gp-grid{display:grid}.gps-615150596604887767 .\!gp-hidden{display:none!important}.gps-615150596604887767 .gp-hidden{display:none}.gps-615150596604887767 .gp-h-full{height:100%}.gps-615150596604887767 .gp-max-w-full{max-width:100%}.gps-615150596604887767 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615150596604887767 .gp-flex-row-reverse{flex-direction:row-reverse}.gps-615150596604887767 .gp-flex-col{flex-direction:column}.gps-615150596604887767 .gp-items-center{align-items:center}.gps-615150596604887767 .gp-justify-center{justify-content:center}.gps-615150596604887767 .gp-overflow-hidden{overflow:hidden}.gps-615150596604887767 .gp-break-words{overflow-wrap:break-word}.gps-615150596604887767 .gp-text-center{text-align:center}.gps-615150596604887767 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-615150596604887767 .gp-no-underline{text-decoration-line:none}.gps-615150596604887767 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615150596604887767 .gp-duration-200{transition-duration:.2s}.gps-615150596604887767 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615150596604887767 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-615150596604887767 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-615150596604887767 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-615150596604887767 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-615150596604887767 .tablet\:\!gp-hidden{display:none!important}.gps-615150596604887767 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-615150596604887767 .mobile\:\!gp-hidden{display:none!important}.gps-615150596604887767 .mobile\:gp-hidden{display:none}}.gps-615150596604887767 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-615150596604887767 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFBF7","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gu7Ad4MCQc"}' data-id="gu7Ad4MCQc" id="gu7Ad4MCQc" data-same-height-subgrid-container class="gu7Ad4MCQc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mb:0px;--pt:0px;--pl:20px;--pb:80px;--pr:20px;--mt-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:30px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFBF7;--bgc-mobile:#FFFFFF;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gfsrp6pK11 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"geBwlyecGe"}' data-id="geBwlyecGe" id="geBwlyecGe" data-same-height-subgrid-container class="geBwlyecGe gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:62px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gq4JtYsoos gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grSUEdtreA"
        class="grSUEdtreA"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-tablet:center;--ff:var(--g-font-heading, heading);--weight:600;--size:33px;--size-tablet:33px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:0px;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrSUEdtreA_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjk3rS3VME"
        class="gjk3rS3VME"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:14px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjk3rS3VME_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
      <style id="custom-css-gjk3rS3VME">
        .gjk3rS3VME {

}
.gjk3rS3VME p {

}
      </style>
    
    <gp-button
      gp-data='{"btnLink":{"link":"/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--mb-mobile:24px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ta:center;--ta-mobile:left" >
        <style>[data-id="gGTf7cAZXn"].gp-button-base::before, [data-id="gGTf7cAZXn-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gGTf7cAZXn"]:hover::before, [data-id="gGTf7cAZXn-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gGTf7cAZXn" dataId="gGTf7cAZXn" data-state="idle" aria-label="<p><span style='font-size:16px;'><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"
          
          href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-mobile:24px;--pr-mobile:24px;--pt-mobile:12px;--pb-mobile:12px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--bgi:;--hvr-bgi:;--hvr-bg:var(--g-c-highlight, highlight);--bg:#03970D;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%"
          class="gGTf7cAZXn gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex gp-flex-row-reverse">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:120%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggGTf7cAZXn_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-615150596604887767 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615150596604822231&sectionId=615150596604887767)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrSUEdtreA_text","label":"ggrSUEdtreA_text","default":"<strong>Jij hebt nu twee opties:</strong>"},{"type":"html","id":"ggjk3rS3VME_text","label":"ggjk3rS3VME_text","default":"<p><strong>Optie #1</strong> is om deze site te verlaten, PetCura niet te bestellen en gewoon door te gaan zoals je nu doet.</p><p>&nbsp;</p><p>Je kunt wachten tot je oude Teckel nóg minder doet.</p><p>&nbsp;</p><p>Je kunt generieke supplementen kopen die niet specifiek gemaakt zijn voor lange-rug rassen.</p><p>&nbsp;</p><p>Je kunt op Bol.com of Amazon naar goedkopere producten zoeken, maar veel daarvan bevatten ingrediënten van mindere kwaliteit.</p><p>&nbsp;</p><p>En tegen de tijd dat je hond écht opgeeft – wanneer hij niet eens meer wil eten, niet meer reageert op je stem – ben je niet meer bezig met helpen, maar met afscheid nemen.</p><p>&nbsp;</p><p><strong>Of je kiest voor optie #2.</strong></p><p>&nbsp;</p><p>En dat betekent dat je gewoon doet wat <strong>duizenden eigenaren van oudere Teckels</strong> vóór jou hebben gedaan:</p><p>&nbsp;</p><p>PetCura uitproberen, <strong>geheel zonder risico.</strong></p><p>&nbsp;</p><p>Het betekent dat je begrijpt wat ik al 15 jaar in mijn praktijk zie:</p><p>&nbsp;</p><p>Dat oude Teckels niet \"klaar\" zijn.</p><p><br>Dat hun lichaam vaak nog kan herstellen.</p><p><br>Dat preventieve ondersteuning – zelfs op 11-jarige leeftijd – het verschil kan maken tussen een hond die alleen maar ligt en een hond die nog leeft.</p><p>&nbsp;</p><p><strong>Het is geen toeval dat je tot hier hebt gelezen.</strong></p><p>&nbsp;</p><p>Dit laat zien dat je wilt dat jouw oude Teckel zijn laatste jaren <strong>geniet</strong> in plaats van alleen maar doorkomt.</p><p>&nbsp;</p><p>Daarom vraag ik je om op jezelf te vertrouwen en de juiste beslissing voor je hond te nemen.</p><p>&nbsp;</p><p>Klik dus op de groene knop onderaan de pagina en schaf Petcura vandaag nog aan.</p><p>&nbsp;</p><p>Maar vergeet niet: deze speciale aanbieding met maximaal 45% korting is alleen geldig als je er nu op tijd bij bent.</p><p>&nbsp;</p><p>Wanneer je deze pagina verlaat, is PetCura alleen nog verkrijgbaar op onze website tegen de normale prijs. Dat is bijna het dubbele van de huidige prijs.</p><p>&nbsp;</p><p><strong>En vergeet niet: je kunt PetCura geheel zonder risico uitproberen.</strong></p><p>&nbsp;</p><p>Ben je niet tevreden, dan krijg je binnen 90 dagen na aankoop je geld volledig terug – geen retourzendingen, geen vragen gesteld.</p><p>&nbsp;</p><p>We zijn ontzettend benieuwd naar jouw ervaringen met Petcura – na één week, vier weken en daarna.</p><p>&nbsp;</p><p>Je zult merken dat je wenst dat je eerder was begonnen!</p>"},{"type":"html","id":"ggGTf7cAZXn_label","label":"ggGTf7cAZXn_label","default":"<p><span style=\"font-size:16px;\"><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}