
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615153656467030743.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-615153656467030743.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-615153656467030743.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615153656467030743.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615153656467030743.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615153656467030743.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615153656467030743.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615153656467030743.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615153656467030743.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615153656467030743.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615153656467030743.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615153656467030743.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615153656467030743.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615153656467030743.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615153656467030743.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615153656467030743.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615153656467030743.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615153656467030743.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615153656467030743.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615153656467030743.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-615153656467030743.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615153656467030743.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615153656467030743.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615153656467030743.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615153656467030743.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615153656467030743.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615153656467030743.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-615153656467030743.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615153656467030743.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615153656467030743.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615153656467030743.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-615153656467030743.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-615153656467030743.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615153656467030743.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615153656467030743.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615153656467030743.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615153656467030743.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615153656467030743.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-615153656467030743.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615153656467030743.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-615153656467030743.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-615153656467030743.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-615153656467030743.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615153656467030743.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615153656467030743.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615153656467030743.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615153656467030743.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615153656467030743.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615153656467030743.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615153656467030743.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615153656467030743.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-615153656467030743.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615153656467030743.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615153656467030743.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-615153656467030743.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615153656467030743.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-615153656467030743.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-615153656467030743.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-615153656467030743.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-615153656467030743.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615153656467030743.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615153656467030743.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-615153656467030743.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615153656467030743.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-615153656467030743.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-615153656467030743.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615153656467030743.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615153656467030743.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-615153656467030743.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-615153656467030743.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-615153656467030743.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-615153656467030743.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-615153656467030743.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-615153656467030743.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615153656467030743.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615153656467030743.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-615153656467030743.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615153656467030743.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615153656467030743.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-615153656467030743.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-615153656467030743.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-615153656467030743.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-615153656467030743.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615153656467030743.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615153656467030743.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615153656467030743.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615153656467030743.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-615153656467030743.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615153656467030743.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-615153656467030743.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-615153656467030743 .gp-rotate-0,.gps-615153656467030743 .gp-rotate-180,.gps-615153656467030743 .mobile\:gp-rotate-0,.gps-615153656467030743 .mobile\:gp-rotate-180,.gps-615153656467030743 .tablet\:gp-rotate-0,.gps-615153656467030743 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-615153656467030743 .gp-absolute{position:absolute}.gps-615153656467030743 .gp-relative{position:relative}.gps-615153656467030743 .gp-left-0{left:0}.gps-615153656467030743 .gp-right-0{right:0}.gps-615153656467030743 .gp-z-1{z-index:1}.gps-615153656467030743 .gp-z-2{z-index:2}.gps-615153656467030743 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615153656467030743 .gp-my-0{margin-bottom:0;margin-top:0}.gps-615153656467030743 .gp-mb-0{margin-bottom:0}.gps-615153656467030743 .gp-block{display:block}.gps-615153656467030743 .gp-inline-block{display:inline-block}.gps-615153656467030743 .gp-flex{display:flex}.gps-615153656467030743 .gp-grid{display:grid}.gps-615153656467030743 .gp-contents{display:contents}.gps-615153656467030743 .\!gp-hidden{display:none!important}.gps-615153656467030743 .gp-hidden{display:none}.gps-615153656467030743 .gp-h-auto{height:auto}.gps-615153656467030743 .gp-h-full{height:100%}.gps-615153656467030743 .\!gp-min-h-full{min-height:100%!important}.gps-615153656467030743 .gp-w-full{width:100%}.gps-615153656467030743 .gp-max-w-full{max-width:100%}.gps-615153656467030743 .gp-flex-1{flex:1 1 0%}.gps-615153656467030743 .gp-flex-none{flex:none}.gps-615153656467030743 .gp-shrink-0{flex-shrink:0}.gps-615153656467030743 .gp-rotate-0{--tw-rotate:0deg}.gps-615153656467030743 .gp-rotate-0,.gps-615153656467030743 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615153656467030743 .gp-rotate-180{--tw-rotate:180deg}.gps-615153656467030743 .gp-cursor-pointer{cursor:pointer}.gps-615153656467030743 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-615153656467030743 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615153656467030743 .\!gp-flex-row{flex-direction:row!important}.gps-615153656467030743 .gp-flex-row{flex-direction:row}.gps-615153656467030743 .gp-flex-col{flex-direction:column}.gps-615153656467030743 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615153656467030743 .gp-items-center{align-items:center}.gps-615153656467030743 .gp-justify-center{justify-content:center}.gps-615153656467030743 .gp-justify-between{justify-content:space-between}.gps-615153656467030743 .gp-gap-2{gap:8px}.gps-615153656467030743 .gp-overflow-hidden{overflow:hidden}.gps-615153656467030743 .gp-text-center{text-align:center}.gps-615153656467030743 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity,1))}.gps-615153656467030743 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615153656467030743 .gp-duration-200{transition-duration:.2s}.gps-615153656467030743 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-615153656467030743 .tablet\:gp-absolute{position:absolute}.gps-615153656467030743 .tablet\:gp-left-0{left:0}.gps-615153656467030743 .tablet\:gp-right-0{right:0}.gps-615153656467030743 .tablet\:gp-block{display:block}.gps-615153656467030743 .tablet\:\!gp-hidden{display:none!important}.gps-615153656467030743 .tablet\:gp-hidden{display:none}.gps-615153656467030743 .tablet\:gp-h-auto{height:auto}.gps-615153656467030743 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-615153656467030743 .tablet\:gp-flex-none{flex:none}.gps-615153656467030743 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-615153656467030743 .tablet\:gp-rotate-0,.gps-615153656467030743 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615153656467030743 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-615153656467030743 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-615153656467030743 .tablet\:gp-flex-row{flex-direction:row}.gps-615153656467030743 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615153656467030743 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-615153656467030743 .mobile\:gp-absolute{position:absolute}.gps-615153656467030743 .mobile\:gp-left-0{left:0}.gps-615153656467030743 .mobile\:gp-right-0{right:0}.gps-615153656467030743 .mobile\:gp-block{display:block}.gps-615153656467030743 .mobile\:\!gp-hidden{display:none!important}.gps-615153656467030743 .mobile\:gp-hidden{display:none}.gps-615153656467030743 .mobile\:gp-h-auto{height:auto}.gps-615153656467030743 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-615153656467030743 .mobile\:gp-flex-none{flex:none}.gps-615153656467030743 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-615153656467030743 .mobile\:gp-rotate-0,.gps-615153656467030743 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-615153656467030743 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-615153656467030743 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-615153656467030743 .mobile\:gp-flex-row{flex-direction:row}.gps-615153656467030743 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-615153656467030743 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-615153656467030743 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-615153656467030743 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-615153656467030743 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOD2U6-3yw"}' data-id="gOD2U6-3yw" id="gOD2U6-3yw" data-same-height-subgrid-container class="gOD2U6-3yw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:grid;--d-tablet:none;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:60px;--pb:48px;--pr:60px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gY8dEed3f4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gtlPjutNfN"}' data-id="gtlPjutNfN" id="gtlPjutNfN" data-same-height-subgrid-container class="gtlPjutNfN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gzPXv_S6D9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gcYvT9pKGr"
        class="gcYvT9pKGr"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-sans-serif, 'sans-serif'), var(--g-font-heading, heading);--size:19px;--size-tablet:19px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:100%;--ls:normal;--weight:bold;--c:#303030;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggcYvT9pKGr_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-carousel gp-data='{"id":"grTsUjWEDv","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Item 1","Item 2","Item 3","Item 4"],"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false,"tablet":false},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12},"dotStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"enableDrag":{"desktop":true},"itemNumber":{"desktop":7,"mobile":4,"tablet":5},"label":true,"loop":{"desktop":true},"navigationEnable":{"desktop":false,"mobile":false,"tablet":false},"navigationStyle":{"desktop":"inside","mobile":"inside","tablet":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50,"mobile":1},"sneakPeakType":{"desktop":"forward","mobile":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"gap":"","height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":"24","mobile":"0"}}}' data-id="grTsUjWEDv" id="gp-root-carousel-grTsUjWEDv" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="grTsUjWEDv gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:16px;--pb:16px;--ml-mobile:16px;--mb-mobile:0px;--mr-mobile:16px;--pt-mobile:0px;--pb-mobile:0px;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:100%;--h-tablet:100%;--h-mobile:100%;gap:16px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-grTsUjWEDv grTsUjWEDv gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:3px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-grTsUjWEDv {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-grTsUjWEDv::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-grTsUjWEDv {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-grTsUjWEDv::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-grTsUjWEDv {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-grTsUjWEDv::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
          <div id="gp-carousel-grTsUjWEDv" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-grTsUjWEDv mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:0px;--cg-tablet:24px;--cg:24px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-grTsUjWEDv gp-child-item-grTsUjWEDv gCz6AX89wA"
      style="--minw:calc(100% / 7 - 20.571428571428573px);--minw-tablet:calc(100% / 5 - 19.2px);--minw-mobile:calc(100% / 3.99 - 0px);--maxw:calc(100% / 7 - 20.571428571428573px);--maxw-tablet:calc(100% / 5 - 19.2px);--maxw-mobile:calc(100% / 3.99 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="g6kF894uvB"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--pt-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190865900 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g6kF894uvB"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg6kF894uvB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzUwIiBoZWlnaHQ9IjkwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNTAtOTAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM1MCIgaGVpZ2h0PSI5MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzUwIiBoZWlnaHQ9IjkwIiBmaWxsPSJ1cmwoI2ctMzUwLTkwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzUwIiB0bz0iMzUwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg6kF894uvB_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gg6kF894uvB_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gg6kF894uvB_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g6kF894uvB">
        .g6kF894uvB {

}
.g6kF894uvB > figure > img {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-grTsUjWEDv gp-child-item-grTsUjWEDv gfxjEc9wha"
      style="--minw:calc(100% / 7 - 20.571428571428573px);--minw-tablet:calc(100% / 5 - 19.2px);--minw-mobile:calc(100% / 3.99 - 0px);--maxw:calc(100% / 7 - 20.571428571428573px);--maxw-tablet:calc(100% / 5 - 19.2px);--maxw-mobile:calc(100% / 3.99 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gMoUV8MOGp"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190865901 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMoUV8MOGp"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggMoUV8MOGp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTQyLTIxNCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTQyIiBoZWlnaHQ9IjIxNCIgZmlsbD0idXJsKCNnLTU0Mi0yMTQpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01NDIiIHRvPSI1NDIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggMoUV8MOGp_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggMoUV8MOGp_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggMoUV8MOGp_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gMoUV8MOGp">
        .gMoUV8MOGp {

}
.gMoUV8MOGp > figure > img {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-grTsUjWEDv gp-child-item-grTsUjWEDv gPMMXK5D7F"
      style="--minw:calc(100% / 7 - 20.571428571428573px);--minw-tablet:calc(100% / 5 - 19.2px);--minw-mobile:calc(100% / 3.99 - 0px);--maxw:calc(100% / 7 - 20.571428571428573px);--maxw-tablet:calc(100% / 5 - 19.2px);--maxw-mobile:calc(100% / 3.99 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="gLxHBI6R-P"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190865903 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gLxHBI6R-P"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggLxHBI6R-P_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIyODgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyMDAtMjg4Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjAwIiBoZWlnaHQ9IjI4OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIyODgiIGZpbGw9InVybCgjZy0xMjAwLTI4OCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyMDAiIHRvPSIxMjAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggLxHBI6R-P_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggLxHBI6R-P_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggLxHBI6R-P_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-gLxHBI6R-P">
        .gLxHBI6R-P {

}
.gLxHBI6R-P > figure > img {

}
      </style>
    
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-grTsUjWEDv gp-child-item-grTsUjWEDv gCm77xpw-k"
      style="--minw:calc(100% / 7 - 20.571428571428573px);--minw-tablet:calc(100% / 5 - 19.2px);--minw-mobile:calc(100% / 3.99 - 0px);--maxw:calc(100% / 7 - 20.571428571428573px);--maxw-tablet:calc(100% / 5 - 19.2px);--maxw-mobile:calc(100% / 3.99 - 0px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    <div
      role="presentation"
      data-id="g4lZzU75-D"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776190865904 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g4lZzU75-D"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg4lZzU75-D_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg4lZzU75-D_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.gg4lZzU75-D_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNjYtNjEiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE2NiIgaGVpZ2h0PSI2MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTY2IiBoZWlnaHQ9IjYxIiBmaWxsPSJ1cmwoI2ctMTY2LTYxKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTY2IiB0bz0iMTY2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.gg4lZzU75-D_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
      <style id="custom-css-g4lZzU75-D">
        .g4lZzU75-D {

}
.g4lZzU75-D > figure > img {

}
      </style>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-grTsUjWEDv grTsUjWEDv gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--bg:transparent;--d:none;--d-tablet:none;--d-mobile:none;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:3px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--w:32px;--h:32px"
    >
      <style type="text/css">
      .gp-carousel-arrow-grTsUjWEDv {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-grTsUjWEDv::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-grTsUjWEDv {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-grTsUjWEDv::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-grTsUjWEDv {
          border-radius: var(--g-radius-small);
        }
        .gp-carousel-arrow-grTsUjWEDv::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          border-radius: var(--g-radius-small);
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
    >
        <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-grTsUjWEDv gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-absolute mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--bottom:16px;--bottom-tablet:16px;--bottom-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-615153656467030743 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/e267df-2/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615153656433476311&sectionId=615153656467030743)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggcYvT9pKGr_text","label":"ggcYvT9pKGr_text","default":"BEKEND VAN"},{"type":"html","id":"gg6kF894uvB_srcSet_desktop_src","label":"gg6kF894uvB_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/logo5.svg"},{"type":"html","id":"ggMoUV8MOGp_srcSet_desktop_src","label":"ggMoUV8MOGp_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/logo6.svg"},{"type":"html","id":"ggLxHBI6R-P_srcSet_desktop_src","label":"ggLxHBI6R-P_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/logo7.svg"},{"type":"html","id":"ggLxHBI6R-P_srcSet_mobile_src","label":"ggLxHBI6R-P_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/Bol_com_logo_svg.png"},{"type":"html","id":"gg4lZzU75-D_srcSet_desktop_src","label":"gg4lZzU75-D_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0775/4671/7507/files/logo11.svg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}