
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600508203075306348.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-600508203075306348.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-600508203075306348.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600508203075306348.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600508203075306348.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600508203075306348.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600508203075306348.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600508203075306348.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600508203075306348.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600508203075306348.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600508203075306348.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600508203075306348.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600508203075306348.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600508203075306348.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600508203075306348.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600508203075306348.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-600508203075306348.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600508203075306348.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600508203075306348.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600508203075306348.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600508203075306348.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600508203075306348.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600508203075306348.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600508203075306348.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600508203075306348.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600508203075306348.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600508203075306348.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600508203075306348.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600508203075306348.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-600508203075306348.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600508203075306348.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600508203075306348.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600508203075306348.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-600508203075306348.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-600508203075306348.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600508203075306348.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600508203075306348.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600508203075306348.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600508203075306348.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600508203075306348.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600508203075306348.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600508203075306348.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600508203075306348.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600508203075306348.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600508203075306348.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600508203075306348.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600508203075306348.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-600508203075306348.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-600508203075306348.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600508203075306348.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-600508203075306348.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600508203075306348.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600508203075306348.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600508203075306348.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-600508203075306348.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-600508203075306348.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600508203075306348.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-600508203075306348.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600508203075306348.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600508203075306348.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600508203075306348.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-600508203075306348 .gp-relative{position:relative}.gps-600508203075306348 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600508203075306348 .gp-mb-0{margin-bottom:0}.gps-600508203075306348 .gp-inline-block{display:inline-block}.gps-600508203075306348 .gp-flex{display:flex}.gps-600508203075306348 .gp-inline-flex{display:inline-flex}.gps-600508203075306348 .gp-grid{display:grid}.gps-600508203075306348 .gp-contents{display:contents}.gps-600508203075306348 .\!gp-hidden{display:none!important}.gps-600508203075306348 .gp-hidden{display:none}.gps-600508203075306348 .gp-h-auto{height:auto}.gps-600508203075306348 .gp-h-full{height:100%}.gps-600508203075306348 .gp-w-full{width:100%}.gps-600508203075306348 .gp-max-w-full{max-width:100%}.gps-600508203075306348 .gp-flex-none{flex:none}.gps-600508203075306348 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600508203075306348 .gp-flex-col{flex-direction:column}.gps-600508203075306348 .gp-items-center{align-items:center}.gps-600508203075306348 .gp-justify-center{justify-content:center}.gps-600508203075306348 .gp-overflow-hidden{overflow:hidden}.gps-600508203075306348 .gp-break-words{overflow-wrap:break-word}.gps-600508203075306348 .gp-text-center{text-align:center}.gps-600508203075306348 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-600508203075306348 .gp-no-underline{text-decoration-line:none}.gps-600508203075306348 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600508203075306348 .gp-duration-200{transition-duration:.2s}.gps-600508203075306348 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600508203075306348 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-600508203075306348 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-600508203075306348 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-600508203075306348 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-600508203075306348 .tablet\:\!gp-hidden{display:none!important}.gps-600508203075306348 .tablet\:gp-hidden{display:none}.gps-600508203075306348 .tablet\:gp-h-auto{height:auto}.gps-600508203075306348 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-600508203075306348 .mobile\:\!gp-hidden{display:none!important}.gps-600508203075306348 .mobile\:gp-hidden{display:none}.gps-600508203075306348 .mobile\:gp-h-auto{height:auto}.gps-600508203075306348 .mobile\:gp-flex-none{flex:none}}.gps-600508203075306348 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-600508203075306348 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWubEbWmT.ttf) format('truetype');
}


@font-face {
  font-family: 'Chakra Petch';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/chakrapetch/v13/cIflMapbsEk7TDLdtEz1BwkeJI9FQA.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v50/KFOMCnqEu92Fr1ME7kSn66aGLdTylUAMQXC89YmC2DPNWuYjammT.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGD1TNXBNK"}' data-id="gGD1TNXBNK" id="gGD1TNXBNK" data-same-height-subgrid-container class="gGD1TNXBNK gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="glc0z_Fk-T gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gIbci2G_T1"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:center"
      class="gp-group/image gp-relative force-publish-1768791954460 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gIbci2G_T1"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "Gemini_Generated_Image_n8io3on8io3on8io_-_Edited.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "Gemini_Generated_Image_n8io3on8io3on8io_-_Edited.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "Gemini_Generated_Image_n8io3on8io3on8io_-_Edited.png" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEyODAtODAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMjgwIiBoZWlnaHQ9IjgwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTI4MCIgaGVpZ2h0PSI4MDAiIGZpbGw9InVybCgjZy0xMjgwLTgwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEyODAiIHRvPSIxMjgwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "Gemini_Generated_Image_n8io3on8io3on8io_-_Edited.png" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"https://petcura.nl/products/gewrichtssnacks","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl-mobile:15px;--pr-mobile:15px;--ta:center" >
        <style>[data-id="gfs8iITdXE"].gp-button-base::before, [data-id="gfs8iITdXE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
  
    }
  
      
  [data-id="gfs8iITdXE"]:hover::before, [data-id="gfs8iITdXE-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="gfs8iITdXE" dataId="gfs8iITdXE" data-state="idle" aria-label="<p><span style='font-size:16px;'><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"
          
          href="https://petcura.nl/products/gewrichtssnacks" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--bgi:;--bg:#028901;--c:var(--g-c-text-3, text-3);--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
          class="gfs8iITdXE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--ff:var(--g-font-Roboto, 'Roboto'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggfs8iITdXE_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-600508203075306348 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/yfjhzv-6z/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=600508202924114796&sectionId=600508203075306348)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfs8iITdXE_label","label":"ggfs8iITdXE_label","default":"<p><span style=\"font-size:16px;\"><strong>Krijg korting &amp; controleer de beschikbaarheid</strong></span></p><p>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}